---
layout: default
page_category: tags
---
<div class="layout-header">
</div>

{% include layout-left.html %}

<div class="layout-center">
  {% include ad/head.html %}

  <header class="index-header">
    <h1>{{ site.data["params"][page.url]["h1"] }}</h1>
  </header>

  <dl class="border-box padding-box nav-box mb10">
  	{% for genre_params in site.data.tag_categories %}
  	<dt><a href="{{genre_params["url"]}}">「{{ genre_params["name"] }}」のタグ</a></dt>
  	<dd>
  	  <ul class="post-tags hlist">
        {% for tag in genre_params["tags"] %}
          {% capture tag_name %}{{ tag[0] }}{% endcapture %}
          {% if site.tags[tag_name].size > 0 %}
            <li><a href="{{ site.data.tag_urls[tag_name] }}">{{ tag[0] }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    <dd>
    {% endfor %}
  </dl>

  {% include ad/foot.html %}
</div>

{% include layout-right.html %}

