<h3>
  八王子駅始発のJR中央本線 下り電車(12本)
</h3><a href="#JR-中央本線-八王子-塩尻方面(下り)-平日">平日(4本)</a>
/ <a href="#JR-中央本線-八王子-塩尻方面(下り)-土曜日">土曜日(4本)</a>
/ <a href="#JR-中央本線-八王子-塩尻方面(下り)-休日">休日(4本)</a>
<dl>
  <a name="JR-中央本線-八王子-塩尻方面(下り)-平日"></a>
  <dt class="list-title">
    平日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          八王子
        </td>
        <td>
          岡谷
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          八王子
        </td>
        <td>
          小淵沢
        </td>
        <td>
          15:46
        </td>
      </tr>
      <tr>
        <td>
          八王子
        </td>
        <td>
          小淵沢
        </td>
        <td>
          17:08
        </td>
      </tr>
      <tr>
        <td>
          八王子
        </td>
        <td>
          甲府
        </td>
        <td>
          17:24
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-中央本線-八王子-塩尻方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          八王子
        </td>
        <td>
          岡谷
        </td>
        <td>
          06:35
        </td>
      </tr>
      <tr>
        <td>
          八王子
        </td>
        <td>
          小淵沢
        </td>
        <td>
          15:45
        </td>
      </tr>
      <tr>
        <td>
          八王子
        </td>
        <td>
          小淵沢
        </td>
        <td>
          17:09
        </td>
      </tr>
      <tr>
        <td>
          八王子
        </td>
        <td>
          甲府
        </td>
        <td>
          17:35
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-中央本線-八王子-塩尻方面(下り)-休日"></a>
  <dt class="list-title">
    休日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          八王子
        </td>
        <td>
          岡谷
        </td>
        <td>
          06:35
        </td>
      </tr>
      <tr>
        <td>
          八王子
        </td>
        <td>
          小淵沢
        </td>
        <td>
          15:45
        </td>
      </tr>
      <tr>
        <td>
          八王子
        </td>
        <td>
          小淵沢
        </td>
        <td>
          17:09
        </td>
      </tr>
      <tr>
        <td>
          八王子
        </td>
        <td>
          甲府
        </td>
        <td>
          17:35
        </td>
      </tr>
    </table>
  </dd>
</dl>
