<h3>
  東京駅始発のJR中央本線 下り電車(12本)
</h3><a href="#JR-中央本線-東京-塩尻方面(下り)-平日">平日(4本)</a>
/ <a href="#JR-中央本線-東京-塩尻方面(下り)-土曜日">土曜日(4本)</a>
/ <a href="#JR-中央本線-東京-塩尻方面(下り)-休日">休日(4本)</a>
<dl>
  <a name="JR-中央本線-東京-塩尻方面(下り)-平日"></a>
  <dt class="list-title">
    平日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          15:15 (特急 かいじ113号)
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          16:15 (特急 かいじ115号)
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          21:45 (特急 かいじ121号)
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          22:45 (特急 かいじ123号)
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-中央本線-東京-塩尻方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          15:15 (特急 かいじ113号)
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          16:15 (特急 かいじ115号)
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          21:45 (特急 かいじ121号)
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          22:45 (特急 かいじ123号)
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-中央本線-東京-塩尻方面(下り)-休日"></a>
  <dt class="list-title">
    休日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          15:15 (特急 かいじ113号)
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          16:15 (特急 かいじ115号)
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          21:45 (特急 かいじ121号)
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          甲府
        </td>
        <td>
          22:45 (特急 かいじ123号)
        </td>
      </tr>
    </table>
  </dd>
</dl>
