<h3>
  御茶ノ水駅始発の中央・総武線 千葉方面電車(67本)
</h3><a href="#中央・総武線-御茶ノ水-千葉方面(東行)-平日">平日(19本)</a>
/ <a href="#中央・総武線-御茶ノ水-千葉方面(東行)-土曜日">土曜日(24本)</a>
/ <a href="#中央・総武線-御茶ノ水-千葉方面(東行)-休日">休日(24本)</a>
<dl>
  <a name="中央・総武線-御茶ノ水-千葉方面(東行)-平日"></a>
  <dt class="list-title">
    平日(19本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          04:29
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          05:18
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          05:38
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          06:11
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:07
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:15
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:23
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          23:30
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:37
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:45
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          23:53
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          00:02
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          00:09
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          00:16
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          00:21
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          00:26
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          00:29
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          00:41
        </td>
      </tr>
    </table>
  </dd>
  <a name="中央・総武線-御茶ノ水-千葉方面(東行)-土曜日"></a>
  <dt class="list-title">
    土曜日(24本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          04:29
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          05:18
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          05:36
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          05:49
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          06:13
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          06:22
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          06:51
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          22:28
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          22:36
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          22:44
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          22:51
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          22:59
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:06
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          23:14
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:23
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          23:31
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:40
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:49
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          23:59
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          00:09
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          00:19
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          00:29
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          00:41
        </td>
      </tr>
    </table>
  </dd>
  <a name="中央・総武線-御茶ノ水-千葉方面(東行)-休日"></a>
  <dt class="list-title">
    休日(24本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          04:29
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          05:18
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          05:36
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          05:49
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          06:13
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          06:22
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          06:51
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          22:28
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          22:36
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          22:44
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          22:51
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          22:59
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:06
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          23:14
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:23
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          23:31
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:40
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          23:49
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          23:59
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          00:09
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          00:19
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          千葉
        </td>
        <td>
          00:29
        </td>
      </tr>
      <tr>
        <td>
          御茶ノ水
        </td>
        <td>
          津田沼
        </td>
        <td>
          00:41
        </td>
      </tr>
    </table>
  </dd>
</dl>
