<h3>
  新宿駅始発のJR中央本線 下り電車(106本)
</h3><a href="#JR-中央本線-新宿-塩尻方面(下り)-平日">平日(27本)</a>
/ <a href="#JR-中央本線-新宿-塩尻方面(下り)-土曜日">土曜日(41本)</a>
/ <a href="#JR-中央本線-新宿-塩尻方面(下り)-休日">休日(38本)</a>
<dl>
  <a name="JR-中央本線-新宿-塩尻方面(下り)-平日"></a>
  <dt class="list-title">
    平日(27本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          07:00 (特急 スーパーあずさ1号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          08:00 (特急 スーパーあずさ5号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          08:30 (特急 あずさ7号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          09:00 (特急 あずさ9号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          09:30 (特急 かいじ101号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          10:00 (特急 スーパーあずさ11号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          10:30 (特急 かいじ103号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          11:00 (特急 あずさ13号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          11:30 (特急 かいじ105号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          12:00 (特急 スーパーあずさ15号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          12:30 (特急 かいじ107号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          13:00 (特急 あずさ17号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          13:30 (特急 かいじ109号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          14:00 (特急 スーパーあずさ19号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          14:30 (特急 かいじ111号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          15:00 (特急 あずさ21号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          16:00 (特急 スーパーあずさ23号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          17:00 (特急 あずさ25号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          17:30 (特急 あずさ27号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          18:00 (特急 スーパーあずさ29号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          竜王
        </td>
        <td>
          18:30 (特急 かいじ117号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          19:00 (特急 あずさ31号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          竜王
        </td>
        <td>
          19:30 (特急 かいじ119号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          20:00 (特急 スーパーあずさ33号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          20:30 (特急 かいじ187号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          21:00 (特急 あずさ35号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          23:54 (快速 ムーンライト信州81号)
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-中央本線-新宿-塩尻方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(41本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          06:30 (特急 あずさ71号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          07:00 (特急 スーパーあずさ1号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          07:00 (特急 スーパーあずさ1号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          小淵沢
        </td>
        <td>
          07:03 (特急 かいじ173号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          07:18 (特急 あずさ51号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          08:00 (特急 スーパーあずさ5号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          08:02 (特急 あずさ53号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          大月
        </td>
        <td>
          08:14 (快速 ホリデー快速富士山1号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          08:30 (特急 あずさ7号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          08:33 (特急 かいじ183号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          大月
        </td>
        <td>
          08:33 (快速 山梨富士3号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          09:00 (特急 あずさ9号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          小淵沢
        </td>
        <td>
          09:02 (快速 ホリデー快速ビューやまなし号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          小淵沢
        </td>
        <td>
          09:02 (快速 ホリデー快速ビューやまなし号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          09:28 (特急 あずさ75号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          09:30 (特急 かいじ101号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          09:30 (特急 かいじ101号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          10:00 (特急 スーパーあずさ11号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          10:09 (特急 あずさ55号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          10:30 (特急 かいじ103号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          11:00 (特急 あずさ13号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          11:02 (特急 あずさ77号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          11:30 (特急 かいじ105号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          12:00 (特急 スーパーあずさ15号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          12:30 (特急 かいじ107号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          13:00 (特急 あずさ17号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          13:30 (特急 かいじ109号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          14:00 (特急 スーパーあずさ19号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          14:30 (特急 かいじ111号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          15:00 (特急 あずさ21号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          16:00 (特急 スーパーあずさ23号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          17:00 (特急 あずさ25号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          17:00 (特急 あずさ25号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          17:30 (特急 あずさ27号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          18:00 (特急 スーパーあずさ29号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          竜王
        </td>
        <td>
          18:30 (特急 かいじ117号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          19:00 (特急 あずさ31号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          竜王
        </td>
        <td>
          19:30 (特急 かいじ119号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          20:00 (特急 スーパーあずさ33号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          21:00 (特急 あずさ35号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          23:54 (快速 ムーンライト信州81号)
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-中央本線-新宿-塩尻方面(下り)-休日"></a>
  <dt class="list-title">
    休日(38本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          07:00 (特急 スーパーあずさ1号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          小淵沢
        </td>
        <td>
          07:03 (特急 かいじ173号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          07:18 (特急 あずさ51号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          08:00 (特急 スーパーあずさ5号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          08:02 (特急 あずさ53号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          大月
        </td>
        <td>
          08:14 (快速 ホリデー快速富士山1号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          08:30 (特急 あずさ7号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          08:33 (特急 かいじ183号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          大月
        </td>
        <td>
          08:33 (快速 山梨富士3号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          09:00 (特急 あずさ9号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          09:00 (特急 あずさ9号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          小淵沢
        </td>
        <td>
          09:02 (快速 ホリデー快速ビューやまなし号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          小淵沢
        </td>
        <td>
          09:02 (快速 ホリデー快速ビューやまなし号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          09:28 (特急 あずさ75号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          09:30 (特急 かいじ101号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          09:30 (特急 かいじ101号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          10:00 (特急 スーパーあずさ11号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          10:09 (特急 あずさ55号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          10:30 (特急 かいじ103号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          11:00 (特急 あずさ13号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          11:30 (特急 かいじ105号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          12:00 (特急 スーパーあずさ15号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          12:00 (特急 スーパーあずさ15号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          12:30 (特急 かいじ107号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          13:00 (特急 あずさ17号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          13:30 (特急 かいじ109号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          上諏訪
        </td>
        <td>
          14:00 (特急 スーパーあずさ19号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          甲府
        </td>
        <td>
          14:30 (特急 かいじ111号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          15:00 (特急 あずさ21号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          16:00 (特急 スーパーあずさ23号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          17:00 (特急 あずさ25号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          17:30 (特急 あずさ27号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          18:00 (特急 スーパーあずさ29号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          竜王
        </td>
        <td>
          18:30 (特急 かいじ117号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          19:00 (特急 あずさ31号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          竜王
        </td>
        <td>
          19:30 (特急 かいじ119号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          20:00 (特急 スーパーあずさ33号)
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          岡谷
        </td>
        <td>
          21:00 (特急 あずさ35号)
        </td>
      </tr>
    </table>
  </dd>
</dl>
