<h3>
  立川駅始発のJR中央本線 下り電車(17本)
</h3><a href="#JR-中央本線-立川-塩尻方面(下り)-平日">平日(5本)</a>
/ <a href="#JR-中央本線-立川-塩尻方面(下り)-土曜日">土曜日(6本)</a>
/ <a href="#JR-中央本線-立川-塩尻方面(下り)-休日">休日(6本)</a>
<dl>
  <a name="JR-中央本線-立川-塩尻方面(下り)-平日"></a>
  <dt class="list-title">
    平日(5本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          06:46
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          岡谷
        </td>
        <td>
          16:04
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          岡谷
        </td>
        <td>
          17:54
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          19:31
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          21:46
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-中央本線-立川-塩尻方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          06:43
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          06:43
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          岡谷
        </td>
        <td>
          16:08
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          岡谷
        </td>
        <td>
          17:51
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          19:28
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          21:46
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-中央本線-立川-塩尻方面(下り)-休日"></a>
  <dt class="list-title">
    休日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          06:43
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          06:43
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          岡谷
        </td>
        <td>
          16:08
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          岡谷
        </td>
        <td>
          17:51
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          19:28
        </td>
      </tr>
      <tr>
        <td>
          立川
        </td>
        <td>
          甲府
        </td>
        <td>
          21:46
        </td>
      </tr>
    </table>
  </dd>
</dl>
