<h3>
  新宿駅始発の中央線快速 上り電車(7本)
</h3><a href="#中央線快速-新宿-東京方面(上り)-平日">平日(1本)</a>
/ <a href="#中央線快速-新宿-東京方面(上り)-土曜日">土曜日(3本)</a>
/ <a href="#中央線快速-新宿-東京方面(上り)-休日">休日(3本)</a>
<dl>
  <a name="中央線快速-新宿-東京方面(上り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新宿
        </td>
        <td>
          新宿（経由）
        </td>
        <td>
          21:07（ホームライナー千葉3号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="中央線快速-新宿-東京方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新宿
        </td>
        <td>
          新宿（経由）
        </td>
        <td>
          07:18（特急 新宿わかしお）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          新宿（経由）
        </td>
        <td>
          07:50（特急 新宿さざなみ1号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          新宿（経由）
        </td>
        <td>
          09:08（特急 新宿さざなみ3号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="中央線快速-新宿-東京方面(上り)-休日"></a>
  <dt class="list-title">
    休日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新宿
        </td>
        <td>
          新宿（経由）
        </td>
        <td>
          07:18（特急 新宿わかしお）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          新宿（経由）
        </td>
        <td>
          07:50（特急 新宿さざなみ1号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          新宿（経由）
        </td>
        <td>
          09:08（特急 新宿さざなみ3号）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  新宿駅始発の中央線快速 下り電車(14本)
</h3><a href="#中央線快速-新宿-高尾方面(下り)-平日">平日(2本)</a>
/ <a href="#中央線快速-新宿-高尾方面(下り)-土曜日">土曜日(6本)</a>
/ <a href="#中央線快速-新宿-高尾方面(下り)-休日">休日(6本)</a>
<dl>
  <a name="中央線快速-新宿-高尾方面(下り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新宿
        </td>
        <td>
          高尾
        </td>
        <td>
          23:29（中央特快）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          高尾
        </td>
        <td>
          00:11（中央特快）
        </td>
      </tr>
    </table>
  </dd>
  <a name="中央線快速-新宿-高尾方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:44（特別快速 ホリデー快速おくたま1号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:44（特別快速 ホリデー快速おくたま1号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:19（特別快速 ホリデー快速おくたま3号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:19（特別快速 ホリデー快速おくたま3号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:47（特別快速 ホリデー快速おくたま5号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:47（特別快速 ホリデー快速おくたま5号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="中央線快速-新宿-高尾方面(下り)-休日"></a>
  <dt class="list-title">
    休日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:44（特別快速 ホリデー快速おくたま1号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:44（特別快速 ホリデー快速おくたま1号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:19（特別快速 ホリデー快速おくたま3号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:19（特別快速 ホリデー快速おくたま3号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:47（特別快速 ホリデー快速おくたま5号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:47（特別快速 ホリデー快速おくたま5号）
        </td>
      </tr>
    </table>
  </dd>
</dl>
