<h3>
  武蔵五日市駅始発の五日市線 上り電車(10本)
</h3><a href="#五日市線-武蔵五日市-拝島方面(上り)-平日">平日(2本)</a>
/ <a href="#五日市線-武蔵五日市-拝島方面(上り)-土曜日">土曜日(4本)</a>
/ <a href="#五日市線-武蔵五日市-拝島方面(上り)-休日">休日(4本)</a>
<dl>
  <a name="五日市線-武蔵五日市-拝島方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵五日市
        </td>
        <td>
          拝島（経由）
        </td>
        <td>
          06:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          武蔵五日市
        </td>
        <td>
          拝島（経由）
        </td>
        <td>
          07:05（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="五日市線-武蔵五日市-拝島方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵五日市
        </td>
        <td>
          拝島（経由）
        </td>
        <td>
          07:26（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          武蔵五日市
        </td>
        <td>
          拝島（経由）
        </td>
        <td>
          15:55（特別快速 ホリデー快速あきがわ2号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵五日市
        </td>
        <td>
          拝島（経由）
        </td>
        <td>
          16:47（特別快速 ホリデー快速あきがわ4号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵五日市
        </td>
        <td>
          拝島（経由）
        </td>
        <td>
          17:21（特別快速 ホリデー快速あきがわ6号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="五日市線-武蔵五日市-拝島方面(上り)-休日"></a>
  <dt class="list-title">
    休日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵五日市
        </td>
        <td>
          拝島（経由）
        </td>
        <td>
          07:26（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          武蔵五日市
        </td>
        <td>
          拝島（経由）
        </td>
        <td>
          15:55（特別快速 ホリデー快速あきがわ2号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵五日市
        </td>
        <td>
          拝島（経由）
        </td>
        <td>
          16:47（特別快速 ホリデー快速あきがわ4号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵五日市
        </td>
        <td>
          拝島（経由）
        </td>
        <td>
          17:21（特別快速 ホリデー快速あきがわ6号）
        </td>
      </tr>
    </table>
  </dd>
</dl>
