<h3>
  水戸駅始発の常磐線 上り電車(41本)
</h3><a href="#常磐線-水戸-上野方面(上り)-平日">平日(15本)</a>
/ <a href="#常磐線-水戸-上野方面(上り)-土曜日">土曜日(13本)</a>
/ <a href="#常磐線-水戸-上野方面(上り)-休日">休日(13本)</a>
<dl>
  <a name="常磐線-水戸-上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(15本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          05:16
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          05:36
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          06:49
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          09:19
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          10:04
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          12:31
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          16:06
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          16:31
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          17:00
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          17:35
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          17:35
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          18:20
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          21:16
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-水戸-上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(13本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          05:16
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          06:49
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          09:19
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          10:04
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          12:31
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          16:06
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          16:31
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          17:00
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          17:35
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          18:20
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          21:16
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-水戸-上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(13本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          05:16
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          06:49
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          09:19
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          10:04
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          12:31
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          16:06
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          16:31
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          17:00
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          17:35
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          上野
        </td>
        <td>
          18:20
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          21:16
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  水戸駅始発の常磐線 下り電車(97本)
</h3><a href="#常磐線-水戸-仙台方面(下り)-平日">平日(32本)</a>
/ <a href="#常磐線-水戸-仙台方面(下り)-土曜日">土曜日(33本)</a>
/ <a href="#常磐線-水戸-仙台方面(下り)-休日">休日(32本)</a>
<dl>
  <a name="常磐線-水戸-仙台方面(下り)-平日"></a>
  <dt class="list-title">
    平日(32本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          05:04
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          05:50
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          竜田
        </td>
        <td>
          06:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          07:02
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          竜田
        </td>
        <td>
          07:14
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          08:17
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          08:38
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          竜田
        </td>
        <td>
          09:06
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          09:34
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          10:05
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          10:33
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          11:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          11:35
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          12:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          12:28
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          13:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          14:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          久ノ浜
        </td>
        <td>
          14:28
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          15:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          15:38
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          16:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          16:25
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          16:53
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          17:15
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          17:35
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          18:15
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          広野
        </td>
        <td>
          18:40
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          19:25
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          20:38
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          21:03
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          大津港
        </td>
        <td>
          22:55
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-水戸-仙台方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(33本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          05:04
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          05:50
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          竜田
        </td>
        <td>
          06:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          07:02
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          竜田
        </td>
        <td>
          07:14
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          08:17
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          08:38
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          竜田
        </td>
        <td>
          09:06
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          09:34
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          10:05
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          10:33
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          11:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          11:35
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          12:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          12:28
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          13:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          14:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          久ノ浜
        </td>
        <td>
          14:28
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          15:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          15:38
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          16:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          16:25
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          16:53
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          17:15
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          17:35
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          18:15
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          広野
        </td>
        <td>
          18:40
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          19:25
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          20:38
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          21:03
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          21:05
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          大津港
        </td>
        <td>
          22:55
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-水戸-仙台方面(下り)-休日"></a>
  <dt class="list-title">
    休日(32本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          05:04
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          05:50
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          竜田
        </td>
        <td>
          06:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          07:02
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          竜田
        </td>
        <td>
          07:14
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          08:17
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          08:38
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          竜田
        </td>
        <td>
          09:06
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          09:34
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          10:05
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          10:33
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          11:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          11:35
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          12:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          12:28
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          13:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          14:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          久ノ浜
        </td>
        <td>
          14:28
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          15:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          15:38
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          16:10
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          16:25
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          16:53
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          高萩
        </td>
        <td>
          17:15
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          17:35
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          18:15
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          広野
        </td>
        <td>
          18:40
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          19:25
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          20:38
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          いわき
        </td>
        <td>
          21:03
        </td>
      </tr>
      <tr>
        <td>
          水戸
        </td>
        <td>
          大津港
        </td>
        <td>
          22:55
        </td>
      </tr>
    </table>
  </dd>
</dl>
