<h3>
  取手駅始発の常磐線快速 上り電車(232本)
</h3><a href="#常磐線快速-取手-上野方面(上り)-平日">平日(82本)</a>
/ <a href="#常磐線快速-取手-上野方面(上り)-土曜日">土曜日(75本)</a>
/ <a href="#常磐線快速-取手-上野方面(上り)-休日">休日(75本)</a>
<dl>
  <a name="常磐線快速-取手-上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(82本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          04:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          05:05（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          05:34（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          05:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:05（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:18（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:57（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:14（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:27（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:50（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:57（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          10:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          10:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          10:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          11:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          11:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          12:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          12:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          13:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          13:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          14:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          14:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:59（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:34（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:27（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:14（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          21:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          21:14（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          21:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          21:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          00:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          松戸
        </td>
        <td>
          00:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          松戸
        </td>
        <td>
          00:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          松戸
        </td>
        <td>
          00:47（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線快速-取手-上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(75本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          04:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          05:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          05:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          05:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:18（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:34（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:48（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:56（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          10:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          10:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          10:49（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          11:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          11:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          12:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          12:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          13:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          13:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          14:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          14:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:34（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:59（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:26（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:14（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          21:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          21:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          21:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          00:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          松戸
        </td>
        <td>
          00:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          松戸
        </td>
        <td>
          00:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          松戸
        </td>
        <td>
          00:47（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線快速-取手-上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(75本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          04:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          05:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          05:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          05:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          06:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:18（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:34（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:48（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          07:56（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          08:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          09:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          10:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          10:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          10:49（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          11:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          11:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          12:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          12:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          13:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          13:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          14:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          14:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          15:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          16:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:34（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          17:59（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:26（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          18:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:14（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          19:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          20:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          21:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          21:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          21:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          22:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          23:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          上野
        </td>
        <td>
          00:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          松戸
        </td>
        <td>
          00:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          松戸
        </td>
        <td>
          00:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          松戸
        </td>
        <td>
          00:47（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
