<h3>
  土浦駅始発の常磐線 上り電車(90本)
</h3><a href="#常磐線-土浦-上野方面(上り)-平日">平日(32本)</a>
/ <a href="#常磐線-土浦-上野方面(上り)-土曜日">土曜日(29本)</a>
/ <a href="#常磐線-土浦-上野方面(上り)-休日">休日(29本)</a>
<dl>
  <a name="常磐線-土浦-上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(32本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          05:47
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          06:05（特急 フレッシュひたち2号）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          06:54
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          07:10
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          07:16
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          07:35
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          09:28
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          09:42
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          10:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          10:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          11:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          11:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          12:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          12:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          13:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          13:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          14:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          14:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          14:32
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          15:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          15:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          16:40
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          16:51
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          17:45
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          18:39
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          19:07
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          19:47
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          20:06
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          20:14
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          20:48
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          22:00
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-土浦-上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(29本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          05:47
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          06:05（特急 フレッシュひたち2号）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          07:33
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          09:28
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          09:42
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          10:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          10:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          11:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          11:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          12:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          12:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          13:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          13:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          14:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          14:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          14:32
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          15:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          15:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          16:40
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          16:51
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          17:45
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          18:39
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          19:07
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          19:47
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          20:06
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          20:14
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          20:48
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          22:00
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-土浦-上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(29本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          05:47
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          06:05（特急 フレッシュひたち2号）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          07:33
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          09:28
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          09:42
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          10:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          10:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          11:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          11:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          12:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          12:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          13:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          13:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          14:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          14:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          14:32
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          15:00（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          15:12
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          16:40
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          16:51
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          17:45
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          18:39
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          19:07
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          19:47
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          20:06
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          20:14
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          20:48
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          上野
        </td>
        <td>
          22:00
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  土浦駅始発の常磐線 下り電車(12本)
</h3><a href="#常磐線-土浦-仙台方面(下り)-平日">平日(4本)</a>
/ <a href="#常磐線-土浦-仙台方面(下り)-土曜日">土曜日(4本)</a>
/ <a href="#常磐線-土浦-仙台方面(下り)-休日">休日(4本)</a>
<dl>
  <a name="常磐線-土浦-仙台方面(下り)-平日"></a>
  <dt class="list-title">
    平日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          土浦
        </td>
        <td>
          高萩
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          いわき
        </td>
        <td>
          06:37
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          いわき
        </td>
        <td>
          12:33
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          勝田
        </td>
        <td>
          14:34
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-土浦-仙台方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          土浦
        </td>
        <td>
          高萩
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          いわき
        </td>
        <td>
          06:37
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          いわき
        </td>
        <td>
          12:33
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          勝田
        </td>
        <td>
          14:34
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-土浦-仙台方面(下り)-休日"></a>
  <dt class="list-title">
    休日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          土浦
        </td>
        <td>
          高萩
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          いわき
        </td>
        <td>
          06:37
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          いわき
        </td>
        <td>
          12:33
        </td>
      </tr>
      <tr>
        <td>
          土浦
        </td>
        <td>
          勝田
        </td>
        <td>
          14:34
        </td>
      </tr>
    </table>
  </dd>
</dl>
