<h3>
  我孫子駅始発の常磐線快速 上り電車(8本)
</h3><a href="#常磐線快速-我孫子-上野方面(上り)-平日">平日(2本)</a>
/ <a href="#常磐線快速-我孫子-上野方面(上り)-土曜日">土曜日(3本)</a>
/ <a href="#常磐線快速-我孫子-上野方面(上り)-休日">休日(3本)</a>
<dl>
  <a name="常磐線快速-我孫子-上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          上野
        </td>
        <td>
          18:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          上野
        </td>
        <td>
          19:45（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線快速-我孫子-上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          上野
        </td>
        <td>
          15:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          上野
        </td>
        <td>
          16:07（快速）
        </td>
      </tr>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          上野
        </td>
        <td>
          17:04（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線快速-我孫子-上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          上野
        </td>
        <td>
          15:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          上野
        </td>
        <td>
          16:07（快速）
        </td>
      </tr>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          上野
        </td>
        <td>
          17:04（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
