<h3>
  上野駅始発の常磐線 下り電車(308本)
</h3><a href="#常磐線-上野-仙台方面(下り)-平日">平日(105本)</a>
/ <a href="#常磐線-上野-仙台方面(下り)-土曜日">土曜日(102本)</a>
/ <a href="#常磐線-上野-仙台方面(下り)-休日">休日(101本)</a>
<dl>
  <a name="常磐線-上野-仙台方面(下り)-平日"></a>
  <dt class="list-title">
    平日(105本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          05:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          06:04
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          06:31
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          06:51
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          07:00（特急 スーパーひたち3号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          07:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          07:30（特急 フレッシュひたち5号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          07:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          07:49
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          08:00（特急 スーパーひたち7号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          08:06
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          08:17
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          08:24
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          08:30（特急 フレッシュひたち9号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          08:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          08:42
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          08:49
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          08:56
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          09:00（特急 スーパーひたち11号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          09:08
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          09:19
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          09:30（特急 フレッシュひたち13号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          09:49
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          10:00（特急 スーパーひたち15号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          10:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          10:17
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          10:30（特急 フレッシュひたち17号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          10:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          10:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          11:00（特急 スーパーひたち19号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          11:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          11:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          11:30（特急 フレッシュひたち21号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          11:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          11:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          12:00（特急 スーパーひたち23号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          12:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          12:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          12:30（特急 フレッシュひたち25号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          12:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          12:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          13:00（特急 スーパーひたち27号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          13:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          13:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          13:30（特急 フレッシュひたち29号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          13:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          13:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          14:00（特急 スーパーひたち31号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          14:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          14:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          14:30（特急 フレッシュひたち33号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          14:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          14:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          15:00（特急 スーパーひたち35号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          15:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          15:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          15:30（特急 フレッシュひたち37号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          15:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          15:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          16:00（特急 スーパーひたち39号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          16:09
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          16:30（特急 フレッシュひたち41号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          16:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          16:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          17:00（特急 スーパーひたち43号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          17:13
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          17:30（特急 フレッシュひたち45号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          17:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          17:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          18:00（特急 スーパーひたち47号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          18:06
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          18:15（特急 フレッシュひたち49号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          18:24
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          18:30（特急 フレッシュひたち51号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          18:38
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          18:48
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          19:00（特急 スーパーひたち53号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          日立
        </td>
        <td>
          19:06
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          19:15（特急 フレッシュひたち55号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          19:18
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          19:30（特急 フレッシュひたち57号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          19:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          19:45
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          20:00（特急 スーパーひたち59号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          20:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          20:15（特急 フレッシュひたち61号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          20:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          20:30（特急 フレッシュひたち63号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          20:41
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          20:51
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          21:00（特急 スーパーひたち65号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          21:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          21:15（特急 フレッシュひたち67号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          21:18
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          21:30（特急 フレッシュひたち69号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          21:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          21:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:00（特急 フレッシュひたち71号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:15（特急 フレッシュひたち73号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:17
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:30（特急 フレッシュひたち75号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          22:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          23:00（特急 フレッシュひたち77号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          23:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          23:42
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-上野-仙台方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(102本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          05:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          06:04
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          06:31
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          06:51
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          07:00（特急 スーパーひたち3号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          07:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          07:30（特急 フレッシュひたち5号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          07:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          07:49
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          08:00（特急 スーパーひたち7号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          08:19
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          08:30（特急 フレッシュひたち9号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          08:40
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          09:00（特急 スーパーひたち11号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          09:04
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          09:25
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          09:30（特急 フレッシュひたち13号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          09:49
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          10:00（特急 スーパーひたち15号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          10:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          10:17
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          10:30（特急 フレッシュひたち17号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          10:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          10:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          11:00（特急 スーパーひたち19号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          11:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          11:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          11:30（特急 フレッシュひたち21号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          11:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          11:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          12:00（特急 スーパーひたち23号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          12:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          12:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          12:30（特急 フレッシュひたち25号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          12:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          12:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          13:00（特急 スーパーひたち27号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          13:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          13:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          13:30（特急 フレッシュひたち29号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          13:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          13:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          14:00（特急 スーパーひたち31号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          14:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          14:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          14:30（特急 フレッシュひたち33号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          14:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          14:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          15:00（特急 スーパーひたち35号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          15:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          15:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          15:30（特急 フレッシュひたち37号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          15:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          15:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          16:00（特急 スーパーひたち39号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          16:09
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          16:30（特急 フレッシュひたち41号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          16:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          16:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          17:00（特急 スーパーひたち43号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          17:13
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          17:30（特急 フレッシュひたち45号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          17:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          17:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          18:00（特急 スーパーひたち47号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          18:06
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          18:15（特急 フレッシュひたち49号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          18:24
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          18:30（特急 フレッシュひたち51号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          18:38
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          18:48
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          18:48
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          19:00（特急 スーパーひたち53号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          日立
        </td>
        <td>
          19:06
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          19:15（特急 フレッシュひたち55号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          19:18
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          19:30（特急 フレッシュひたち57号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          19:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          19:45
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          20:00（特急 スーパーひたち59号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          20:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          20:15（特急 フレッシュひたち61号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          20:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          20:30（特急 フレッシュひたち63号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          20:41
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          20:51
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          21:00（特急 スーパーひたち65号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          21:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          21:15（特急 フレッシュひたち67号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          21:18
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          21:30（特急 フレッシュひたち69号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          21:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          21:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:00（特急 フレッシュひたち71号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:15（特急 フレッシュひたち73号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:17
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:30（特急 フレッシュひたち75号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          22:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          23:00（特急 フレッシュひたち77号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          23:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          23:42
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-上野-仙台方面(下り)-休日"></a>
  <dt class="list-title">
    休日(101本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          05:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          06:04
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          06:31
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          06:51
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          07:00（特急 スーパーひたち3号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          07:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          07:30（特急 フレッシュひたち5号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          07:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          07:49
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          08:00（特急 スーパーひたち7号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          08:19
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          08:30（特急 フレッシュひたち9号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          08:40
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          09:00（特急 スーパーひたち11号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          09:04
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          09:25
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          09:30（特急 フレッシュひたち13号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          09:49
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          10:00（特急 スーパーひたち15号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          10:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          10:17
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          10:30（特急 フレッシュひたち17号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          10:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          10:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          11:00（特急 スーパーひたち19号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          11:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          11:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          11:30（特急 フレッシュひたち21号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          11:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          11:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          12:00（特急 スーパーひたち23号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          12:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          12:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          12:30（特急 フレッシュひたち25号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          12:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          12:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          13:00（特急 スーパーひたち27号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          13:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          13:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          13:30（特急 フレッシュひたち29号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          13:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          13:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          14:00（特急 スーパーひたち31号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          14:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          14:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          14:30（特急 フレッシュひたち33号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          14:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          14:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          15:00（特急 スーパーひたち35号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          15:10（特別快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          15:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          15:30（特急 フレッシュひたち37号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          15:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          15:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          16:00（特急 スーパーひたち39号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          16:09
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          16:30（特急 フレッシュひたち41号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          16:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          16:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          17:00（特急 スーパーひたち43号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          17:13
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          17:30（特急 フレッシュひたち45号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          17:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          17:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          18:00（特急 スーパーひたち47号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          18:06
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          18:15（特急 フレッシュひたち49号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          18:24
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          18:30（特急 フレッシュひたち51号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          18:38
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          18:48
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          19:00（特急 スーパーひたち53号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          日立
        </td>
        <td>
          19:06
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          19:15（特急 フレッシュひたち55号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          19:18
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          19:30（特急 フレッシュひたち57号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          19:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          19:45
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          20:00（特急 スーパーひたち59号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          20:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          20:15（特急 フレッシュひたち61号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          20:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          20:30（特急 フレッシュひたち63号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          20:41
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          20:51
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          いわき
        </td>
        <td>
          21:00（特急 スーパーひたち65号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          21:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          21:15（特急 フレッシュひたち67号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          21:18
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          高萩
        </td>
        <td>
          21:30（特急 フレッシュひたち69号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          21:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          水戸
        </td>
        <td>
          21:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:00（特急 フレッシュひたち71号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:15（特急 フレッシュひたち73号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:17
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          22:30（特急 フレッシュひたち75号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          22:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          23:00（特急 フレッシュひたち77号）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          勝田
        </td>
        <td>
          23:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          土浦
        </td>
        <td>
          23:42
        </td>
      </tr>
    </table>
  </dd>
</dl>
