<h3>
  上野駅始発の常磐線快速 下り電車(287本)
</h3><a href="#常磐線快速-上野-取手方面(下り)-平日">平日(99本)</a>
/ <a href="#常磐線快速-上野-取手方面(下り)-土曜日">土曜日(94本)</a>
/ <a href="#常磐線快速-上野-取手方面(下り)-休日">休日(94本)</a>
<dl>
  <a name="常磐線快速-上野-取手方面(下り)-平日"></a>
  <dt class="list-title">
    平日(99本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          04:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          05:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          05:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          05:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:12（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          07:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          07:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          07:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子
        </td>
        <td>
          08:38（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          09:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          09:12（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子
        </td>
        <td>
          09:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          10:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          10:12（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          10:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          10:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          10:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          11:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          11:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          11:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          12:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          12:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          12:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          13:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          13:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          13:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          14:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          14:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          14:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          15:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          15:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          15:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          16:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:14（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          17:04（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:23（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          18:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          18:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:50（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          20:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          20:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          20:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          20:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          20:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          20:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          20:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:48（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          22:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:27（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:48（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          00:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          00:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          00:23（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子
        </td>
        <td>
          00:34（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          00:51（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線快速-上野-取手方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(94本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          04:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          05:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          05:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          05:50（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          07:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          07:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:57（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子
        </td>
        <td>
          08:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          08:56（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          09:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          10:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          10:12（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          10:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子
        </td>
        <td>
          10:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          10:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          11:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          11:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          11:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          12:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          12:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          12:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          13:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          13:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          13:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          14:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          14:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          14:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          15:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          15:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          15:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          16:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          17:04（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          18:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          18:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:50（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          20:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          20:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          20:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          20:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          20:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          20:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:48（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          22:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:27（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:49（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          00:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          00:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          00:23（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子
        </td>
        <td>
          00:34（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          00:51（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線快速-上野-取手方面(下り)-休日"></a>
  <dt class="list-title">
    休日(94本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          04:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          05:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          05:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          05:50（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          06:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          07:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          07:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          07:57（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子
        </td>
        <td>
          08:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          08:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          08:56（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          09:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          09:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          10:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          10:12（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          10:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子
        </td>
        <td>
          10:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          10:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          11:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          11:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          11:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          12:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          12:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          12:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          13:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          13:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          13:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          14:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          14:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          14:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          15:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          15:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          15:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          16:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          16:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          17:04（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          17:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          18:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          18:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          18:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:50（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          19:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          20:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          20:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          20:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          20:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          20:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          20:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          21:48（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子（経由）
        </td>
        <td>
          22:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          22:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:27（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          23:49（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          00:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          00:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          取手
        </td>
        <td>
          00:23（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          我孫子
        </td>
        <td>
          00:34（快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          松戸
        </td>
        <td>
          00:51（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
