<h3>
  勝田駅始発の常磐線 上り電車(153本)
</h3><a href="#常磐線-勝田-上野方面(上り)-平日">平日(52本)</a>
/ <a href="#常磐線-勝田-上野方面(上り)-土曜日">土曜日(51本)</a>
/ <a href="#常磐線-勝田-上野方面(上り)-休日">休日(50本)</a>
<dl>
  <a name="常磐線-勝田-上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(52本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          04:27
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          04:52
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          水戸
        </td>
        <td>
          05:04
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          05:20
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          05:39（特急 フレッシュひたち4号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          05:53（特急 フレッシュひたち6号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:10
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:20（特急 フレッシュひたち10号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          水戸
        </td>
        <td>
          06:31
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          07:00（特急 フレッシュひたち12号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          07:14
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          07:26
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          08:37
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          09:11
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          09:46（特急 フレッシュひたち24号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          10:12
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          10:34
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          11:23
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          11:39
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          11:46（特急 フレッシュひたち32号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          12:46（特急 フレッシュひたち36号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          12:53
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          土浦
        </td>
        <td>
          13:24
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          土浦
        </td>
        <td>
          13:55
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          14:24
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          14:46（特急 フレッシュひたち44号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          14:54
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          15:02
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          15:24
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          15:46（特急 フレッシュひたち48号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          水戸
        </td>
        <td>
          16:08
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          16:58
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          17:04
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          17:04
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          17:30（特急 フレッシュひたち96号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          17:46（特急 フレッシュひたち56号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          17:46（特急 フレッシュひたち56号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          17:52
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          18:34
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          19:15
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          19:33
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          19:46（特急 フレッシュひたち64号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          20:08
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          20:46（特急 フレッシュひたち68号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          20:48
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          21:07
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          21:40
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          21:46（特急 フレッシュひたち72号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          22:03
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          土浦
        </td>
        <td>
          23:17
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-勝田-上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(51本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          04:27
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          04:52
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          水戸
        </td>
        <td>
          05:04
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          05:20
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          05:39（特急 フレッシュひたち4号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          05:53（特急 フレッシュひたち6号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:04
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:14
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:20（特急 フレッシュひたち10号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          水戸
        </td>
        <td>
          06:31
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          07:00（特急 フレッシュひたち12号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          07:14
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          07:26
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          08:37
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          09:11
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          09:46（特急 フレッシュひたち24号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          10:12
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          10:34
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          11:23
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          11:39
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          11:46（特急 フレッシュひたち32号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          12:46（特急 フレッシュひたち36号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          12:53
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          土浦
        </td>
        <td>
          13:24
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          土浦
        </td>
        <td>
          13:55
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          14:24
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          14:46（特急 フレッシュひたち44号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          14:54
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          15:02
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          15:24
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          15:46（特急 フレッシュひたち48号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          水戸
        </td>
        <td>
          16:08
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          16:58
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          17:04
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          17:46（特急 フレッシュひたち56号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          17:52
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          18:34
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          19:15
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          19:33
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          19:46（特急 フレッシュひたち64号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          20:08
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          20:46（特急 フレッシュひたち68号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          20:48
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          21:07
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          21:40
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          21:46（特急 フレッシュひたち72号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          22:03
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          土浦
        </td>
        <td>
          23:17
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-勝田-上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(50本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          04:27
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          04:52
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          水戸
        </td>
        <td>
          05:04
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          05:20
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          05:39（特急 フレッシュひたち4号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          05:53（特急 フレッシュひたち6号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:04
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:14
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:20（特急 フレッシュひたち10号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          水戸
        </td>
        <td>
          06:31
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          07:00（特急 フレッシュひたち12号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          07:14
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          07:26
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          08:37
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          09:11
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          09:46（特急 フレッシュひたち24号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          10:12
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          10:34
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          11:23
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          11:39
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          11:46（特急 フレッシュひたち32号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          12:46（特急 フレッシュひたち36号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          12:53
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          土浦
        </td>
        <td>
          13:24
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          土浦
        </td>
        <td>
          13:55
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          14:24
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          14:46（特急 フレッシュひたち44号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          14:54
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          15:02
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          15:24
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          15:46（特急 フレッシュひたち48号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          水戸
        </td>
        <td>
          16:08
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          16:58
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          17:04
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          17:46（特急 フレッシュひたち56号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          17:52
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          18:34
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          19:15
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          19:33
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          19:46（特急 フレッシュひたち64号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          20:08
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          20:46（特急 フレッシュひたち68号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          20:48
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          21:07
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          21:40
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          上野
        </td>
        <td>
          21:46（特急 フレッシュひたち72号）
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          友部（経由）
        </td>
        <td>
          22:03
        </td>
      </tr>
      <tr>
        <td>
          勝田
        </td>
        <td>
          土浦
        </td>
        <td>
          23:17
        </td>
      </tr>
    </table>
  </dd>
</dl>
