<h3>
  我孫子駅始発の常磐線 下り電車(3本)
</h3><a href="#常磐線-我孫子-仙台方面(下り)-平日">平日(1本)</a>
/ <a href="#常磐線-我孫子-仙台方面(下り)-土曜日">土曜日(1本)</a>
/ <a href="#常磐線-我孫子-仙台方面(下り)-休日">休日(1本)</a>
<dl>
  <a name="常磐線-我孫子-仙台方面(下り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          高萩
        </td>
        <td>
          06:26
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-我孫子-仙台方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          高萩
        </td>
        <td>
          06:26
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線-我孫子-仙台方面(下り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          我孫子
        </td>
        <td>
          高萩
        </td>
        <td>
          06:26
        </td>
      </tr>
    </table>
  </dd>
</dl>
