<h3>
  松戸駅始発の常磐線各駅停車 上り電車(30本)
</h3><a href="#常磐線各駅停車-松戸-綾瀬方面(上り)-平日">平日(18本)</a>
/ <a href="#常磐線各駅停車-松戸-綾瀬方面(上り)-土曜日">土曜日(6本)</a>
/ <a href="#常磐線各駅停車-松戸-綾瀬方面(上り)-休日">休日(6本)</a>
<dl>
  <a name="常磐線各駅停車-松戸-綾瀬方面(上り)-平日"></a>
  <dt class="list-title">
    平日(18本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          04:28
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:06
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:24
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:46
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:59
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:41
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:51
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:09
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:21
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:36
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:51
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          09:35
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          16:10
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          16:56
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:14
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:39
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:53
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:10
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線各駅停車-松戸-綾瀬方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          04:28
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          05:43
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:02
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          10:15
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          16:31
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:15
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線各駅停車-松戸-綾瀬方面(上り)-休日"></a>
  <dt class="list-title">
    休日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          04:28
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          05:43
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:02
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          10:15
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          16:31
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:15
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  松戸駅始発の常磐線各駅停車 下り電車(9本)
</h3><a href="#常磐線各駅停車-松戸-取手方面(下り)-平日">平日(3本)</a>
/ <a href="#常磐線各駅停車-松戸-取手方面(下り)-土曜日">土曜日(3本)</a>
/ <a href="#常磐線各駅停車-松戸-取手方面(下り)-休日">休日(3本)</a>
<dl>
  <a name="常磐線各駅停車-松戸-取手方面(下り)-平日"></a>
  <dt class="list-title">
    平日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          我孫子
        </td>
        <td>
          04:27
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          我孫子
        </td>
        <td>
          04:46
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          我孫子
        </td>
        <td>
          15:45
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線各駅停車-松戸-取手方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          我孫子
        </td>
        <td>
          04:27
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          我孫子
        </td>
        <td>
          04:46
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          14:56
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線各駅停車-松戸-取手方面(下り)-休日"></a>
  <dt class="list-title">
    休日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          我孫子
        </td>
        <td>
          04:27
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          我孫子
        </td>
        <td>
          04:46
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          14:56
        </td>
      </tr>
    </table>
  </dd>
</dl>
