<h3>
  取手駅始発の常磐線各駅停車 上り電車(54本)
</h3><a href="#常磐線各駅停車-取手-綾瀬方面(上り)-平日">平日(24本)</a>
/ <a href="#常磐線各駅停車-取手-綾瀬方面(上り)-土曜日">土曜日(15本)</a>
/ <a href="#常磐線各駅停車-取手-綾瀬方面(上り)-休日">休日(15本)</a>
<dl>
  <a name="常磐線各駅停車-取手-綾瀬方面(上り)-平日"></a>
  <dt class="list-title">
    平日(24本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:24
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:34
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:52
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:57
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:06
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:14
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:23
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:29
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:37
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:44
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:49
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:04
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:11
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:56
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:21
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬
        </td>
        <td>
          18:36
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:50
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬
        </td>
        <td>
          19:00
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬
        </td>
        <td>
          19:12
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬
        </td>
        <td>
          19:23
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          19:30
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          19:43
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          19:53
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          20:17
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線各駅停車-取手-綾瀬方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(15本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:18
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:50
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:12
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:30
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:54
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          15:35
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          15:53
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          16:12
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          16:42
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:06
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:30
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:57
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:18
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:46
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬
        </td>
        <td>
          19:07
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線各駅停車-取手-綾瀬方面(上り)-休日"></a>
  <dt class="list-title">
    休日(15本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:18
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:50
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:12
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:30
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:54
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          15:35
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          15:53
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          16:12
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          16:42
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:06
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:30
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:57
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:18
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:46
        </td>
      </tr>
      <tr>
        <td>
          取手
        </td>
        <td>
          綾瀬
        </td>
        <td>
          19:07
        </td>
      </tr>
    </table>
  </dd>
</dl>
