<h3>
  松戸駅始発の常磐線快速 上り電車(5本)
</h3><a href="#常磐線快速-松戸-上野方面(上り)-平日">平日(1本)</a>
/ <a href="#常磐線快速-松戸-上野方面(上り)-土曜日">土曜日(2本)</a>
/ <a href="#常磐線快速-松戸-上野方面(上り)-休日">休日(2本)</a>
<dl>
  <a name="常磐線快速-松戸-上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          上野
        </td>
        <td>
          04:35（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線快速-松戸-上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          上野
        </td>
        <td>
          04:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          上野
        </td>
        <td>
          06:49（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線快速-松戸-上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          上野
        </td>
        <td>
          04:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          上野
        </td>
        <td>
          06:49（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  松戸駅始発の常磐線快速 下り電車(15本)
</h3><a href="#常磐線快速-松戸-取手方面(下り)-平日">平日(7本)</a>
/ <a href="#常磐線快速-松戸-取手方面(下り)-土曜日">土曜日(4本)</a>
/ <a href="#常磐線快速-松戸-取手方面(下り)-休日">休日(4本)</a>
<dl>
  <a name="常磐線快速-松戸-取手方面(下り)-平日"></a>
  <dt class="list-title">
    平日(7本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          04:26（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          06:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          06:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          06:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          15:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          16:05（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          17:39（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線快速-松戸-取手方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          04:26（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          06:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          14:59（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          16:05（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線快速-松戸-取手方面(下り)-休日"></a>
  <dt class="list-title">
    休日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          04:26（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          06:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          14:59（快速）
        </td>
      </tr>
      <tr>
        <td>
          松戸
        </td>
        <td>
          取手
        </td>
        <td>
          16:05（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
