<h3>
  柏駅始発の常磐線各駅停車 上り電車(41本)
</h3><a href="#常磐線各駅停車-柏-綾瀬方面(上り)-平日">平日(19本)</a>
/ <a href="#常磐線各駅停車-柏-綾瀬方面(上り)-土曜日">土曜日(11本)</a>
/ <a href="#常磐線各駅停車-柏-綾瀬方面(上り)-休日">休日(11本)</a>
<dl>
  <a name="常磐線各駅停車-柏-綾瀬方面(上り)-平日"></a>
  <dt class="list-title">
    平日(19本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          06:52
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:16
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:29
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          07:39
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:13
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          09:06
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:10
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:50
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:17
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:28
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:40
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:52
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          19:07
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          19:28
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          19:46
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬
        </td>
        <td>
          20:24
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬
        </td>
        <td>
          20:45
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          21:11
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          21:27
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線各駅停車-柏-綾瀬方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(11本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:08
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          09:24
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          09:42
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          09:54
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          10:24
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:36
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:49
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:02
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:16
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:36
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          21:08
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線各駅停車-柏-綾瀬方面(上り)-休日"></a>
  <dt class="list-title">
    休日(11本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          08:08
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          09:24
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          09:42
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          09:54
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          10:24
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:36
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          17:49
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:02
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:16
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          18:36
        </td>
      </tr>
      <tr>
        <td>
          柏
        </td>
        <td>
          綾瀬（経由）
        </td>
        <td>
          21:08
        </td>
      </tr>
    </table>
  </dd>
</dl>
