<h3>
  綾瀬駅始発の常磐線各駅停車 下り電車(17本)
</h3><a href="#常磐線各駅停車-綾瀬-取手方面(下り)-平日">平日(9本)</a>
/ <a href="#常磐線各駅停車-綾瀬-取手方面(下り)-土曜日">土曜日(4本)</a>
/ <a href="#常磐線各駅停車-綾瀬-取手方面(下り)-休日">休日(4本)</a>
<dl>
  <a name="常磐線各駅停車-綾瀬-取手方面(下り)-平日"></a>
  <dt class="list-title">
    平日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          松戸
        </td>
        <td>
          05:46
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          松戸
        </td>
        <td>
          06:00
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          我孫子
        </td>
        <td>
          06:12
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          取手
        </td>
        <td>
          06:21
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          我孫子
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          取手
        </td>
        <td>
          06:56
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          柏
        </td>
        <td>
          07:03
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          取手
        </td>
        <td>
          07:11
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          松戸
        </td>
        <td>
          07:19
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線各駅停車-綾瀬-取手方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          我孫子
        </td>
        <td>
          06:00
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          我孫子
        </td>
        <td>
          06:12
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          我孫子
        </td>
        <td>
          06:23
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          我孫子
        </td>
        <td>
          08:28
        </td>
      </tr>
    </table>
  </dd>
  <a name="常磐線各駅停車-綾瀬-取手方面(下り)-休日"></a>
  <dt class="list-title">
    休日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          我孫子
        </td>
        <td>
          06:00
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          我孫子
        </td>
        <td>
          06:12
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          我孫子
        </td>
        <td>
          06:23
        </td>
      </tr>
      <tr>
        <td>
          綾瀬
        </td>
        <td>
          我孫子
        </td>
        <td>
          08:28
        </td>
      </tr>
    </table>
  </dd>
</dl>
