<h3>
  東神奈川駅始発の京浜東北線 大宮方面電車(1本)
</h3>
<dl>
  <a name="京浜東北線-東神奈川-大宮方面(北行)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東神奈川
        </td>
        <td>
          大宮
        </td>
        <td>
          15:50
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  東神奈川駅始発の京浜東北線 横浜方面電車(8本)
</h3><a href="#京浜東北線-東神奈川-横浜方面(南行)-平日">平日(4本)</a>
/ <a href="#京浜東北線-東神奈川-横浜方面(南行)-土曜日">土曜日(2本)</a>
/ <a href="#京浜東北線-東神奈川-横浜方面(南行)-休日">休日(2本)</a>
<dl>
  <a name="京浜東北線-東神奈川-横浜方面(南行)-平日"></a>
  <dt class="list-title">
    平日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東神奈川
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:31
        </td>
      </tr>
      <tr>
        <td>
          東神奈川
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:49
        </td>
      </tr>
      <tr>
        <td>
          東神奈川
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:05
        </td>
      </tr>
      <tr>
        <td>
          東神奈川
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:24
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-東神奈川-横浜方面(南行)-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東神奈川
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:31
        </td>
      </tr>
      <tr>
        <td>
          東神奈川
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:41
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-東神奈川-横浜方面(南行)-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東神奈川
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:31
        </td>
      </tr>
      <tr>
        <td>
          東神奈川
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:41
        </td>
      </tr>
    </table>
  </dd>
</dl>
