<h3>
  南浦和駅始発の京浜東北線 大宮方面電車(17本)
</h3><a href="#京浜東北線-南浦和-大宮方面(北行)-平日">平日(11本)</a>
/ <a href="#京浜東北線-南浦和-大宮方面(北行)-土曜日">土曜日(3本)</a>
/ <a href="#京浜東北線-南浦和-大宮方面(北行)-休日">休日(3本)</a>
<dl>
  <a name="京浜東北線-南浦和-大宮方面(北行)-平日"></a>
  <dt class="list-title">
    平日(11本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          05:12
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          05:27
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          05:56
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          06:06
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          06:19
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          06:32
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          06:40
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          06:56
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          07:04
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          07:10
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          07:20
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-南浦和-大宮方面(北行)-土曜日"></a>
  <dt class="list-title">
    土曜日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          05:29
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          06:32
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          06:46
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-南浦和-大宮方面(北行)-休日"></a>
  <dt class="list-title">
    休日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          05:29
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          06:32
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          06:46
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  南浦和駅始発の京浜東北線 横浜方面電車(230本)
</h3><a href="#京浜東北線-南浦和-横浜方面(南行)-平日">平日(70本)</a>
/ <a href="#京浜東北線-南浦和-横浜方面(南行)-土曜日">土曜日(80本)</a>
/ <a href="#京浜東北線-南浦和-横浜方面(南行)-休日">休日(80本)</a>
<dl>
  <a name="京浜東北線-南浦和-横浜方面(南行)-平日"></a>
  <dt class="list-title">
    平日(70本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:30
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:50
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:12
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:32
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:08
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:17
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:35
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          鶴見
        </td>
        <td>
          06:46
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          鶴見
        </td>
        <td>
          06:58
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:11
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          07:21
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:31
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:40
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:50
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          鶴見
        </td>
        <td>
          07:59
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          08:10
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          08:23
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          鶴見
        </td>
        <td>
          08:30
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          東神奈川
        </td>
        <td>
          08:35
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:41
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          10:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          11:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          12:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          13:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          14:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:11
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:21
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:31
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:00
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:16
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:42
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:51
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:59
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          鶴見
        </td>
        <td>
          17:05
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          17:15
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:23
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:35
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          17:44
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:50
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:59
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:05
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:11
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:17
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:26
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:44
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          19:01
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          19:15
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:11
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:49
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:14
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:32
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:52
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-南浦和-横浜方面(南行)-土曜日"></a>
  <dt class="list-title">
    土曜日(80本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:30
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:51
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:11
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:21
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:43
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:04
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:27
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:39
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:14
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:58
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:40
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          10:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          10:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          11:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          11:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          12:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          12:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          13:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          13:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          14:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:10
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:22
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:01
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:12
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:21
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:30
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:40
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:45
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:52
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:00
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          鶴見
        </td>
        <td>
          17:08
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:16
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:24
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:32
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:40
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:48
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:04
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:12
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:20
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:29
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          18:37
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:45
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:57
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:05
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          19:13
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:21
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:29
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:39
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          19:49
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          19:58
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:07
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:17
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          20:37
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:47
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          20:58
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:08
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          21:23
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-南浦和-横浜方面(南行)-休日"></a>
  <dt class="list-title">
    休日(80本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:30
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:51
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:11
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:21
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:43
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:04
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:27
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:39
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:14
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:58
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:40
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          10:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          10:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          11:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          11:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          12:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          12:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          13:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          13:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          14:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:10
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:22
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:01
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:12
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:21
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:30
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:40
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:45
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:52
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:00
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          鶴見
        </td>
        <td>
          17:08
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:16
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:24
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:32
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:40
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:48
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:04
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:12
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:20
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:29
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          18:37
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:45
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:57
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:05
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          19:13
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:21
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:29
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:39
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          19:49
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          19:58
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:07
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:17
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          20:37
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:47
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          20:58
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:08
        </td>
      </tr>
      <tr>
        <td>
          南浦和
        </td>
        <td>
          蒲田
        </td>
        <td>
          21:23
        </td>
      </tr>
    </table>
  </dd>
</dl>
