<h3>
  田端駅始発の京浜東北線 横浜方面電車(3本)
</h3><a href="#京浜東北線-田端-横浜方面(南行)-平日">平日(1本)</a>
/ <a href="#京浜東北線-田端-横浜方面(南行)-土曜日">土曜日(1本)</a>
/ <a href="#京浜東北線-田端-横浜方面(南行)-休日">休日(1本)</a>
<dl>
  <a name="京浜東北線-田端-横浜方面(南行)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          田端
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:28
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-田端-横浜方面(南行)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          田端
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:28
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-田端-横浜方面(南行)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          田端
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:28
        </td>
      </tr>
    </table>
  </dd>
</dl>
