<h3>
  横浜駅始発の京浜東北線 大宮方面電車(2本)
</h3><a href="#京浜東北線-横浜-大宮方面(北行)-土曜日">土曜日(1本)</a>
/ <a href="#京浜東北線-横浜-大宮方面(北行)-休日">休日(1本)</a>
<dl>
  <a name="京浜東北線-横浜-大宮方面(北行)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:51（特急 はまかいじ号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-横浜-大宮方面(北行)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:51（特急 はまかいじ号）
        </td>
      </tr>
    </table>
  </dd>
</dl>
