<h3>
  東十条駅始発の京浜東北線 横浜方面電車(15本)
</h3><a href="#京浜東北線-東十条-横浜方面(南行)-平日">平日(13本)</a>
/ <a href="#京浜東北線-東十条-横浜方面(南行)-土曜日">土曜日(1本)</a>
/ <a href="#京浜東北線-東十条-横浜方面(南行)-休日">休日(1本)</a>
<dl>
  <a name="京浜東北線-東十条-横浜方面(南行)-平日"></a>
  <dt class="list-title">
    平日(13本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東十条
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:21
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:44
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:10
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          蒲田
        </td>
        <td>
          06:39
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          蒲田
        </td>
        <td>
          06:56
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:05
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:20
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          鶴見
        </td>
        <td>
          07:32
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:25
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:09
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:19
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          鶴見
        </td>
        <td>
          16:43
        </td>
      </tr>
      <tr>
        <td>
          東十条
        </td>
        <td>
          鶴見
        </td>
        <td>
          17:44
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-東十条-横浜方面(南行)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東十条
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:47
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線-東十条-横浜方面(南行)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東十条
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:47
        </td>
      </tr>
    </table>
  </dd>
</dl>
