<h3>
  京急久里浜駅始発の京急久里浜線 上り電車(48本)
</h3><a href="#京急久里浜線-京急久里浜-堀ノ内方面(上り)-平日">平日(30本)</a>
/ <a href="#京急久里浜線-京急久里浜-堀ノ内方面(上り)-土曜日">土曜日(9本)</a>
/ <a href="#京急久里浜線-京急久里浜-堀ノ内方面(上り)-休日">休日(9本)</a>
<dl>
  <a name="京急久里浜線-京急久里浜-堀ノ内方面(上り)-平日"></a>
  <dt class="list-title">
    平日(30本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:28（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:38（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:24（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:40（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:49（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:22（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:36（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:39（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:18（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:28（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:49（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:09（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:19（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:29（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:49（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:09（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:29（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:49（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:19（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:59（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:19（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:19（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:32（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:22（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:37（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          23:03（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急久里浜線-京急久里浜-堀ノ内方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:28（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:08（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:28（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:48（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内
        </td>
        <td>
          07:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:09（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          23:03（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急久里浜線-京急久里浜-堀ノ内方面(上り)-休日"></a>
  <dt class="list-title">
    休日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:28（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:08（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:28（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:48（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内
        </td>
        <td>
          07:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:09（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          23:03（特急）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  京急久里浜駅始発の京急久里浜線 下り電車(47本)
</h3><a href="#京急久里浜線-京急久里浜-三崎口方面(下り)-平日">平日(13本)</a>
/ <a href="#京急久里浜線-京急久里浜-三崎口方面(下り)-土曜日">土曜日(17本)</a>
/ <a href="#京急久里浜線-京急久里浜-三崎口方面(下り)-休日">休日(17本)</a>
<dl>
  <a name="京急久里浜線-京急久里浜-三崎口方面(下り)-平日"></a>
  <dt class="list-title">
    平日(13本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          05:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          06:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          07:29（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          15:12（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          15:32（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          15:52（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          16:11（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          16:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          16:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          17:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          17:29（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          17:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          23:37（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急久里浜線-京急久里浜-三崎口方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(17本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          06:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          06:57（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          07:08（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          08:00（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          08:24（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          09:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          10:12（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          11:02（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          11:42（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          12:12（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          12:32（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          13:02（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          16:42（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          18:02（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          18:42（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          21:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三浦海岸
        </td>
        <td>
          23:25（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急久里浜線-京急久里浜-三崎口方面(下り)-休日"></a>
  <dt class="list-title">
    休日(17本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          06:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          06:57（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          07:08（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          08:00（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          08:24（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          09:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          10:12（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          11:02（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          11:42（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          12:12（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          12:32（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          13:02（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          16:42（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          18:02（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          18:42（快特）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三崎口
        </td>
        <td>
          21:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          京急久里浜
        </td>
        <td>
          三浦海岸
        </td>
        <td>
          23:25（特急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
