<h3>
  三崎口駅始発の京急久里浜線 上り電車(308本)
</h3><a href="#京急久里浜線-三崎口-堀ノ内方面(上り)-平日">平日(102本)</a>
/ <a href="#京急久里浜線-三崎口-堀ノ内方面(上り)-土曜日">土曜日(103本)</a>
/ <a href="#京急久里浜線-三崎口-堀ノ内方面(上り)-休日">休日(103本)</a>
<dl>
  <a name="京急久里浜線-三崎口-堀ノ内方面(上り)-平日"></a>
  <dt class="list-title">
    平日(102本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:29（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:02（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:17（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:30（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:57（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:17（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:30（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          07:49（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:58（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内
        </td>
        <td>
          08:11（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:22（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:32（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:44（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:54（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          09:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          09:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:26（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          09:36（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:46（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          10:02（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          10:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          10:36（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          10:56（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          11:16（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:26（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          11:36（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          12:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          14:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:46（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:56（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:06（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:11（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:23（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:30（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:42（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:03（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:23（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:44（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:06（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:16（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:25（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:45（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:05（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:25（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:45（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:46（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          21:04（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          21:14（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          21:26（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:33（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          21:43（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:09（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:21（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:31（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:50（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          23:10（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内
        </td>
        <td>
          23:32（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急久里浜線-三崎口-堀ノ内方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(103本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:48（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:44（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:22（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:36（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内
        </td>
        <td>
          07:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:56（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:18（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:29（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:41（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:52（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:02（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:12（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:21（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          20:56（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          21:08（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          21:30（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          21:53（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:18（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:28（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:36（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:45（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内
        </td>
        <td>
          23:11（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内
        </td>
        <td>
          23:32（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急久里浜線-三崎口-堀ノ内方面(上り)-休日"></a>
  <dt class="list-title">
    休日(103本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:48（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:44（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:22（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:36（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内
        </td>
        <td>
          07:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:56（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:18（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:29（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:41（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:52（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:02（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:12（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:21（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:07（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          20:56（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          21:08（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          21:30（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          21:53（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:18（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:28（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:36（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:45（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          京急久里浜
        </td>
        <td>
          22:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内
        </td>
        <td>
          23:11（特急）
        </td>
      </tr>
      <tr>
        <td>
          三崎口
        </td>
        <td>
          堀ノ内
        </td>
        <td>
          23:32（特急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
