<h3>
  浦賀駅始発の京急線 上り電車(12本)
</h3><a href="#京急線-浦賀-泉岳寺方面(上り)-平日">平日(8本)</a>
/ <a href="#京急線-浦賀-泉岳寺方面(上り)-土曜日">土曜日(2本)</a>
/ <a href="#京急線-浦賀-泉岳寺方面(上り)-休日">休日(2本)</a>
<dl>
  <a name="京急線-浦賀-泉岳寺方面(上り)-平日"></a>
  <dt class="list-title">
    平日(8本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          泉岳寺（経由）
        </td>
        <td>
          06:09（特急）
        </td>
      </tr>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          品川
        </td>
        <td>
          06:36（特急）
        </td>
      </tr>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          品川
        </td>
        <td>
          06:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          07:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          品川
        </td>
        <td>
          07:28（特急）
        </td>
      </tr>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          品川
        </td>
        <td>
          07:51（特急）
        </td>
      </tr>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          品川
        </td>
        <td>
          08:03（特急）
        </td>
      </tr>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          泉岳寺（経由）
        </td>
        <td>
          08:23（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急線-浦賀-泉岳寺方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          品川
        </td>
        <td>
          07:29（特急）
        </td>
      </tr>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          泉岳寺（経由）
        </td>
        <td>
          07:57（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急線-浦賀-泉岳寺方面(上り)-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          品川
        </td>
        <td>
          07:29（特急）
        </td>
      </tr>
      <tr>
        <td>
          浦賀
        </td>
        <td>
          泉岳寺（経由）
        </td>
        <td>
          07:57（特急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
