<h3>
  泉岳寺駅始発の京急線 下り電車(127本)
</h3><a href="#京急線-泉岳寺-浦賀方面(下り)-平日">平日(37本)</a>
/ <a href="#京急線-泉岳寺-浦賀方面(下り)-土曜日">土曜日(45本)</a>
/ <a href="#京急線-泉岳寺-浦賀方面(下り)-休日">休日(45本)</a>
<dl>
  <a name="京急線-泉岳寺-浦賀方面(下り)-平日"></a>
  <dt class="list-title">
    平日(37本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          品川（経由）
        </td>
        <td>
          05:49（エアポート快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:57（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          品川（経由）
        </td>
        <td>
          06:15（エアポート快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          浦賀
        </td>
        <td>
          06:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          浦賀
        </td>
        <td>
          07:09（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:39（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:28（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:56（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          16:14（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          16:35（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          17:29（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          21:00（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          21:11（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          22:12（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          22:33（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          22:43（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:58（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          23:21（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          23:41（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          23:59（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急線-泉岳寺-浦賀方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(45本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          05:49（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:57（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          品川（経由）
        </td>
        <td>
          06:16（エアポート快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:37（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:53（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          08:20（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          21:58（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          22:42（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          23:30（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急線-泉岳寺-浦賀方面(下り)-休日"></a>
  <dt class="list-title">
    休日(45本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          05:49（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:57（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          品川（経由）
        </td>
        <td>
          06:16（エアポート快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:37（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:53（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          08:20（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          11:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          12:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          13:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          14:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          15:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          21:58（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          22:42（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          泉岳寺
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          23:30（特急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
