<h3>
  堀ノ内駅始発の京急線 上り電車(3本)
</h3>
<dl>
  <a name="京急線-堀ノ内-泉岳寺方面(上り)-平日"></a>
  <dt class="list-title">
    平日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          品川
        </td>
        <td>
          16:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          品川
        </td>
        <td>
          16:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          品川
        </td>
        <td>
          17:07（特急）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  堀ノ内駅始発の京急線 下り電車(6本)
</h3>
<dl>
  <a name="京急線-堀ノ内-浦賀方面(下り)-平日"></a>
  <dt class="list-title">
    平日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          浦賀
        </td>
        <td>
          05:58（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          浦賀
        </td>
        <td>
          06:22（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          浦賀
        </td>
        <td>
          06:44（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          浦賀
        </td>
        <td>
          07:04（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          浦賀
        </td>
        <td>
          07:17（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          浦賀
        </td>
        <td>
          07:40（特急）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  堀ノ内駅始発の京急久里浜線 下り電車(10本)
</h3><a href="#京急久里浜線-堀ノ内-三崎口方面(下り)-平日">平日(4本)</a>
/ <a href="#京急久里浜線-堀ノ内-三崎口方面(下り)-土曜日">土曜日(3本)</a>
/ <a href="#京急久里浜線-堀ノ内-三崎口方面(下り)-休日">休日(3本)</a>
<dl>
  <a name="京急久里浜線-堀ノ内-三崎口方面(下り)-平日"></a>
  <dt class="list-title">
    平日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          三崎口
        </td>
        <td>
          05:37（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          三崎口
        </td>
        <td>
          05:48（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          三崎口
        </td>
        <td>
          07:04（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          三崎口
        </td>
        <td>
          08:10（快特）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急久里浜線-堀ノ内-三崎口方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          三崎口
        </td>
        <td>
          05:40（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          三崎口
        </td>
        <td>
          05:58（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          三崎口
        </td>
        <td>
          07:41（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急久里浜線-堀ノ内-三崎口方面(下り)-休日"></a>
  <dt class="list-title">
    休日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          三崎口
        </td>
        <td>
          05:40（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          三崎口
        </td>
        <td>
          05:58（特急）
        </td>
      </tr>
      <tr>
        <td>
          堀ノ内
        </td>
        <td>
          三崎口
        </td>
        <td>
          07:41（特急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
