<h3>
  金沢文庫駅始発の京急線 上り電車(8本)
</h3><a href="#京急線-金沢文庫-泉岳寺方面(上り)-平日">平日(2本)</a>
/ <a href="#京急線-金沢文庫-泉岳寺方面(上り)-土曜日">土曜日(3本)</a>
/ <a href="#京急線-金沢文庫-泉岳寺方面(上り)-休日">休日(3本)</a>
<dl>
  <a name="京急線-金沢文庫-泉岳寺方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          05:40（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          09:08（エアポート急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急線-金沢文庫-泉岳寺方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          05:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          06:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          06:34（エアポート急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急線-金沢文庫-泉岳寺方面(上り)-休日"></a>
  <dt class="list-title">
    休日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          05:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          06:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          06:34（エアポート急行）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  金沢文庫駅始発の京急線 下り電車(19本)
</h3><a href="#京急線-金沢文庫-浦賀方面(下り)-平日">平日(15本)</a>
/ <a href="#京急線-金沢文庫-浦賀方面(下り)-土曜日">土曜日(2本)</a>
/ <a href="#京急線-金沢文庫-浦賀方面(下り)-休日">休日(2本)</a>
<dl>
  <a name="京急線-金沢文庫-浦賀方面(下り)-平日"></a>
  <dt class="list-title">
    平日(15本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:04（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          05:53（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          06:18（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          06:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:04（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:24（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:16（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:07（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:20（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:48（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:58（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:25（エアポート急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急線-金沢文庫-浦賀方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:04（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:37（エアポート急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急線-金沢文庫-浦賀方面(下り)-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:04（特急）
        </td>
      </tr>
      <tr>
        <td>
          金沢文庫
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:37（エアポート急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
