<h3>
  新逗子駅始発の京急逗子線 上り電車(249本)
</h3><a href="#京急逗子線-新逗子-金沢八景方面(上り)-平日">平日(77本)</a>
/ <a href="#京急逗子線-新逗子-金沢八景方面(上り)-土曜日">土曜日(86本)</a>
/ <a href="#京急逗子線-新逗子-金沢八景方面(上り)-休日">休日(86本)</a>
<dl>
  <a name="京急逗子線-新逗子-金沢八景方面(上り)-平日"></a>
  <dt class="list-title">
    平日(77本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          06:09（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          06:33（特急）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:09（特急）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:19（特急）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:39（特急）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:02（特急）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:32（特急）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:11（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:23（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:42（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:52（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:13（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:43（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:52（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:02（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:09（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:19（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:30（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:41（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:51（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:01（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:21（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:31（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:41（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:51（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:01（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:11（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:21（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:39（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:53（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          21:03（エアポート急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急逗子線-新逗子-金沢八景方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(86本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          06:29（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          06:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          06:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:45（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:55（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:05（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:44（エアポート急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急逗子線-新逗子-金沢八景方面(上り)-休日"></a>
  <dt class="list-title">
    休日(86本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          06:29（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          06:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          06:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          07:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:45（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          08:55（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:05（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          09:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          10:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          11:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          12:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          13:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          14:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          15:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          16:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          17:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          18:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:44（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          19:54（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:04（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:14（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:24（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          新逗子
        </td>
        <td>
          金沢八景（経由）
        </td>
        <td>
          20:44（エアポート急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
