<h3>
  品川駅始発の京急線 下り電車(95本)
</h3><a href="#京急線-品川-浦賀方面(下り)-平日">平日(53本)</a>
/ <a href="#京急線-品川-浦賀方面(下り)-土曜日">土曜日(21本)</a>
/ <a href="#京急線-品川-浦賀方面(下り)-休日">休日(21本)</a>
<dl>
  <a name="京急線-品川-浦賀方面(下り)-平日"></a>
  <dt class="list-title">
    平日(53本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          05:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:42（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:19（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          06:34（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:00（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:23（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:33（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          07:38（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:49（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          07:59（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:10（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:30（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:54（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:40（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          10:10（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:10（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:32（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          16:52（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:26（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:45（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          17:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:05（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:25（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:45（快特 京急ウィング1号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          18:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:05（快特 京急ウィング2号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:25（快特 京急ウィング3号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:38（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:45（快特 京急ウィング4号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          19:58（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:05（快特 京急ウィング5号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:17（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:25（快特 京急ウィング6号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          20:41（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:45（快特 京急ウィング7号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          20:55（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:05（快特 京急ウィング8号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:16（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:25（快特 京急ウィング9号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:36（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          21:41（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:45（快特 京急ウィング10号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:57（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:05（快特 京急ウィング11号）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:22（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:40（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          00:04（エアポート急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急線-品川-浦賀方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(21本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          05:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:44（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:12（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          06:36（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:10（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:25（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:48（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:08（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          22:23（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:32（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田
        </td>
        <td>
          23:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          23:08（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          神奈川新町
        </td>
        <td>
          23:45（特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京急線-品川-浦賀方面(下り)-休日"></a>
  <dt class="list-title">
    休日(21本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          05:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          05:44（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:12（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          06:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          06:36（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:10（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:25（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          07:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          08:48（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:08（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          09:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:27（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:37（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          21:47（快特）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          22:23（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          堀ノ内（経由）
        </td>
        <td>
          22:32（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田
        </td>
        <td>
          23:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          京急蒲田（経由）
        </td>
        <td>
          23:08（エアポート急行）
        </td>
      </tr>
      <tr>
        <td>
          品川
        </td>
        <td>
          神奈川新町
        </td>
        <td>
          23:45（特急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
