<h3>
  渋谷駅始発の京王井の頭線 下り電車(349本)
</h3><a href="#京王井の頭線-渋谷-吉祥寺方面(下り)-平日">平日(127本)</a>
/ <a href="#京王井の頭線-渋谷-吉祥寺方面(下り)-土曜日">土曜日(111本)</a>
/ <a href="#京王井の頭線-渋谷-吉祥寺方面(下り)-休日">休日(111本)</a>
<dl>
  <a name="京王井の頭線-渋谷-吉祥寺方面(下り)-平日"></a>
  <dt class="list-title">
    平日(127本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          00:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          00:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          00:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          00:30（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京王井の頭線-渋谷-吉祥寺方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(111本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          00:05（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京王井の頭線-渋谷-吉祥寺方面(下り)-休日"></a>
  <dt class="list-title">
    休日(111本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          09:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          10:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          11:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          12:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          13:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          14:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          15:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          16:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          17:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          18:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          19:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          20:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          21:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          22:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          23:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          吉祥寺
        </td>
        <td>
          00:05（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
