<h3>
  吉祥寺駅始発の京王井の頭線 上り電車(341本)
</h3><a href="#京王井の頭線-吉祥寺-渋谷方面(上り)-平日">平日(125本)</a>
/ <a href="#京王井の頭線-吉祥寺-渋谷方面(上り)-土曜日">土曜日(108本)</a>
/ <a href="#京王井の頭線-吉祥寺-渋谷方面(上り)-休日">休日(108本)</a>
<dl>
  <a name="京王井の頭線-吉祥寺-渋谷方面(上り)-平日"></a>
  <dt class="list-title">
    平日(125本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          06:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          06:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:59（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京王井の頭線-吉祥寺-渋谷方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(108本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:43（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京王井の頭線-吉祥寺-渋谷方面(上り)-休日"></a>
  <dt class="list-title">
    休日(108本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          09:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          10:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          11:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          12:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          13:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          14:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          15:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          16:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          17:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          18:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          19:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          20:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          21:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          22:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          吉祥寺
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:43（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
