<h3>
  高幡不動駅始発の京王線 上り電車(4本)
</h3>
<dl>
  <a name="京王線-高幡不動-新宿方面(上り)-平日"></a>
  <dt class="list-title">
    平日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          高幡不動
        </td>
        <td>
          新宿
        </td>
        <td>
          06:50（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          高幡不動
        </td>
        <td>
          新宿
        </td>
        <td>
          18:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          高幡不動
        </td>
        <td>
          新宿
        </td>
        <td>
          19:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          高幡不動
        </td>
        <td>
          新宿
        </td>
        <td>
          19:26（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
