<h3>
  高尾山口駅始発の京王高尾線 上り電車(134本)
</h3><a href="#京王高尾線-高尾山口-北野方面(上り)-平日">平日(42本)</a>
/ <a href="#京王高尾線-高尾山口-北野方面(上り)-土曜日">土曜日(46本)</a>
/ <a href="#京王高尾線-高尾山口-北野方面(上り)-休日">休日(46本)</a>
<dl>
  <a name="京王高尾線-高尾山口-北野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(42本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          05:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          06:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          07:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          07:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          07:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          08:52（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          09:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          09:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          09:53（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          10:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          10:32（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          10:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          11:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          11:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          11:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          12:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          12:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          12:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          13:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          13:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          13:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          14:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          14:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          14:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          15:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          15:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          15:51（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          16:11（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          18:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          18:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          18:49（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:49（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:59（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          20:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          20:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          20:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          20:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          23:37（区間急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京王高尾線-高尾山口-北野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(46本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          06:32（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          06:53（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          07:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          07:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          07:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          08:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          08:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          08:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          09:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          09:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          09:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          10:10（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          10:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          10:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          11:10（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          11:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          11:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          12:10（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          12:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          12:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          13:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          13:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          13:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          14:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          14:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          14:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          15:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          15:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          15:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          16:10（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          16:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          16:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          17:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          17:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          17:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          18:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          18:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          18:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          20:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          20:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          20:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          21:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          23:37（区間急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京王高尾線-高尾山口-北野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(46本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          06:32（特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          06:53（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          07:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          07:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          07:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          08:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          08:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          08:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          09:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          09:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          09:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          10:10（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          10:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          10:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          11:10（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          11:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          11:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          12:10（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          12:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          12:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          13:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          13:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          13:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          14:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          14:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          14:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          15:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          15:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          15:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          16:10（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          16:30（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          16:50（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          17:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          17:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          17:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          18:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          18:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          18:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          19:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          20:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          20:31（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          20:51（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          21:11（準特急）
        </td>
      </tr>
      <tr>
        <td>
          高尾山口
        </td>
        <td>
          北野（経由）
        </td>
        <td>
          23:37（区間急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
