<h3>
  京王多摩センター駅始発の京王相模原線 上り電車(5本)
</h3>
<dl>
  <a name="京王相模原線-京王多摩センター-調布方面(上り)-平日"></a>
  <dt class="list-title">
    平日(5本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京王多摩センター
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          06:44（特急）
        </td>
      </tr>
      <tr>
        <td>
          京王多摩センター
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          07:40（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          京王多摩センター
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          08:00（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          京王多摩センター
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          08:30（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          京王多摩センター
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          08:52（区間急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
