<h3>
  若葉台駅始発の京王相模原線 上り電車(22本)
</h3><a href="#京王相模原線-若葉台-調布方面(上り)-平日">平日(10本)</a>
/ <a href="#京王相模原線-若葉台-調布方面(上り)-土曜日">土曜日(6本)</a>
/ <a href="#京王相模原線-若葉台-調布方面(上り)-休日">休日(6本)</a>
<dl>
  <a name="京王相模原線-若葉台-調布方面(上り)-平日"></a>
  <dt class="list-title">
    平日(10本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          05:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          06:49（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          10:17（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          10:38（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          10:57（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          16:17（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          17:47（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          18:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          22:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          23:57（区間急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京王相模原線-若葉台-調布方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          11:17（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          16:36（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          17:16（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          19:57（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          21:17（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          23:56（区間急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京王相模原線-若葉台-調布方面(上り)-休日"></a>
  <dt class="list-title">
    休日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          11:17（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          16:36（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          17:16（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          19:57（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          21:17（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          若葉台
        </td>
        <td>
          調布（経由）
        </td>
        <td>
          23:56（区間急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
