<h3>
  京成上野駅始発の京成線 下り電車(268本)
</h3><a href="#京成線-京成上野-東成田・成田空港方面(下り)-平日">平日(84本)</a>
/ <a href="#京成線-京成上野-東成田・成田空港方面(下り)-土曜日">土曜日(92本)</a>
/ <a href="#京成線-京成上野-東成田・成田空港方面(下り)-休日">休日(92本)</a>
<dl>
  <a name="京成線-京成上野-東成田・成田空港方面(下り)-平日"></a>
  <dt class="list-title">
    平日(84本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          05:58（スカイライナー1号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          06:07（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          06:26（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          06:30（スカイライナー3号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          06:44（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          06:50（スカイライナー5号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          07:10（スカイライナー7号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:25（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          07:32（スカイライナー9号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:42（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          07:52（スカイライナー11号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          08:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          08:17（スカイライナー13号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          08:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          08:43（スカイライナー15号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          08:51（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:03（シティライナー81号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          09:20（スカイライナー17号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          10:00（スカイライナー19号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          10:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          10:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          10:40（スカイライナー21号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          10:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          11:00（スカイライナー23号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          11:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          11:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          11:40（スカイライナー25号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          11:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          12:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          12:20（スカイライナー27号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          12:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          12:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          13:00（スカイライナー29号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          13:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          13:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          13:40（スカイライナー31号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          13:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          14:00（スカイライナー33号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          14:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          14:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          14:40（スカイライナー35号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          14:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          15:00（スカイライナー37号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          15:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          15:20（スカイライナー39号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          15:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          15:40（スカイライナー41号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          15:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          16:00（スカイライナー43号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          16:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          16:20（スカイライナー45号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          16:34（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          16:40（スカイライナー47号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          16:54（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          17:00（スカイライナー49号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          17:14（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          17:39（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          17:45（スカイライナー51号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:00（イブニングライナー61号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          18:13（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:30（イブニングライナー63号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          18:43（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:50（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:00（イブニングライナー65号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          19:15（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:30（イブニングライナー67号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          19:45（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:00（イブニングライナー69号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:40（イブニングライナー71号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          20:54（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:20（イブニングライナー73号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          21:40（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          22:00（イブニングライナー75号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          22:14（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          22:34（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京成線-京成上野-東成田・成田空港方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(92本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          05:58（スカイライナー1号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          06:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          06:30（スカイライナー3号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          06:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          06:54（スカイライナー5号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:08（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          07:16（スカイライナー7号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          07:36（スカイライナー9号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:50（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          07:56（スカイライナー11号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          08:10（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          08:19（スカイライナー13号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          08:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          08:46（スカイライナー15号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          08:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:01（シティライナー81号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:16（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          09:20（スカイライナー17号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          10:00（スカイライナー19号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          10:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          10:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          10:40（スカイライナー21号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          10:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          11:00（スカイライナー23号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          11:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          11:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          11:40（スカイライナー25号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          11:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          12:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          12:20（スカイライナー27号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          12:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          12:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          13:00（スカイライナー29号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          13:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          13:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          13:40（スカイライナー31号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          13:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          14:00（スカイライナー33号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          14:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          14:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          14:40（スカイライナー35号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          14:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          15:00（スカイライナー37号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          15:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          15:20（スカイライナー39号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          15:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          15:40（スカイライナー41号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          15:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          16:00（スカイライナー43号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          16:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          16:20（スカイライナー45号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          16:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          16:40（スカイライナー47号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          16:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          17:00（スカイライナー49号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          17:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          17:34（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          17:40（スカイライナー51号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          17:54（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:00（イブニングライナー61号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          18:24（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:30（イブニングライナー63号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:39（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          18:46（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:54（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:00（イブニングライナー65号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:14（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          19:24（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:30（イブニングライナー67号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:39（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:56（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:00（イブニングライナー69号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          20:07（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:16（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:40（イブニングライナー71号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          20:47（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:56（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:20（イブニングライナー73号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          21:44（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          22:00（イブニングライナー75号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          22:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          22:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          22:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          23:42（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京成線-京成上野-東成田・成田空港方面(下り)-休日"></a>
  <dt class="list-title">
    休日(92本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          05:58（スカイライナー1号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          06:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          06:30（スカイライナー3号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          06:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          06:54（スカイライナー5号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:08（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          07:16（スカイライナー7号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          07:36（スカイライナー9号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:50（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          07:56（スカイライナー11号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          08:10（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          08:19（スカイライナー13号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          08:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          08:46（スカイライナー15号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          08:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:01（シティライナー81号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:16（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          09:20（スカイライナー17号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          09:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          10:00（スカイライナー19号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          10:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          10:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          10:40（スカイライナー21号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          10:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          11:00（スカイライナー23号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          11:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          11:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          11:40（スカイライナー25号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          11:55（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          12:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          12:20（スカイライナー27号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          12:35（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          12:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          13:00（スカイライナー29号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          13:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          13:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          13:40（スカイライナー31号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          13:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          14:00（スカイライナー33号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          14:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          14:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          14:40（スカイライナー35号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          14:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          15:00（スカイライナー37号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          15:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          15:20（スカイライナー39号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          15:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          15:40（スカイライナー41号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          15:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          16:00（スカイライナー43号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          16:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          16:20（スカイライナー45号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          16:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          16:40（スカイライナー47号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          16:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          17:00（スカイライナー49号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          17:15（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          17:34（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          日暮里
        </td>
        <td>
          17:40（スカイライナー51号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          17:54（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:00（イブニングライナー61号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:15（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          18:24（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:30（イブニングライナー63号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:39（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          18:46（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          18:54（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:00（イブニングライナー65号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:14（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          19:24（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:30（イブニングライナー67号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:39（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          19:56（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:00（イブニングライナー69号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          20:07（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:16（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:35（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:40（イブニングライナー71号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          20:47（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          20:56（快特）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:20（イブニングライナー73号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:34（特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成高砂
        </td>
        <td>
          21:44（アクセス特急）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          21:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          22:00（イブニングライナー75号）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          22:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          22:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成成田
        </td>
        <td>
          22:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成上野
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          23:42（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
