<h3>
  押上駅始発の京成押上線 下り電車(1本)
</h3>
<dl>
  <a name="京成押上線-押上-京成高砂方面(下り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          押上
        </td>
        <td>
          京成高砂（経由）
        </td>
        <td>
          06:42（アクセス特急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
