<h3>
  成田空港駅始発の京成線 上り電車(137本)
</h3><a href="#京成線-成田空港-京成上野方面(上り)-平日">平日(47本)</a>
/ <a href="#京成線-成田空港-京成上野方面(上り)-土曜日">土曜日(45本)</a>
/ <a href="#京成線-成田空港-京成上野方面(上り)-休日">休日(45本)</a>
<dl>
  <a name="京成線-成田空港-京成上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(47本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          06:03（通勤特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          07:43（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          07:49（モーニングライナー64号）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:12（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:37（モーニングライナー66号）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:58（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          09:19（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          09:44（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          10:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          10:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          10:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          11:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          11:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          11:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          12:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          12:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          12:49（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          13:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          13:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          13:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          14:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          14:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          14:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          15:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          15:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          15:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          16:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          16:24（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          16:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          17:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          17:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          17:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          18:02（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          18:14（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          18:33（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          18:54（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          19:12（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          19:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          19:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          20:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          20:25（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          20:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          21:03（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          21:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          21:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          22:39（通勤特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京成線-成田空港-京成上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(45本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          06:14（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          07:50（モーニングライナー64号）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:01（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:21（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:35（モーニングライナー66号）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          09:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          09:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          09:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          10:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          10:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          10:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          11:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          11:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          11:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          12:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          12:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          12:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          13:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          13:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          13:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          14:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          14:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          14:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          15:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          15:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          15:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          16:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          16:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          16:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          17:08（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          17:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          17:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          18:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          18:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          18:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          19:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          19:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          19:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          20:04（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          20:29（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          20:59（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          21:29（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          21:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          22:39（通勤特急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京成線-成田空港-京成上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(45本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          06:14（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          07:50（モーニングライナー64号）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:01（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:21（快特）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:35（モーニングライナー66号）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          08:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          09:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          09:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          09:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          10:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          10:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          10:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          11:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          11:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          11:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          12:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          12:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          12:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          13:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          13:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          13:45（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          14:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          14:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          14:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          15:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          15:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          15:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          16:07（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          16:27（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          16:47（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          17:08（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          17:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          17:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          18:06（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          18:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          18:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          19:05（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          19:26（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          19:46（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          20:04（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          20:29（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          20:59（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          21:29（特急）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          21:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          成田空港
        </td>
        <td>
          空港第２ビル
        </td>
        <td>
          22:39（通勤特急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
