<h3>
  京成高砂駅始発の京成線 下り電車(19本)
</h3><a href="#京成線-京成高砂-東成田・成田空港方面(下り)-平日">平日(9本)</a>
/ <a href="#京成線-京成高砂-東成田・成田空港方面(下り)-土曜日">土曜日(5本)</a>
/ <a href="#京成線-京成高砂-東成田・成田空港方面(下り)-休日">休日(5本)</a>
<dl>
  <a name="京成線-京成高砂-東成田・成田空港方面(下り)-平日"></a>
  <dt class="list-title">
    平日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          宗吾参道
        </td>
        <td>
          08:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成成田
        </td>
        <td>
          08:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          宗吾参道
        </td>
        <td>
          08:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          09:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          09:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          10:01（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京成線-京成高砂-東成田・成田空港方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(5本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:14（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          07:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          08:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          08:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          09:26（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="京成線-京成高砂-東成田・成田空港方面(下り)-休日"></a>
  <dt class="list-title">
    休日(5本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成成田
        </td>
        <td>
          07:14（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          07:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          08:16（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          08:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          京成佐倉
        </td>
        <td>
          09:26（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  京成高砂駅始発の京成押上線 上り電車(5本)
</h3>
<dl>
  <a name="京成押上線-京成高砂-押上方面(上り)-平日"></a>
  <dt class="list-title">
    平日(5本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          押上（経由）
        </td>
        <td>
          10:24（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          押上（経由）
        </td>
        <td>
          10:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          押上（経由）
        </td>
        <td>
          11:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          押上（経由）
        </td>
        <td>
          15:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          京成高砂
        </td>
        <td>
          押上（経由）
        </td>
        <td>
          18:45（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
