<h3>
  新習志野駅始発の京葉線 上り電車(56本)
</h3><a href="#京葉線-新習志野-東京方面(上り)-平日">平日(24本)</a>
/ <a href="#京葉線-新習志野-東京方面(上り)-土曜日">土曜日(16本)</a>
/ <a href="#京葉線-新習志野-東京方面(上り)-休日">休日(16本)</a>
<dl>
  <a name="京葉線-新習志野-東京方面(上り)-平日"></a>
  <dt class="list-title">
    平日(24本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          04:57
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:11
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:27
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:36
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:46
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:57
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:03
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          06:13
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:22
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:25
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:32
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:49
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:54
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:59
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          07:08
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          07:11（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          07:20
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:53（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          15:58
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:00
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:51
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:01
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:34
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          19:09
        </td>
      </tr>
    </table>
  </dd>
  <a name="京葉線-新習志野-東京方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(16本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          04:57
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:11
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:26
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:36
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:45
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:54
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:02
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:05
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          06:17（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          07:34
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          09:48
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:01（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:05
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:49
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          19:39
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          20:52
        </td>
      </tr>
    </table>
  </dd>
  <a name="京葉線-新習志野-東京方面(上り)-休日"></a>
  <dt class="list-title">
    休日(16本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          04:57
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:11
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:26
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:36
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:45
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          05:54
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:02
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:05
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          06:17（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          07:34
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          09:48
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:01（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:05
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:49
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          19:39
        </td>
      </tr>
      <tr>
        <td>
          新習志野
        </td>
        <td>
          南船橋
        </td>
        <td>
          20:52
        </td>
      </tr>
    </table>
  </dd>
</dl>
