<h3>
  海浜幕張駅始発の京葉線 上り電車(146本)
</h3><a href="#京葉線-海浜幕張-東京方面(上り)-平日">平日(42本)</a>
/ <a href="#京葉線-海浜幕張-東京方面(上り)-土曜日">土曜日(52本)</a>
/ <a href="#京葉線-海浜幕張-東京方面(上り)-休日">休日(52本)</a>
<dl>
  <a name="京葉線-海浜幕張-東京方面(上り)-平日"></a>
  <dt class="list-title">
    平日(42本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          07:00
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          07:37
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          07:56
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          08:11
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          08:25
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          08:39
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          08:58
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          09:12
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          09:28
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          09:44
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          09:52
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          10:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          10:53
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          11:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          11:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          12:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          12:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          13:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          13:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          14:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          14:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:13
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:26
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:42
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:45
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          16:53
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:22
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:33
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:54
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:12
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          18:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:58
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          19:29
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          19:47
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          20:13
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          20:37
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          21:08
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          21:33
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          22:00
        </td>
      </tr>
    </table>
  </dd>
  <a name="京葉線-海浜幕張-東京方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(52本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:59
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          07:46
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          08:23
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          08:53
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          09:14
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          09:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          10:03
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          10:15
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          10:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          10:41
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          10:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          11:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          11:20
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          11:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          11:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          12:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          12:20
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          12:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          12:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          13:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          13:14
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          13:20
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          13:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          14:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          14:07
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          14:20
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          14:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:21
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:04
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          16:12
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:20
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:34
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:11
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:17
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:49
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:07
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:12
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:56
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          19:17
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          19:53
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          20:21
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          20:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          20:59
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          21:42
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          22:14
        </td>
      </tr>
    </table>
  </dd>
  <a name="京葉線-海浜幕張-東京方面(上り)-休日"></a>
  <dt class="list-title">
    休日(52本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          06:59
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          07:46
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          08:23
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          08:53
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          09:14
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          09:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          10:03
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          10:15
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          10:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          10:41
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          10:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          11:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          11:20
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          11:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          11:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          12:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          12:20
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          12:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋（経由）
        </td>
        <td>
          12:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          13:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          13:14
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          13:20
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          13:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          14:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          14:07
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          14:20
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          14:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:05
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:21
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:35
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          15:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:04
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          16:12
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:20
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:34
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          16:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:11
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:17
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          17:49
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:07
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:12
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:50
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          18:56
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          19:17
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          19:53
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          20:21
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          20:36
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          南船橋
        </td>
        <td>
          20:59
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          21:42
        </td>
      </tr>
      <tr>
        <td>
          海浜幕張
        </td>
        <td>
          新習志野
        </td>
        <td>
          22:14
        </td>
      </tr>
    </table>
  </dd>
</dl>
