<h3>
  西船橋駅始発の武蔵野線 上り電車(22本)
</h3><a href="#武蔵野線-西船橋-府中本町方面(上り)-平日">平日(8本)</a>
/ <a href="#武蔵野線-西船橋-府中本町方面(上り)-土曜日">土曜日(7本)</a>
/ <a href="#武蔵野線-西船橋-府中本町方面(上り)-休日">休日(7本)</a>
<dl>
  <a name="武蔵野線-西船橋-府中本町方面(上り)-平日"></a>
  <dt class="list-title">
    平日(8本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          04:59
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          06:02
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          07:33
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          07:45
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          18:07
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          18:41
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          19:01
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          武蔵浦和（経由）
        </td>
        <td>
          19:35（しもうさ号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-西船橋-府中本町方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(7本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          04:59
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          06:22
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          07:17
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          07:38
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          09:02
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町（経由）
        </td>
        <td>
          18:44
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          武蔵浦和
        </td>
        <td>
          19:20（しもうさ号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-西船橋-府中本町方面(上り)-休日"></a>
  <dt class="list-title">
    休日(7本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          04:59
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          06:22
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          07:17
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          07:38
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町
        </td>
        <td>
          09:02
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          府中本町（経由）
        </td>
        <td>
          18:44
        </td>
      </tr>
      <tr>
        <td>
          西船橋
        </td>
        <td>
          武蔵浦和
        </td>
        <td>
          19:20（しもうさ号）
        </td>
      </tr>
    </table>
  </dd>
</dl>
