<h3>
  武蔵浦和駅始発の武蔵野線 上り電車(9本)
</h3><a href="#武蔵野線-武蔵浦和-府中本町方面(上り)-平日">平日(3本)</a>
/ <a href="#武蔵野線-武蔵浦和-府中本町方面(上り)-土曜日">土曜日(3本)</a>
/ <a href="#武蔵野線-武蔵浦和-府中本町方面(上り)-休日">休日(3本)</a>
<dl>
  <a name="武蔵野線-武蔵浦和-府中本町方面(上り)-平日"></a>
  <dt class="list-title">
    平日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          08:12（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          16:49（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          20:22（しもうさ号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-武蔵浦和-府中本町方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          07:15（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          16:59（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          20:08（しもうさ号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-武蔵浦和-府中本町方面(上り)-休日"></a>
  <dt class="list-title">
    休日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          07:15（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          16:59（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大宮
        </td>
        <td>
          20:08（しもうさ号）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  武蔵浦和駅始発の武蔵野線 下り電車(9本)
</h3><a href="#武蔵野線-武蔵浦和-西船橋方面(下り)-平日">平日(3本)</a>
/ <a href="#武蔵野線-武蔵浦和-西船橋方面(下り)-土曜日">土曜日(3本)</a>
/ <a href="#武蔵野線-武蔵浦和-西船橋方面(下り)-休日">休日(3本)</a>
<dl>
  <a name="武蔵野線-武蔵浦和-西船橋方面(下り)-平日"></a>
  <dt class="list-title">
    平日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:40（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:38（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:09（しもうさ号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-武蔵浦和-西船橋方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:24（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:13（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:09（しもうさ号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-武蔵浦和-西船橋方面(下り)-休日"></a>
  <dt class="list-title">
    休日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:24（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:13（しもうさ号）
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:09（しもうさ号）
        </td>
      </tr>
    </table>
  </dd>
</dl>
