<h3>
  府中本町駅始発の武蔵野線 下り電車(363本)
</h3><a href="#武蔵野線-府中本町-西船橋方面(下り)-平日">平日(125本)</a>
/ <a href="#武蔵野線-府中本町-西船橋方面(下り)-土曜日">土曜日(119本)</a>
/ <a href="#武蔵野線-府中本町-西船橋方面(下り)-休日">休日(119本)</a>
<dl>
  <a name="武蔵野線-府中本町-西船橋方面(下り)-平日"></a>
  <dt class="list-title">
    平日(125本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:16
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:47
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:59
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:08
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:16
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          06:26
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:37
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:46
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:57
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:03
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:08
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:14
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:22
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          大宮
        </td>
        <td>
          07:34（むさしの号）
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          07:39
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:47
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:55
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:03
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:12
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          08:16
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          大宮
        </td>
        <td>
          08:27（むさしの号）
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          08:35
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:43
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:47
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:52
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          08:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          09:13
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          09:17
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:22
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:51
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:11
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:42
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:51
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          11:11
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:51
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:11
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:51
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:11
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          13:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:51
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:11
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:51
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:11
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:29
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:42
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:55
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          16:07
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:18
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:42
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:52
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:03
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:11
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:17
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:25
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:47
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          17:54
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:02
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:18
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:25
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:32
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:51
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:08
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:18
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:27
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢（経由）
        </td>
        <td>
          19:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:36
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:48
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:58
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:09
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          20:25
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:32
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:43
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:55
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          21:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:08
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          21:34
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:45
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:57
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:07
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          22:11
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:19
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:43
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          22:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          23:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          23:19
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          南越谷
        </td>
        <td>
          23:36
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          南越谷
        </td>
        <td>
          00:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          00:26
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-府中本町-西船橋方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(119本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:16
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:32
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:43
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:59
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:09
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:24
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          06:35
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:44
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:52
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:02
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:16
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:24
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:48
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:12
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:26（むさしの号）
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:44
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          08:53
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:57
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          09:02
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:09
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          09:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          10:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          12:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          15:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:29
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:13
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:37
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:46
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:54
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:12
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:19
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:27
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:35
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          18:45
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          18:52
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:08
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:19
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          19:37
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:43
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          19:47
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:07
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          20:12
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:32
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:45
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          20:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:08
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          21:14
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:33
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:44
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:07
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:19
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:43
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          22:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          23:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          23:19
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          南越谷
        </td>
        <td>
          23:36
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          南越谷
        </td>
        <td>
          00:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          00:26
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-府中本町-西船橋方面(下り)-休日"></a>
  <dt class="list-title">
    休日(119本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:16
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:32
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:43
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:59
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:09
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:24
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          06:35
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:44
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:52
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:02
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:16
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:24
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:48
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:12
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:26（むさしの号）
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:44
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          08:53
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          08:57
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          09:02
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:09
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          09:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          09:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          10:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          10:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          11:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          12:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          12:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          15:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:00
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:10
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:29
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:40
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:01
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:13
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:37
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:46
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:54
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:12
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:19
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:27
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:35
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          18:45
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          18:52
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          18:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:08
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:19
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:30
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          19:37
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:43
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          19:47
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          19:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:07
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          20:12
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:20
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:32
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          20:45
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          20:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:08
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          21:14
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:21
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:33
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:44
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          21:56
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:07
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:19
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:31
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          22:43
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          22:50
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋
        </td>
        <td>
          23:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          23:19
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          南越谷
        </td>
        <td>
          23:36
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          南越谷
        </td>
        <td>
          00:04
        </td>
      </tr>
      <tr>
        <td>
          府中本町
        </td>
        <td>
          東所沢
        </td>
        <td>
          00:26
        </td>
      </tr>
    </table>
  </dd>
</dl>
