<h3>
  東所沢駅始発の武蔵野線 上り電車(23本)
</h3><a href="#武蔵野線-東所沢-府中本町方面(上り)-平日">平日(7本)</a>
/ <a href="#武蔵野線-東所沢-府中本町方面(上り)-土曜日">土曜日(8本)</a>
/ <a href="#武蔵野線-東所沢-府中本町方面(上り)-休日">休日(8本)</a>
<dl>
  <a name="武蔵野線-東所沢-府中本町方面(上り)-平日"></a>
  <dt class="list-title">
    平日(7本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町（経由）
        </td>
        <td>
          04:46
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          05:01
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          05:13
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          06:07
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          06:16
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          06:29
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          17:32
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-東所沢-府中本町方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(8本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町（経由）
        </td>
        <td>
          04:46
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          05:01
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          05:13
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          06:13
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          07:08
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          17:42
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          18:14
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-東所沢-府中本町方面(上り)-休日"></a>
  <dt class="list-title">
    休日(8本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町（経由）
        </td>
        <td>
          04:46
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          05:01
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          05:13
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          06:13
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          07:08
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          17:42
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          府中本町
        </td>
        <td>
          18:14
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  東所沢駅始発の武蔵野線 下り電車(34本)
</h3><a href="#武蔵野線-東所沢-西船橋方面(下り)-平日">平日(16本)</a>
/ <a href="#武蔵野線-東所沢-西船橋方面(下り)-土曜日">土曜日(9本)</a>
/ <a href="#武蔵野線-東所沢-西船橋方面(下り)-休日">休日(9本)</a>
<dl>
  <a name="武蔵野線-東所沢-西船橋方面(下り)-平日"></a>
  <dt class="list-title">
    平日(16本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          04:44
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          04:54
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:05
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:25
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:39
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:51
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:00
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:10
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:38
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:47
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:59
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          07:12
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          16:53
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          17:14
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-東所沢-西船橋方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          04:44
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          04:54
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:05
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:25
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:39
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:54
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:08
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:31
        </td>
      </tr>
    </table>
  </dd>
  <a name="武蔵野線-東所沢-西船橋方面(下り)-休日"></a>
  <dt class="list-title">
    休日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋（経由）
        </td>
        <td>
          04:44
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          04:54
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:05
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:25
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:39
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          05:54
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:08
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          東所沢
        </td>
        <td>
          西船橋
        </td>
        <td>
          15:31
        </td>
      </tr>
    </table>
  </dd>
</dl>
