<h3>
  武蔵溝ノ口駅始発の南武線 上り電車(8本)
</h3><a href="#南武線-武蔵溝ノ口-川崎方面(上り)-平日">平日(2本)</a>
/ <a href="#南武線-武蔵溝ノ口-川崎方面(上り)-土曜日">土曜日(3本)</a>
/ <a href="#南武線-武蔵溝ノ口-川崎方面(上り)-休日">休日(3本)</a>
<dl>
  <a name="南武線-武蔵溝ノ口-川崎方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵溝ノ口
        </td>
        <td>
          川崎
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          武蔵溝ノ口
        </td>
        <td>
          川崎
        </td>
        <td>
          06:46
        </td>
      </tr>
    </table>
  </dd>
  <a name="南武線-武蔵溝ノ口-川崎方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵溝ノ口
        </td>
        <td>
          川崎
        </td>
        <td>
          05:58
        </td>
      </tr>
      <tr>
        <td>
          武蔵溝ノ口
        </td>
        <td>
          川崎
        </td>
        <td>
          06:34
        </td>
      </tr>
      <tr>
        <td>
          武蔵溝ノ口
        </td>
        <td>
          川崎
        </td>
        <td>
          06:52
        </td>
      </tr>
    </table>
  </dd>
  <a name="南武線-武蔵溝ノ口-川崎方面(上り)-休日"></a>
  <dt class="list-title">
    休日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵溝ノ口
        </td>
        <td>
          川崎
        </td>
        <td>
          05:58
        </td>
      </tr>
      <tr>
        <td>
          武蔵溝ノ口
        </td>
        <td>
          川崎
        </td>
        <td>
          06:34
        </td>
      </tr>
      <tr>
        <td>
          武蔵溝ノ口
        </td>
        <td>
          川崎
        </td>
        <td>
          06:52
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  武蔵溝ノ口駅始発の南武線 下り電車(1本)
</h3>
<dl>
  <a name="南武線-武蔵溝ノ口-立川方面(下り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵溝ノ口
        </td>
        <td>
          登戸
        </td>
        <td>
          07:08
        </td>
      </tr>
    </table>
  </dd>
</dl>
