<h3>
  大船駅始発の京浜東北線(根岸線) 上り電車(388本)
</h3><a href="#京浜東北線(根岸線)-大船-横浜方面(上り)-平日">平日(136本)</a>
/ <a href="#京浜東北線(根岸線)-大船-横浜方面(上り)-土曜日">土曜日(126本)</a>
/ <a href="#京浜東北線(根岸線)-大船-横浜方面(上り)-休日">休日(126本)</a>
<dl>
  <a name="京浜東北線(根岸線)-大船-横浜方面(上り)-平日"></a>
  <dt class="list-title">
    平日(136本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:43
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:17
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:38
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:49
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:56
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:07
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:18
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:35
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:44
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:50
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:55
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:00
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:04
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:14
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:18
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:22
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:27
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:32
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:37
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:42
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:47
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:00
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:16
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:22
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:29
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:37
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:44
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:50
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:59
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:05
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:12
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:21
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:12（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:00（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:00
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:11
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:21
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:02
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:19
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:29
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:38
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:45
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:54
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:02
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:13
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:22
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:34
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:40
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:50
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:58
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:07
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:17
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:25
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:34
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:46
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:54
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:04
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:15
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:21
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:36
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:40
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:49
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:54
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:01
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:06
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:11
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:20
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:36
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:46
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:53
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:56
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:04
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:16
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:25
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:36
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:01
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:09
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:21
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:43
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:54
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:59
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          23:12
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          23:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          23:48
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          00:09
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線(根岸線)-大船-横浜方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(126本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:43
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:17
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:34
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:57
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:07
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:20
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:47
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:52
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:56
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:01
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:05
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:13
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:18
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:24
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:29
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:35
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:40
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:45
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:50
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:55
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:00
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:04
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:12
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:23
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:39
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:47
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:55
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:00
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:04
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:13
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:12（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:00
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:11
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:21
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:03
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:21
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:02
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:15
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:25
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:29
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:38
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:46
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:53
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:57
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:03
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:11
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:20
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:38
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:43
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:53
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:03
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:13
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:23
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:33
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:39
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:49
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:59
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:08
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:16
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:23
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:35
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:47
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:59
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:20
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:28
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:36
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:43
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:46
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:53
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:09
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:24
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:44
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:59
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          23:12
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          23:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          23:48
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          00:09
        </td>
      </tr>
    </table>
  </dd>
  <a name="京浜東北線(根岸線)-大船-横浜方面(上り)-休日"></a>
  <dt class="list-title">
    休日(126本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          04:43
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:17
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:34
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:57
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:07
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:20
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:47
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:52
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:56
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:01
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:05
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:13
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:18
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:24
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:29
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:35
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:40
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:45
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:50
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:55
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:00
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:04
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:12
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:23
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:39
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:47
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:55
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:00
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:04
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:13
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          09:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:12（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          13:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:11（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          14:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:00
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:11
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:21
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:03
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:21
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:41
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          16:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:02
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:15
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:25
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:29
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:38
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:46
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:53
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          17:57
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:03
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:11
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:20
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:38
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:43
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          18:53
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:03
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:13
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:23
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:33
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:39
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:49
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:59
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:08
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:16
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:23
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:35
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:47
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:59
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:10
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:20
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:28
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:36
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:43
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:46
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:53
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:09
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:24
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:44
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:59
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          23:12
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          23:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          23:48
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          00:09
        </td>
      </tr>
    </table>
  </dd>
</dl>
