<h3>
  相模大野駅始発の小田急小田原線 上り電車(28本)
</h3><a href="#小田急小田原線-相模大野-新宿方面(上り)-平日">平日(8本)</a>
/ <a href="#小田急小田原線-相模大野-新宿方面(上り)-土曜日">土曜日(10本)</a>
/ <a href="#小田急小田原線-相模大野-新宿方面(上り)-休日">休日(10本)</a>
<dl>
  <a name="小田急小田原線-相模大野-新宿方面(上り)-平日"></a>
  <dt class="list-title">
    平日(8本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          04:53（準急）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          05:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          05:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          05:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          06:10（特急 さがみ62号）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          06:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          19:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          22:39（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急小田原線-相模大野-新宿方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(10本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          04:53（準急）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          05:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          05:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          06:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          05:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          06:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          06:26（特急 さがみ58号）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          07:03（特急 さがみ62号）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          17:34（特急 さがみ86号）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          21:59（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急小田原線-相模大野-新宿方面(上り)-休日"></a>
  <dt class="list-title">
    休日(10本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          04:53（準急）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          05:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          05:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          06:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          05:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          06:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          06:26（特急 さがみ58号）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          07:03（特急 さがみ62号）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          17:34（特急 さがみ86号）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          新宿
        </td>
        <td>
          21:59（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  相模大野駅始発の小田急小田原線 下り電車(54本)
</h3><a href="#小田急小田原線-相模大野-松田・小田原方面(下り)-平日">平日(6本)</a>
/ <a href="#小田急小田原線-相模大野-松田・小田原方面(下り)-土曜日">土曜日(24本)</a>
/ <a href="#小田急小田原線-相模大野-松田・小田原方面(下り)-休日">休日(24本)</a>
<dl>
  <a name="小田急小田原線-相模大野-松田・小田原方面(下り)-平日"></a>
  <dt class="list-title">
    平日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          16:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          17:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          17:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          18:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          18:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          19:58（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急小田原線-相模大野-松田・小田原方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(24本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          09:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          09:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          10:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          10:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          11:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          11:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          12:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          12:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          13:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          14:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          15:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          16:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          17:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          17:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          18:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          18:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          19:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          19:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          20:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          20:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          21:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          21:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          22:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          22:23（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急小田原線-相模大野-松田・小田原方面(下り)-休日"></a>
  <dt class="list-title">
    休日(24本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          09:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          09:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          10:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          10:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          11:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          11:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          12:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          12:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          13:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          14:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          15:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          16:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          17:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          17:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          18:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          18:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          19:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          19:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          20:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          20:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          21:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          21:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          22:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          小田原
        </td>
        <td>
          22:23（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  相模大野駅始発の小田急江ノ島線 下り電車(44本)
</h3><a href="#小田急江ノ島線-相模大野-片瀬江ノ島方面(下り)-平日">平日(12本)</a>
/ <a href="#小田急江ノ島線-相模大野-片瀬江ノ島方面(下り)-土曜日">土曜日(16本)</a>
/ <a href="#小田急江ノ島線-相模大野-片瀬江ノ島方面(下り)-休日">休日(16本)</a>
<dl>
  <a name="小田急江ノ島線-相模大野-片瀬江ノ島方面(下り)-平日"></a>
  <dt class="list-title">
    平日(12本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          05:26（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          05:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          05:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          06:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          06:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          06:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          07:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          07:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          07:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          07:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          10:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          11:13（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急江ノ島線-相模大野-片瀬江ノ島方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(16本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          06:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          06:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          06:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          07:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          07:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          07:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          10:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          11:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          12:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          13:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          14:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          15:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          16:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          17:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          18:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          22:32（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急江ノ島線-相模大野-片瀬江ノ島方面(下り)-休日"></a>
  <dt class="list-title">
    休日(16本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          06:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          06:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          06:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          07:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          07:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          藤沢
        </td>
        <td>
          07:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          10:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          11:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          12:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          13:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          14:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          15:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          16:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          17:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          18:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          相模大野
        </td>
        <td>
          片瀬江ノ島
        </td>
        <td>
          22:32（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
