<h3>
  新百合ヶ丘駅始発の小田急小田原線 下り電車(1本)
</h3>
<dl>
  <a name="小田急小田原線-新百合ヶ丘-松田・小田原方面(下り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新百合ヶ丘
        </td>
        <td>
          小田原（経由）
        </td>
        <td>
          08:10（特急 はこね5号）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  新百合ヶ丘駅始発の小田急多摩線 下り電車(1本)
</h3>
<dl>
  <a name="小田急多摩線-新百合ヶ丘-唐木田方面(下り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新百合ヶ丘
        </td>
        <td>
          唐木田
        </td>
        <td>
          08:46（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
