<h3>
  藤沢駅始発の小田急江ノ島線 上り電車(113本)
</h3><a href="#小田急江ノ島線-藤沢-相模大野方面(上り)-平日">平日(41本)</a>
/ <a href="#小田急江ノ島線-藤沢-相模大野方面(上り)-土曜日">土曜日(36本)</a>
/ <a href="#小田急江ノ島線-藤沢-相模大野方面(上り)-休日">休日(36本)</a>
<dl>
  <a name="小田急江ノ島線-藤沢-相模大野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(41本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          06:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          06:14（特急 えのしま66号）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          06:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          06:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          07:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          07:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          07:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:18（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          09:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          10:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          10:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          11:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          11:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          11:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          12:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          12:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          13:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          13:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          14:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          14:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          15:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          15:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          16:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          16:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          18:02（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野
        </td>
        <td>
          18:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          18:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          19:11（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          19:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          20:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          20:27（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          20:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          21:04（特急 えのしま90号）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          21:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          21:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          22:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          22:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          23:08（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急江ノ島線-藤沢-相模大野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(36本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          06:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          07:14（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          07:42（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:13（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:50（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          09:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          10:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          10:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          11:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          11:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          12:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          12:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          13:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          13:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          14:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          14:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          15:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          15:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          16:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          16:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          18:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          18:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          19:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野
        </td>
        <td>
          19:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          20:02（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野
        </td>
        <td>
          20:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          20:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          21:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野
        </td>
        <td>
          21:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          21:32（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          22:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          22:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野
        </td>
        <td>
          22:33（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急江ノ島線-藤沢-相模大野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(36本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          06:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          07:14（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          07:42（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:13（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:50（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          09:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          10:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          10:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          11:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          11:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          12:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          12:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          13:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          13:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          14:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          14:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          15:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          15:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          16:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          16:34（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          18:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          18:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          19:04（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野
        </td>
        <td>
          19:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          20:02（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野
        </td>
        <td>
          20:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          20:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          21:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野
        </td>
        <td>
          21:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          21:32（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          22:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          22:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          藤沢
        </td>
        <td>
          相模大野
        </td>
        <td>
          22:33（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
