<h3>
  唐木田駅始発の小田急多摩線 上り電車(132本)
</h3><a href="#小田急多摩線-唐木田-新百合ヶ丘方面(上り)-平日">平日(48本)</a>
/ <a href="#小田急多摩線-唐木田-新百合ヶ丘方面(上り)-土曜日">土曜日(42本)</a>
/ <a href="#小田急多摩線-唐木田-新百合ヶ丘方面(上り)-休日">休日(42本)</a>
<dl>
  <a name="小田急多摩線-唐木田-新百合ヶ丘方面(上り)-平日"></a>
  <dt class="list-title">
    平日(48本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘
        </td>
        <td>
          06:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          06:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘
        </td>
        <td>
          06:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          06:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘
        </td>
        <td>
          06:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          07:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          08:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          08:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          08:55（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          09:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          09:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:09（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:09（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:39（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:09（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:39（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:09（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:39（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:09（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:39（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:09（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:39（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:09（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:39（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          17:09（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          17:28（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          18:08（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          18:38（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          19:17（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          20:01（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          20:34（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          21:06（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          21:43（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          22:10（多摩急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急多摩線-唐木田-新百合ヶ丘方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(42本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          07:24（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          07:54（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          08:24（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          08:48（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          09:24（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          09:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          17:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          17:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          17:39（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          18:04（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          18:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          18:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          19:15（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          20:38（多摩急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急多摩線-唐木田-新百合ヶ丘方面(上り)-休日"></a>
  <dt class="list-title">
    休日(42本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          07:24（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          07:54（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          08:24（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          08:48（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          09:24（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          09:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          10:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          11:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          12:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          13:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          14:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          15:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          16:57（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          17:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          17:27（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          17:39（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          18:04（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          18:08（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          18:38（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          19:15（多摩急行）
        </td>
      </tr>
      <tr>
        <td>
          唐木田
        </td>
        <td>
          新百合ヶ丘（経由）
        </td>
        <td>
          20:38（多摩急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
