<h3>
  片瀬江ノ島駅始発の小田急江ノ島線 上り電車(57本)
</h3><a href="#小田急江ノ島線-片瀬江ノ島-相模大野方面(上り)-平日">平日(15本)</a>
/ <a href="#小田急江ノ島線-片瀬江ノ島-相模大野方面(上り)-土曜日">土曜日(21本)</a>
/ <a href="#小田急江ノ島線-片瀬江ノ島-相模大野方面(上り)-休日">休日(21本)</a>
<dl>
  <a name="小田急江ノ島線-片瀬江ノ島-相模大野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(15本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          07:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:42（特急 えのしま74号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          09:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          10:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          11:13（特急 えのしま10号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          12:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          13:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          14:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          15:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          16:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:25（特急 えのしま82号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          19:10（特急 えのしま84号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          23:42（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急江ノ島線-片瀬江ノ島-相模大野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(21本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          06:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          07:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:53（特急 えのしま74号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          09:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          09:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          10:31（特急 えのしま76号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          11:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          12:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          12:31（特急 えのしま16号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          13:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          14:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          14:31（特急 えのしま82号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          15:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          15:31（特急 えのしま84号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          16:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          16:33（特急 えのしま12号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          17:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:42（特急 えのしま88号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          18:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          19:26（特急 えのしま92号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          20:26（特急 えのしま94号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="小田急江ノ島線-片瀬江ノ島-相模大野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(21本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          06:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          07:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          08:53（特急 えのしま74号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          09:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          09:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          10:31（特急 えのしま76号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          11:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          12:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          12:31（特急 えのしま16号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          13:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          14:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          14:31（特急 えのしま82号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          15:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          15:31（特急 えのしま84号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          16:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          16:33（特急 えのしま12号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          17:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          17:42（特急 えのしま88号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野
        </td>
        <td>
          18:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          19:26（特急 えのしま92号）
        </td>
      </tr>
      <tr>
        <td>
          片瀬江ノ島
        </td>
        <td>
          相模大野（経由）
        </td>
        <td>
          20:26（特急 えのしま94号）
        </td>
      </tr>
    </table>
  </dd>
</dl>
