<h3>
  河辺駅始発の青梅線 上り電車(4本)
</h3>
<dl>
  <a name="青梅線-河辺-立川方面(上り)-平日"></a>
  <dt class="list-title">
    平日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          河辺
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:56（快速）
        </td>
      </tr>
      <tr>
        <td>
          河辺
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          河辺
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          河辺
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:48（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
