<h3>
  青梅駅始発の青梅線 上り電車(114本)
</h3><a href="#青梅線-青梅-立川方面(上り)-平日">平日(46本)</a>
/ <a href="#青梅線-青梅-立川方面(上り)-土曜日">土曜日(34本)</a>
/ <a href="#青梅線-青梅-立川方面(上り)-休日">休日(34本)</a>
<dl>
  <a name="青梅線-青梅-立川方面(上り)-平日"></a>
  <dt class="list-title">
    平日(46本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          05:50（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:17（ホームライナー 青梅ライナー）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:34（通勤特別快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:50（通勤特別快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:05（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:12（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          09:36（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:07（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:30（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:54（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          11:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          11:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          11:57（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          12:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          12:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          12:57（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          13:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          13:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          13:57（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          14:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          14:44（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          14:57（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:57（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          16:45（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          16:56（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          17:18（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          17:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          17:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          18:14（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          18:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          18:47（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          19:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          19:19（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          19:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          20:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          20:27（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          20:35（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          20:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          21:24（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="青梅線-青梅-立川方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(34本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:28（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:56（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:36（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          09:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          09:31（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:32（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          11:04（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          11:27（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          11:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          12:05（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          12:26（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          12:48（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          13:06（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          13:26（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          13:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          14:06（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          14:26（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          14:49（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:03（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:33（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          16:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          16:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          17:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          17:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          18:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          18:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          19:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          20:17（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="青梅線-青梅-立川方面(上り)-休日"></a>
  <dt class="list-title">
    休日(34本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:28（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          07:56（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          08:36（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          09:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          09:31（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:01（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:32（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          10:54（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          11:04（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          11:27（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          11:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          12:05（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          12:26（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          12:48（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          13:06（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          13:26（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          13:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          14:06（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          14:26（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          14:49（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:03（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:33（青梅特快）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          16:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          16:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          17:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          17:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          18:30（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          18:46（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          19:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          青梅
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          20:17（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
