<h3>
  奥多摩駅始発の青梅線 上り電車(10本)
</h3><a href="#青梅線-奥多摩-立川方面(上り)-平日">平日(2本)</a>
/ <a href="#青梅線-奥多摩-立川方面(上り)-土曜日">土曜日(4本)</a>
/ <a href="#青梅線-奥多摩-立川方面(上り)-休日">休日(4本)</a>
<dl>
  <a name="青梅線-奥多摩-立川方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          奥多摩
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          05:48（快速）
        </td>
      </tr>
      <tr>
        <td>
          奥多摩
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:06（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="青梅線-奥多摩-立川方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          奥多摩
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          奥多摩
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:26（特別快速 ホリデー快速おくたま2号）
        </td>
      </tr>
      <tr>
        <td>
          奥多摩
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          16:23（特別快速 ホリデー快速おくたま4号）
        </td>
      </tr>
      <tr>
        <td>
          奥多摩
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          16:57（特別快速 ホリデー快速おくたま6号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="青梅線-奥多摩-立川方面(上り)-休日"></a>
  <dt class="list-title">
    休日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          奥多摩
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          06:06（快速）
        </td>
      </tr>
      <tr>
        <td>
          奥多摩
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          15:26（特別快速 ホリデー快速おくたま2号）
        </td>
      </tr>
      <tr>
        <td>
          奥多摩
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          16:23（特別快速 ホリデー快速おくたま4号）
        </td>
      </tr>
      <tr>
        <td>
          奥多摩
        </td>
        <td>
          立川（経由）
        </td>
        <td>
          16:57（特別快速 ホリデー快速おくたま6号）
        </td>
      </tr>
    </table>
  </dd>
</dl>
