<h3>
  大崎駅始発の埼京線 大宮方面電車(3本)
</h3><a href="#埼京線-大崎-大宮方面(北行)-平日">平日(1本)</a>
/ <a href="#埼京線-大崎-大宮方面(北行)-土曜日">土曜日(1本)</a>
/ <a href="#埼京線-大崎-大宮方面(北行)-休日">休日(1本)</a>
<dl>
  <a name="埼京線-大崎-大宮方面(北行)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大崎
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          07:07（通勤快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="埼京線-大崎-大宮方面(北行)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大崎
        </td>
        <td>
          大宮
        </td>
        <td>
          07:16
        </td>
      </tr>
    </table>
  </dd>
  <a name="埼京線-大崎-大宮方面(北行)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大崎
        </td>
        <td>
          大宮
        </td>
        <td>
          07:16
        </td>
      </tr>
    </table>
  </dd>
</dl>
