<h3>
  池袋駅始発の埼京線 大崎方面電車(8本)
</h3><a href="#埼京線-池袋-大崎方面(南行)-平日">平日(4本)</a>
/ <a href="#埼京線-池袋-大崎方面(南行)-土曜日">土曜日(2本)</a>
/ <a href="#埼京線-池袋-大崎方面(南行)-休日">休日(2本)</a>
<dl>
  <a name="埼京線-池袋-大崎方面(南行)-平日"></a>
  <dt class="list-title">
    平日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          池袋
        </td>
        <td>
          新宿
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大崎（経由）
        </td>
        <td>
          16:31
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大崎（経由）
        </td>
        <td>
          16:57
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          新宿
        </td>
        <td>
          22:47
        </td>
      </tr>
    </table>
  </dd>
  <a name="埼京線-池袋-大崎方面(南行)-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大崎（経由）
        </td>
        <td>
          16:30
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          新宿
        </td>
        <td>
          17:53
        </td>
      </tr>
    </table>
  </dd>
  <a name="埼京線-池袋-大崎方面(南行)-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大崎（経由）
        </td>
        <td>
          16:30
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          新宿
        </td>
        <td>
          17:53
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  池袋駅始発の埼京線 大宮方面電車(49本)
</h3><a href="#埼京線-池袋-大宮方面(北行)-平日">平日(17本)</a>
/ <a href="#埼京線-池袋-大宮方面(北行)-土曜日">土曜日(16本)</a>
/ <a href="#埼京線-池袋-大宮方面(北行)-休日">休日(16本)</a>
<dl>
  <a name="埼京線-池袋-大宮方面(北行)-平日"></a>
  <dt class="list-title">
    平日(17本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          04:30
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          04:40
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          04:49
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:02
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          05:12
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          05:21
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:30
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          05:40
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:51
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          05:59
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          武蔵浦和
        </td>
        <td>
          06:08
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          06:13
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          06:21
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:06
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:12
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:26
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:41
        </td>
      </tr>
    </table>
  </dd>
  <a name="埼京線-池袋-大宮方面(北行)-土曜日"></a>
  <dt class="list-title">
    土曜日(16本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          04:30
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          04:40
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          04:49
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:02
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          05:13
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          05:21
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:30
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          05:39
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:50
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:01
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          06:11
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          06:22
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:06
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:14
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:26
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:41
        </td>
      </tr>
    </table>
  </dd>
  <a name="埼京線-池袋-大宮方面(北行)-休日"></a>
  <dt class="list-title">
    休日(16本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          04:30
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          04:40
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          04:49
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:02
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          05:13
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          05:21
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:30
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          05:39
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:50
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:01
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          06:11
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          大宮
        </td>
        <td>
          06:22
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:06
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:14
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:26
        </td>
      </tr>
      <tr>
        <td>
          池袋
        </td>
        <td>
          赤羽
        </td>
        <td>
          00:41
        </td>
      </tr>
    </table>
  </dd>
</dl>
