<h3>
  武蔵浦和駅始発の埼京線 大崎方面電車(13本)
</h3>
<dl>
  <a name="埼京線-武蔵浦和-大崎方面(南行)-平日"></a>
  <dt class="list-title">
    平日(13本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          新宿
        </td>
        <td>
          06:44
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          新宿
        </td>
        <td>
          07:02
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          新宿
        </td>
        <td>
          07:21
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          新宿
        </td>
        <td>
          07:29
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大崎（経由）
        </td>
        <td>
          07:45
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          新宿
        </td>
        <td>
          08:00
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          新宿
        </td>
        <td>
          08:10
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          新宿
        </td>
        <td>
          08:30
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          新宿
        </td>
        <td>
          08:56
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大崎（経由）
        </td>
        <td>
          09:23
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大崎（経由）
        </td>
        <td>
          19:40
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          新宿
        </td>
        <td>
          19:59
        </td>
      </tr>
      <tr>
        <td>
          武蔵浦和
        </td>
        <td>
          大崎（経由）
        </td>
        <td>
          21:35
        </td>
      </tr>
    </table>
  </dd>
</dl>
