<h3>
  萩山駅始発の西武多摩湖線 上り電車(123本)
</h3><a href="#西武-多摩湖線-萩山-国分寺・小平方面(上り)-平日">平日(37本)</a>
/ <a href="#西武-多摩湖線-萩山-国分寺・小平方面(上り)-土曜日">土曜日(43本)</a>
/ <a href="#西武-多摩湖線-萩山-国分寺・小平方面(上り)-休日">休日(43本)</a>
<dl>
  <a name="西武-多摩湖線-萩山-国分寺・小平方面(上り)-平日"></a>
  <dt class="list-title">
    平日(37本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          05:12 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          05:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          05:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          06:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          06:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          06:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          07:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          07:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          08:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          12:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          12:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          12:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          15:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          15:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          15:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          17:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          21:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          23:08 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          23:52 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          00:10 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-多摩湖線-萩山-国分寺・小平方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(43本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          05:12 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          05:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          06:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          09:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          12:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          12:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          12:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          15:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          15:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          15:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          17:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          17:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          17:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          18:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          19:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          19:52 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          21:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          21:37 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          22:00 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          22:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          23:33 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-多摩湖線-萩山-国分寺・小平方面(上り)-休日"></a>
  <dt class="list-title">
    休日(43本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          05:12 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          05:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          06:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          09:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          10:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          11:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          12:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          12:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          12:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          13:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          14:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          15:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          15:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          15:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          16:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          17:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          17:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          17:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          18:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          19:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          19:52 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          21:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          21:37 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          22:00 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          22:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          萩山
        </td>
        <td>
          萩山
        </td>
        <td>
          23:33 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
