<h3>
  清瀬駅始発の西武池袋線 上り電車(53本)
</h3><a href="#西武-池袋線-清瀬-池袋方面(上り)-平日">平日(29本)</a>
/ <a href="#西武-池袋線-清瀬-池袋方面(上り)-土曜日">土曜日(12本)</a>
/ <a href="#西武-池袋線-清瀬-池袋方面(上り)-休日">休日(12本)</a>
<dl>
  <a name="西武-池袋線-清瀬-池袋方面(上り)-平日"></a>
  <dt class="list-title">
    平日(29本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          池袋
        </td>
        <td>
          06:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          池袋
        </td>
        <td>
          06:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          06:48 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          07:11 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          07:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          07:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          07:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          08:11 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          08:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          池袋
        </td>
        <td>
          08:53 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          09:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          09:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          池袋
        </td>
        <td>
          09:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          10:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          池袋
        </td>
        <td>
          17:03 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          17:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          池袋
        </td>
        <td>
          17:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          17:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          18:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          18:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          18:40 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          18:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          19:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          19:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          19:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          20:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          20:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          21:50 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          22:20 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-池袋線-清瀬-池袋方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(12本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          06:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          07:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          池袋
        </td>
        <td>
          07:49 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          08:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          池袋
        </td>
        <td>
          08:19 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          09:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          17:37 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          20:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          22:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          22:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          22:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          23:35 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-池袋線-清瀬-池袋方面(上り)-休日"></a>
  <dt class="list-title">
    休日(12本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          06:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          07:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          池袋
        </td>
        <td>
          07:49 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          08:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          池袋
        </td>
        <td>
          08:19 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          09:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          17:37 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          20:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          22:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          22:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          22:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          清瀬
        </td>
        <td>
          練馬
        </td>
        <td>
          23:35 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
