<h3>
  飯能駅始発の西武池袋線 上り電車(330本)
</h3><a href="#西武池袋線-飯能-池袋方面(上り)-平日">平日(120本)</a>
/ <a href="#西武池袋線-飯能-池袋方面(上り)-土曜日">土曜日(105本)</a>
/ <a href="#西武池袋線-飯能-池袋方面(上り)-休日">休日(105本)</a>
<dl>
  <a name="西武池袋線-飯能-池袋方面(上り)-平日"></a>
  <dt class="list-title">
    平日(120本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:40（特急 むさし2号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:00（特急 むさし4号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:09（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:12（特急 むさし6号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:36（特急 むさし10号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:38（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          06:48（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:53（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          06:59（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:05（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:08（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          07:18（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:23（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          07:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:36（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:38（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:52（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          07:57（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:05（特急 むさし12号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:17（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:27（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          08:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:45（特急 むさし16号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:57（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          09:31（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          10:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          11:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          12:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          13:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          14:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          15:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:06（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:35（特急 むさし34号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:36（特急 むさし38号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:36（特急 むさし42号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:28（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:36（特急 むさし46号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:28（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:36（特急 むさし50号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:58（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:28（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:36（特急 むさし54号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:58（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          22:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          22:28（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          22:36（特急 むさし58号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          22:50（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          23:06（特急 むさし60号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          23:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          23:32（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武池袋線-飯能-池袋方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(105本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:50（特急 むさし62号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:19（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:30（特急 むさし64号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:49（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:00（特急 むさし66号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          07:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          07:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:01（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          08:10（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          08:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:01（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          09:10（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:30（特急 むさし72号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          09:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          10:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          11:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          12:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          13:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          14:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          15:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          16:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:35（特急 むさし38号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          17:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          18:26（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:35（特急 むさし42号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          18:56（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:35（特急 むさし46号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:35（特急 むさし50号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          22:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          22:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          22:50（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          23:10（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武池袋線-飯能-池袋方面(上り)-休日"></a>
  <dt class="list-title">
    休日(105本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:50（特急 むさし62号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          05:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:19（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:30（特急 むさし64号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          06:49（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:00（特急 むさし66号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          07:02（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          07:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          07:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:01（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          08:10（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          08:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          08:51（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:01（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          09:10（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:21（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:30（特急 むさし72号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          09:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          09:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          10:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          10:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          11:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          11:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          12:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          12:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          13:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          13:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:35（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          14:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          14:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          15:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          15:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          16:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          16:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:35（特急 むさし38号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          17:40（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          17:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          18:26（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:35（特急 むさし42号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          18:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          18:56（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:35（特急 むさし46号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          19:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:35（特急 むさし50号）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          20:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          21:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          22:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          22:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          22:50（快速）
        </td>
      </tr>
      <tr>
        <td>
          飯能
        </td>
        <td>
          池袋
        </td>
        <td>
          23:10（準急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
