<h3>
  武蔵境駅始発の西武多摩川線 下り電車(232本)
</h3><a href="#西武-多摩川線-武蔵境-是政方面(下り)-平日">平日(87本)</a>
/ <a href="#西武-多摩川線-武蔵境-是政方面(下り)-土曜日">土曜日(87本)</a>
/ <a href="#西武-多摩川線-武蔵境-是政方面(下り)-休日">休日(58本)</a>
<dl>
  <a name="西武-多摩川線-武蔵境-是政方面(下り)-平日"></a>
  <dt class="list-title">
    平日(87本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          05:51 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:13 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          18:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          18:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          18:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          18:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          18:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          19:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          19:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          19:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          19:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          19:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          20:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          20:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          20:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          20:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          20:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          21:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          21:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          21:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          21:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          21:59 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          22:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          22:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          22:50 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          23:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          23:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          23:53 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          00:15 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-多摩川線-武蔵境-是政方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(87本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          05:51 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:13 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          18:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          18:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          18:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          18:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          18:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          19:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          19:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          19:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          19:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          19:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          20:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          20:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          20:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          20:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          20:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          21:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          21:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          21:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          21:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          21:59 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          22:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          22:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          22:50 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          23:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          23:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          23:53 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          00:15 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-多摩川線-武蔵境-是政方面(下り)-休日"></a>
  <dt class="list-title">
    休日(58本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          05:51 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:13 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          06:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          07:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          08:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          09:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          10:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          11:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          12:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          13:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          14:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          15:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          16:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          武蔵境
        </td>
        <td>
          是政
        </td>
        <td>
          17:30 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
