<h3>
  是政駅始発の西武多摩川線 上り電車(258本)
</h3><a href="#西武-多摩川線-是政-武蔵境方面(上り)-平日">平日(86本)</a>
/ <a href="#西武-多摩川線-是政-武蔵境方面(上り)-土曜日">土曜日(86本)</a>
/ <a href="#西武-多摩川線-是政-武蔵境方面(上り)-休日">休日(86本)</a>
<dl>
  <a name="西武-多摩川線-是政-武蔵境方面(上り)-平日"></a>
  <dt class="list-title">
    平日(86本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          05:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          05:50 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:11 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          22:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          22:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          22:48 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          23:08 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          23:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          23:51 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-多摩川線-是政-武蔵境方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(86本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          05:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          05:50 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:11 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          22:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          22:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          22:48 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          23:08 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          23:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          23:51 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-多摩川線-是政-武蔵境方面(上り)-休日"></a>
  <dt class="list-title">
    休日(86本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          05:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          05:50 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:11 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          07:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          08:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          09:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          10:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          11:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          12:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          13:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          14:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          15:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          16:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          17:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          18:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          19:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          20:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          21:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          22:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          22:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          22:48 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          23:08 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          23:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          是政
        </td>
        <td>
          武蔵境
        </td>
        <td>
          23:51 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
