<h3>
  石神井公園駅始発の西武池袋線 上り電車(98本)
</h3><a href="#西武-池袋線-石神井公園-池袋方面(上り)-平日">平日(40本)</a>
/ <a href="#西武-池袋線-石神井公園-池袋方面(上り)-土曜日">土曜日(29本)</a>
/ <a href="#西武-池袋線-石神井公園-池袋方面(上り)-休日">休日(29本)</a>
<dl>
  <a name="西武-池袋線-石神井公園-池袋方面(上り)-平日"></a>
  <dt class="list-title">
    平日(40本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          07:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          07:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          07:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:53 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          08:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          08:08 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          08:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          09:12 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          09:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          10:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          11:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          12:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          13:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          14:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          15:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          16:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          17:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          17:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          17:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:00 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          19:00 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          19:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          19:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          20:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          20:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          21:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:39 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          23:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          00:00 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-池袋線-石神井公園-池袋方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(29本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          06:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          07:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          07:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          10:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          10:43 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          11:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          12:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          13:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          14:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          15:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          16:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          17:22 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          17:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          17:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:22 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:48 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:59 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          19:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          19:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          19:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:40 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          21:17 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:40 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-池袋線-石神井公園-池袋方面(上り)-休日"></a>
  <dt class="list-title">
    休日(29本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          06:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          07:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          07:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          10:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          10:43 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          11:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          12:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          13:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          14:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          15:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          16:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          17:22 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          17:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          17:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:22 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:48 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          18:59 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          19:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          19:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          19:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:40 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          練馬
        </td>
        <td>
          21:17 (各停)
        </td>
      </tr>
      <tr>
        <td>
          石神井公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:40 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
