<h3>
  新所沢駅始発の西武新宿線 上り電車(36本)
</h3><a href="#西武新宿線-新所沢-西武新宿方面(上り)-平日">平日(10本)</a>
/ <a href="#西武新宿線-新所沢-西武新宿方面(上り)-土曜日">土曜日(13本)</a>
/ <a href="#西武新宿線-新所沢-西武新宿方面(上り)-休日">休日(13本)</a>
<dl>
  <a name="西武新宿線-新所沢-西武新宿方面(上り)-平日"></a>
  <dt class="list-title">
    平日(10本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:36（準急）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:05（準急）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:27（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武新宿線-新所沢-西武新宿方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(13本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:42（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武新宿線-新所沢-西武新宿方面(上り)-休日"></a>
  <dt class="list-title">
    休日(13本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          新所沢
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:42（準急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
