<h3>
  小平駅始発の西武拝島線 下り電車(88本)
</h3><a href="#西武-拝島線-小平-拝島方面(下り)-平日">平日(34本)</a>
/ <a href="#西武-拝島線-小平-拝島方面(下り)-土曜日">土曜日(27本)</a>
/ <a href="#西武-拝島線-小平-拝島方面(下り)-休日">休日(27本)</a>
<dl>
  <a name="西武-拝島線-小平-拝島方面(下り)-平日"></a>
  <dt class="list-title">
    平日(34本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          05:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          05:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          05:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          06:17 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          06:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          06:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          07:09 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          09:40 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          10:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          10:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          10:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          11:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          11:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          11:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          12:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          12:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          12:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          13:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          13:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          13:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          14:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          14:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          14:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          15:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          15:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          15:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          16:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          16:40 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          17:00 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          17:19 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          17:52 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          00:07 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          00:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          00:29 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-拝島線-小平-拝島方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(27本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          05:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          05:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          05:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          06:19 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          06:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          10:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          10:47 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          11:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          11:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          11:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          12:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          12:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          12:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          13:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          13:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          13:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          14:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          14:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          14:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          15:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          15:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          15:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          16:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          16:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          16:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          00:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          00:13 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-拝島線-小平-拝島方面(下り)-休日"></a>
  <dt class="list-title">
    休日(27本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          05:10 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          05:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          05:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          06:19 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          06:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          10:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          10:47 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          11:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          11:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          11:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          12:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          12:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          12:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          13:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          13:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          13:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          14:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          14:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          14:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          15:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          15:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          15:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          16:18 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          16:38 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          16:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          玉川上水
        </td>
        <td>
          00:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          小平
        </td>
        <td>
          拝島
        </td>
        <td>
          00:13 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
