<h3>
  東村山駅始発の西武国分寺線 上り電車(270本)
</h3><a href="#西武-国分寺線-東村山-国分寺方面(上り)-平日">平日(96本)</a>
/ <a href="#西武-国分寺線-東村山-国分寺方面(上り)-土曜日">土曜日(87本)</a>
/ <a href="#西武-国分寺線-東村山-国分寺方面(上り)-休日">休日(87本)</a>
<dl>
  <a name="西武-国分寺線-東村山-国分寺方面(上り)-平日"></a>
  <dt class="list-title">
    平日(96本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          05:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          05:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          05:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          06:22 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          06:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          06:51 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          06:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:30 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:37 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:51 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:00 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:07 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:48 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:08 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:19 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:51 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:11 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:51 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:11 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:51 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:11 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:21 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:52 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:13 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:12 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:27 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:59 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          23:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          23:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          23:48 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          00:04 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-国分寺線-東村山-国分寺方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(87本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          05:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          05:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          05:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          06:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:47 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:20 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:50 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:19 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:50 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          23:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          23:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          23:46 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-国分寺線-東村山-国分寺方面(上り)-休日"></a>
  <dt class="list-title">
    休日(87本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          05:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          05:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          05:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          06:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          07:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:24 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          08:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          09:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          10:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          11:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          12:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          13:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          14:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          15:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          16:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          17:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          18:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          19:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:06 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          20:47 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:04 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:20 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:36 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          21:50 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:19 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:34 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          22:50 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          23:05 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          23:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          東村山
        </td>
        <td>
          国分寺
        </td>
        <td>
          23:46 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
