<h3>
  保谷駅始発の西武池袋線 上り電車(147本)
</h3><a href="#西武-池袋線-保谷-池袋方面(上り)-平日">平日(59本)</a>
/ <a href="#西武-池袋線-保谷-池袋方面(上り)-土曜日">土曜日(44本)</a>
/ <a href="#西武-池袋線-保谷-池袋方面(上り)-休日">休日(44本)</a>
<dl>
  <a name="西武-池袋線-保谷-池袋方面(上り)-平日"></a>
  <dt class="list-title">
    平日(59本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          04:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          04:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          04:53 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          05:03 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          05:22 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          06:31 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          06:37 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          06:49 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          07:00 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          07:12 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          07:27 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          07:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          07:57 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          08:12 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          08:27 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          08:51 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          09:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          09:58 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          10:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          10:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          10:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          11:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          11:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          11:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          11:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          12:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          12:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          12:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          12:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          13:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          13:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          13:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          13:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          14:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          14:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          14:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          14:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          15:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          15:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          15:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          15:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          16:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          16:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          16:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          16:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          17:19 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          17:49 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          18:11 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          18:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          19:11 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          19:52 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          20:22 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          20:52 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          21:13 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          21:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          22:12 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          22:42 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          23:13 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          00:13 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-池袋線-保谷-池袋方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(44本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          04:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          04:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          04:53 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          05:03 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          05:22 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          07:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          08:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          08:59 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          09:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          09:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          09:59 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          10:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          10:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          10:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          10:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          11:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          11:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          11:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          11:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          12:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          12:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          12:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          12:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          13:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          13:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          13:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          13:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          14:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          14:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          14:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          14:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          15:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          15:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          15:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          15:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          16:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          16:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          16:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          16:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          17:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          18:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          19:17 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          20:13 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          21:43 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-池袋線-保谷-池袋方面(上り)-休日"></a>
  <dt class="list-title">
    休日(44本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          04:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          04:41 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          04:53 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          05:03 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          05:22 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          07:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          08:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          08:59 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          09:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          09:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          09:59 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          10:14 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          10:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          10:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          10:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          11:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          11:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          11:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          11:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          12:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          12:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          12:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          12:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          13:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          13:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          13:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          13:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          14:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          14:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          14:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          14:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          15:28 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          15:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          15:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          15:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          16:29 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          16:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          16:46 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          16:54 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          17:32 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          18:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          池袋
        </td>
        <td>
          19:17 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          20:13 (各停)
        </td>
      </tr>
      <tr>
        <td>
          保谷
        </td>
        <td>
          練馬
        </td>
        <td>
          21:43 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  保谷駅始発の西武池袋線 下り電車(3本)
</h3><a href="#西武-池袋線-保谷-飯能方面(下り)-平日">平日(1本)</a>
/ <a href="#西武-池袋線-保谷-飯能方面(下り)-土曜日">土曜日(1本)</a>
/ <a href="#西武-池袋線-保谷-飯能方面(下り)-休日">休日(1本)</a>
<dl>
  <a name="西武-池袋線-保谷-飯能方面(下り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          保谷
        </td>
        <td>
          飯能
        </td>
        <td>
          04:53 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-池袋線-保谷-飯能方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          保谷
        </td>
        <td>
          飯能
        </td>
        <td>
          04:53 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-池袋線-保谷-飯能方面(下り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          保谷
        </td>
        <td>
          飯能
        </td>
        <td>
          04:53 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
