<h3>
  狭山市駅始発の西武新宿線 上り電車(2本)
</h3>
<dl>
  <a name="西武-新宿線-狭山市-西武新宿方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          狭山市
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:45 (各停)
        </td>
      </tr>
      <tr>
        <td>
          狭山市
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:57 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
