<h3>
  玉川上水駅始発の西武拝島線 上り電車(3本)
</h3>
<dl>
  <a name="西武拝島線-玉川上水-小平方面(上り)-平日"></a>
  <dt class="list-title">
    平日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          玉川上水
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          玉川上水
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          玉川上水
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          18:24（準急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
