<h3>
  白糸台駅始発の西武多摩川線 上り電車(3本)
</h3><a href="#西武-多摩川線-白糸台-武蔵境方面(上り)-平日">平日(1本)</a>
/ <a href="#西武-多摩川線-白糸台-武蔵境方面(上り)-土曜日">土曜日(1本)</a>
/ <a href="#西武-多摩川線-白糸台-武蔵境方面(上り)-休日">休日(1本)</a>
<dl>
  <a name="西武-多摩川線-白糸台-武蔵境方面(上り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          白糸台
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:27 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-多摩川線-白糸台-武蔵境方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          白糸台
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:27 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-多摩川線-白糸台-武蔵境方面(上り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          白糸台
        </td>
        <td>
          武蔵境
        </td>
        <td>
          06:27 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  白糸台駅始発の西武多摩川線 下り電車(6本)
</h3><a href="#西武-多摩川線-白糸台-是政方面(下り)-平日">平日(2本)</a>
/ <a href="#西武-多摩川線-白糸台-是政方面(下り)-土曜日">土曜日(2本)</a>
/ <a href="#西武-多摩川線-白糸台-是政方面(下り)-休日">休日(2本)</a>
<dl>
  <a name="西武-多摩川線-白糸台-是政方面(下り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          白糸台
        </td>
        <td>
          是政
        </td>
        <td>
          05:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          白糸台
        </td>
        <td>
          是政
        </td>
        <td>
          05:42 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-多摩川線-白糸台-是政方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          白糸台
        </td>
        <td>
          是政
        </td>
        <td>
          05:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          白糸台
        </td>
        <td>
          是政
        </td>
        <td>
          05:42 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-多摩川線-白糸台-是政方面(下り)-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          白糸台
        </td>
        <td>
          是政
        </td>
        <td>
          05:23 (各停)
        </td>
      </tr>
      <tr>
        <td>
          白糸台
        </td>
        <td>
          是政
        </td>
        <td>
          05:42 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
