<h3>
  本川越駅始発の西武新宿線 上り電車(285本)
</h3><a href="#西武新宿線-本川越-西武新宿方面(上り)-平日">平日(105本)</a>
/ <a href="#西武新宿線-本川越-西武新宿方面(上り)-土曜日">土曜日(90本)</a>
/ <a href="#西武新宿線-本川越-西武新宿方面(上り)-休日">休日(90本)</a>
<dl>
  <a name="西武新宿線-本川越-西武新宿方面(上り)-平日"></a>
  <dt class="list-title">
    平日(105本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:02（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:09（特急 小江戸2号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:19（特急 小江戸4号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:30（特急 小江戸6号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:50（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:05（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:22（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:35（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:57（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:05（特急 小江戸8号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:17（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:27（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:35（特急 小江戸10号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:47（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:04（特急 小江戸12号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:27（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:34（特急 小江戸14号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:34（特急 小江戸16号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:34（特急 小江戸18号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:34（特急 小江戸20号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:34（特急 小江戸22号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:34（特急 小江戸24号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:34（特急 小江戸26号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:04（特急 小江戸28号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:19（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:30（特急 小江戸30号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:00（特急 小江戸32号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:12（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:30（特急 小江戸34号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:00（特急 小江戸36号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:03（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:30（特急 小江戸38号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:00（特急 小江戸40号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:03（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:30（特急 小江戸42号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:33（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:00（特急 小江戸44号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:03（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:30（特急 小江戸46号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:32（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:00（特急 小江戸48号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:30（特急 小江戸50号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:00（特急 小江戸52号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:22（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:30（特急 小江戸54号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:33（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:46（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          23:00（特急 小江戸56号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          23:03（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          23:15（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          23:34（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武新宿線-本川越-西武新宿方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(90本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:22（特急 小江戸4号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:00（特急 小江戸62号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:00（特急 小江戸8号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:00（特急 小江戸12号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:30（特急 小江戸14号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:34（特急 小江戸16号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:34（特急 小江戸18号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:34（特急 小江戸20号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:34（特急 小江戸22号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:34（特急 小江戸24号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:34（特急 小江戸26号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:56（特急 小江戸64号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:26（特急 小江戸30号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:56（特急 小江戸32号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:26（特急 小江戸34号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:56（特急 小江戸36号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:26（特急 小江戸38号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:56（特急 小江戸40号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:26（特急 小江戸42号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:56（特急 小江戸44号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:26（特急 小江戸46号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:00（特急 小江戸48号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:00（特急 小江戸52号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:33（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武新宿線-本川越-西武新宿方面(上り)-休日"></a>
  <dt class="list-title">
    休日(90本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:22（特急 小江戸4号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:00（特急 小江戸62号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:00（特急 小江戸8号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:00（特急 小江戸12号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:30（特急 小江戸14号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:34（特急 小江戸16号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          10:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:34（特急 小江戸18号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          11:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:34（特急 小江戸20号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          12:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:34（特急 小江戸22号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          13:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:34（特急 小江戸24号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          14:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:34（特急 小江戸26号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:56（特急 小江戸64号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          15:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:26（特急 小江戸30号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:56（特急 小江戸32号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          16:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:26（特急 小江戸34号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:56（特急 小江戸36号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:26（特急 小江戸38号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:56（特急 小江戸40号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:26（特急 小江戸42号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          19:56（特急 小江戸44号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:26（特急 小江戸46号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          20:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:00（特急 小江戸48号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          21:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:00（特急 小江戸52号）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          本川越
        </td>
        <td>
          西武新宿
        </td>
        <td>
          22:33（準急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
