<h3>
  拝島駅始発の西武拝島線 上り電車(131本)
</h3><a href="#西武拝島線-拝島-小平方面(上り)-平日">平日(53本)</a>
/ <a href="#西武拝島線-拝島-小平方面(上り)-土曜日">土曜日(39本)</a>
/ <a href="#西武拝島線-拝島-小平方面(上り)-休日">休日(39本)</a>
<dl>
  <a name="西武拝島線-拝島-小平方面(上り)-平日"></a>
  <dt class="list-title">
    平日(53本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          06:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          06:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          06:40（準急）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          06:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:20（準急）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:50（準急）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          08:01（準急）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          08:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          08:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          08:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          09:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          09:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          09:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          10:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          10:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          10:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          11:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          11:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          11:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          12:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          12:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          12:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          13:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          13:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          13:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          14:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          14:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          14:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          15:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          15:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          15:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          16:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          16:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          18:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          18:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          18:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          18:56（準急）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          19:26（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          19:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          20:26（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          20:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          21:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          21:19（準急）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          21:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          22:14（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武拝島線-拝島-小平方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(39本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          06:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          06:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          08:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          08:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          09:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          09:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          10:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          10:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          10:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          11:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          11:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          11:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          12:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          12:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          12:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          13:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          13:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          13:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          14:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          14:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          14:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          15:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          15:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          15:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          16:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          18:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          18:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          19:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          20:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          20:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          21:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          21:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          22:29（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武拝島線-拝島-小平方面(上り)-休日"></a>
  <dt class="list-title">
    休日(39本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          06:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          06:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          07:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          08:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          08:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          09:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          09:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          10:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          10:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          10:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          11:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          11:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          11:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          12:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          12:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          12:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          13:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          13:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          13:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          14:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          14:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          14:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          15:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          15:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          15:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          16:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          17:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          18:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          18:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          19:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          20:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          20:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          21:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          21:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          拝島
        </td>
        <td>
          小平（経由）
        </td>
        <td>
          22:29（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
