<h3>
  上石神井駅始発の西武新宿線 上り電車(34本)
</h3><a href="#西武-新宿線-上石神井-西武新宿方面(上り)-平日">平日(18本)</a>
/ <a href="#西武-新宿線-上石神井-西武新宿方面(上り)-土曜日">土曜日(8本)</a>
/ <a href="#西武-新宿線-上石神井-西武新宿方面(上り)-休日">休日(8本)</a>
<dl>
  <a name="西武-新宿線-上石神井-西武新宿方面(上り)-平日"></a>
  <dt class="list-title">
    平日(18本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:27 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:39 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:26 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:59 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:56 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          09:33 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          17:25 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:19 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          18:49 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          23:48 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          00:02 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          00:20 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-新宿線-上石神井-西武新宿方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(8本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:27 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:39 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          23:18 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-新宿線-上石神井-西武新宿方面(上り)-休日"></a>
  <dt class="list-title">
    休日(8本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:35 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          04:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:01 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:15 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:27 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          05:39 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          06:44 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          西武新宿
        </td>
        <td>
          23:18 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  上石神井駅始発の西武新宿線 下り電車(8本)
</h3><a href="#西武-新宿線-上石神井-本川越方面(下り)-平日">平日(4本)</a>
/ <a href="#西武-新宿線-上石神井-本川越方面(下り)-土曜日">土曜日(2本)</a>
/ <a href="#西武-新宿線-上石神井-本川越方面(下り)-休日">休日(2本)</a>
<dl>
  <a name="西武-新宿線-上石神井-本川越方面(下り)-平日"></a>
  <dt class="list-title">
    平日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          本川越
        </td>
        <td>
          04:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          本川越
        </td>
        <td>
          05:43 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          本川越
        </td>
        <td>
          07:16 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          田無
        </td>
        <td>
          07:40 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-新宿線-上石神井-本川越方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          本川越
        </td>
        <td>
          04:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          本川越
        </td>
        <td>
          05:43 (各停)
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武-新宿線-上石神井-本川越方面(下り)-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          本川越
        </td>
        <td>
          04:55 (各停)
        </td>
      </tr>
      <tr>
        <td>
          上石神井
        </td>
        <td>
          本川越
        </td>
        <td>
          05:43 (各停)
        </td>
      </tr>
    </table>
  </dd>
</dl>
