<h3>
  小手指駅始発の西武池袋線 上り電車(89本)
</h3><a href="#西武池袋線-小手指-池袋方面(上り)-平日">平日(55本)</a>
/ <a href="#西武池袋線-小手指-池袋方面(上り)-土曜日">土曜日(17本)</a>
/ <a href="#西武池袋線-小手指-池袋方面(上り)-休日">休日(17本)</a>
<dl>
  <a name="西武池袋線-小手指-池袋方面(上り)-平日"></a>
  <dt class="list-title">
    平日(55本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          04:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          06:14（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          06:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          06:44（通勤準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          06:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          07:01（通勤準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          07:10（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          07:16（通勤準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          07:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          07:31（通勤準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          07:40（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          07:46（通勤準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          08:01（通勤準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          08:07（快速）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          08:29（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          08:42（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          08:51（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          09:02（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          09:33（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          09:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          09:56（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          10:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          11:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          12:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          13:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          14:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          15:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          16:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          16:53（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          17:01（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          17:09（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          17:23（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          17:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          17:39（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          17:53（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          18:09（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          18:23（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          18:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          18:39（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          18:53（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          19:01（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          19:09（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          19:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          19:39（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          20:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          20:09（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          20:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          20:39（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          21:03（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          21:10（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          21:33（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          22:03（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          22:33（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          22:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          23:36（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武池袋線-小手指-池袋方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(17本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          04:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          05:58（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          06:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          06:45（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          07:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          07:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          09:56（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          10:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          11:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          12:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          13:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          14:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          15:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          16:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          18:29（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          18:58（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          19:49（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武池袋線-小手指-池袋方面(上り)-休日"></a>
  <dt class="list-title">
    休日(17本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          04:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          05:58（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          06:29（快速）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          06:45（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          07:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          07:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          09:56（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          10:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          11:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          12:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          13:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          14:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          15:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          16:24（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          18:29（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          池袋
        </td>
        <td>
          18:58（準急）
        </td>
      </tr>
      <tr>
        <td>
          小手指
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          19:49（準急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
