<h3>
  田無駅始発の西武新宿線 上り電車(2本)
</h3>
<dl>
  <a name="西武新宿線-田無-西武新宿方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          田無
        </td>
        <td>
          西武新宿
        </td>
        <td>
          07:37（準急）
        </td>
      </tr>
      <tr>
        <td>
          田無
        </td>
        <td>
          西武新宿
        </td>
        <td>
          08:07（準急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
