<h3>
  所沢駅始発の西武池袋線 上り電車(60本)
</h3><a href="#西武池袋線-所沢-池袋方面(上り)-平日">平日(14本)</a>
/ <a href="#西武池袋線-所沢-池袋方面(上り)-土曜日">土曜日(23本)</a>
/ <a href="#西武池袋線-所沢-池袋方面(上り)-休日">休日(23本)</a>
<dl>
  <a name="西武池袋線-所沢-池袋方面(上り)-平日"></a>
  <dt class="list-title">
    平日(14本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          06:59（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          10:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          11:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          12:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          13:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          14:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          15:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          16:44（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          18:08（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          19:32（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          19:40（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          20:02（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          20:10（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          20:40（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武池袋線-所沢-池袋方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(23本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          06:20（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          10:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          11:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          12:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          13:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          14:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          15:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          16:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          17:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          18:12（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          18:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          18:42（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          19:12（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          19:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          20:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          20:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          20:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          20:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          21:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          21:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          21:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          22:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          22:39（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武池袋線-所沢-池袋方面(上り)-休日"></a>
  <dt class="list-title">
    休日(23本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          06:20（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          10:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          11:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          12:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          13:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          14:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          15:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          16:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          17:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          18:12（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          18:26（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          18:42（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          19:12（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          19:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          20:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          20:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          20:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          20:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          21:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          練馬（経由）
        </td>
        <td>
          21:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          21:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          22:08（快速）
        </td>
      </tr>
      <tr>
        <td>
          所沢
        </td>
        <td>
          池袋
        </td>
        <td>
          22:39（準急）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  所沢駅始発の西武池袋線 下り電車(2本)
</h3><a href="#西武池袋線-所沢-飯能方面(下り)-土曜日">土曜日(1本)</a>
/ <a href="#西武池袋線-所沢-飯能方面(下り)-休日">休日(1本)</a>
<dl>
  <a name="西武池袋線-所沢-飯能方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          所沢
        </td>
        <td>
          飯能（経由）
        </td>
        <td>
          06:44（特急 ちちぶ61号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="西武池袋線-所沢-飯能方面(下り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          所沢
        </td>
        <td>
          飯能（経由）
        </td>
        <td>
          06:44（特急 ちちぶ61号）
        </td>
      </tr>
    </table>
  </dd>
</dl>
