<h3>
  新宿駅始発の湘南新宿ライン 大船方面電車(3本)
</h3>
<dl>
  <a name="湘南新宿ライン-新宿-大船方面(南行)-平日"></a>
  <dt class="list-title">
    平日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新宿
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:30（ホームライナー小田原21号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          21:30（ホームライナー小田原23号）
        </td>
      </tr>
      <tr>
        <td>
          新宿
        </td>
        <td>
          大船
        </td>
        <td>
          22:31
        </td>
      </tr>
    </table>
  </dd>
</dl>
