<h3>
  大船駅始発の湘南新宿ライン 大宮方面電車(22本)
</h3><a href="#湘南新宿ライン-大船-大宮方面(北行)-平日">平日(10本)</a>
/ <a href="#湘南新宿ライン-大船-大宮方面(北行)-土曜日">土曜日(6本)</a>
/ <a href="#湘南新宿ライン-大船-大宮方面(北行)-休日">休日(6本)</a>
<dl>
  <a name="湘南新宿ライン-大船-大宮方面(北行)-平日"></a>
  <dt class="list-title">
    平日(10本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          07:07
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:46
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:02
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:44
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          新宿
        </td>
        <td>
          21:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          22:08
        </td>
      </tr>
    </table>
  </dd>
  <a name="湘南新宿ライン-大船-大宮方面(北行)-土曜日"></a>
  <dt class="list-title">
    土曜日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:01
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:51
        </td>
      </tr>
    </table>
  </dd>
  <a name="湘南新宿ライン-大船-大宮方面(北行)-休日"></a>
  <dt class="list-title">
    休日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:01
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:41（快速）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:51
        </td>
      </tr>
    </table>
  </dd>
</dl>
