<h3>
  かしわ台駅始発の相鉄線 上り電車(1本)
</h3>
<dl>
  <a name="相鉄線-かしわ台-横浜方面(上り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          かしわ台
        </td>
        <td>
          横浜
        </td>
        <td>
          06:11（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
