<h3>
  海老名駅始発の相鉄線 上り電車(339本)
</h3><a href="#相鉄線-海老名-横浜方面(上り)-平日">平日(133本)</a>
/ <a href="#相鉄線-海老名-横浜方面(上り)-土曜日">土曜日(103本)</a>
/ <a href="#相鉄線-海老名-横浜方面(上り)-休日">休日(103本)</a>
<dl>
  <a name="相鉄線-海老名-横浜方面(上り)-平日"></a>
  <dt class="list-title">
    平日(133本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          05:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          05:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          05:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          05:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          05:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:27（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:27（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:27（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          23:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          23:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          23:37（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="相鉄線-海老名-横浜方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(103本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          05:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          05:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          23:24（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="相鉄線-海老名-横浜方面(上り)-休日"></a>
  <dt class="list-title">
    休日(103本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          05:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          05:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          06:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          07:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          08:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          09:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          10:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          11:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          12:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          13:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          14:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:31（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          15:52（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:01（特急）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:22（快速）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          16:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          17:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          18:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          19:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          20:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          21:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          22:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          海老名
        </td>
        <td>
          横浜
        </td>
        <td>
          23:24（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
