<h3>
  湘南台駅始発の相鉄いずみ野線 上り電車(73本)
</h3><a href="#相鉄いずみ野線-湘南台-二俣川方面(上り)-平日">平日(23本)</a>
/ <a href="#相鉄いずみ野線-湘南台-二俣川方面(上り)-土曜日">土曜日(25本)</a>
/ <a href="#相鉄いずみ野線-湘南台-二俣川方面(上り)-休日">休日(25本)</a>
<dl>
  <a name="相鉄いずみ野線-湘南台-二俣川方面(上り)-平日"></a>
  <dt class="list-title">
    平日(23本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          10:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          10:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          11:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          11:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          12:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          12:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          13:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          13:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          14:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          14:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          15:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          17:18（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          17:38（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          17:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          18:18（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          18:38（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          18:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          19:18（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          19:38（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          19:58（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          20:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          20:38（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          21:09（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="相鉄いずみ野線-湘南台-二俣川方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(25本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          06:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          07:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          07:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          07:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          08:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          08:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          10:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          10:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          11:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          11:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          12:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          12:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          13:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          13:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          14:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          14:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          15:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          15:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          16:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          17:23（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          17:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          18:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          18:23（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          18:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          19:03（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="相鉄いずみ野線-湘南台-二俣川方面(上り)-休日"></a>
  <dt class="list-title">
    休日(25本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          06:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          07:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          07:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          07:53（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          08:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          08:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          10:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          10:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          11:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          11:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          12:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          12:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          13:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          13:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          14:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          14:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          15:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          15:43（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          16:13（特急）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          17:23（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          17:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          18:03（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          18:23（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          18:43（快速）
        </td>
      </tr>
      <tr>
        <td>
          湘南台
        </td>
        <td>
          二俣川（経由）
        </td>
        <td>
          19:03（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
