<h3>
  熊谷駅始発の高崎線 下り電車(1本)
</h3>
<dl>
  <a name="高崎線-熊谷-高崎方面(下り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          熊谷
        </td>
        <td>
          高崎（経由）
        </td>
        <td>
          10:36（快速 谷川もぐら）
        </td>
      </tr>
    </table>
  </dd>
</dl>
