<h3>
  浅草駅始発の東武伊勢崎線 下り電車(358本)
</h3><a href="#東武伊勢崎線-浅草-伊勢崎方面(下り)-平日">平日(126本)</a>
/ <a href="#東武伊勢崎線-浅草-伊勢崎方面(下り)-土曜日">土曜日(116本)</a>
/ <a href="#東武伊勢崎線-浅草-伊勢崎方面(下り)-休日">休日(116本)</a>
<dl>
  <a name="東武伊勢崎線-浅草-伊勢崎方面(下り)-平日"></a>
  <dt class="list-title">
    平日(126本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          05:00（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:20（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:31（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:44（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:59（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:08（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:22（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          06:31（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:41（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:50（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          07:00（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:17（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          07:30（特急 けごん1号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:33（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          07:40（特急 りょうもう3号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:43（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          07:51（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          08:00（特急 きぬ103号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:13（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:30（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          08:40（特急 りょうもう5号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:52（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          09:00（特急 きぬ105号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          09:40（特急 りょうもう7号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:00（特急 きぬ109号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:20（特急 りょうもう9号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:50（特急 りょうもう11号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          11:00（特急 きぬ111号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          11:20（特急 りょうもう13号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          11:30（特急 きぬ113号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          11:50（特急 りょうもう15号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:00（特急 きぬ115号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          12:30（特急 きぬ117号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:50（特急 りょうもう17号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          13:30（特急 きぬ119号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          13:50（特急 りょうもう19号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:50（特急 りょうもう21号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          15:00（特急 きぬ123号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          15:20（特急 りょうもう23号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          15:50（特急 りょうもう25号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:00（特急 きぬ125号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          16:20（特急 りょうもう27号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:50（特急 りょうもう29号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:52（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:00（特急 きぬ127号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:10（特急 りょうもう31号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:32（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:40（特急 りょうもう33号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:52（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:00（特急 きぬ129号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:10（特急 りょうもう35号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:30（特急 しもつけ281号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:32（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          18:40（特急 りょうもう37号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:52（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:00（特急 きぬ131号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:10（特急 りょうもう39号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:30（特急 きりふり283号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:32（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:40（特急 りょうもう41号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:52（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          20:00（特急 けごん33号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:10（特急 りょうもう43号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          20:30（特急 きりふり269号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:32（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:40（特急 りょうもう45号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:52（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:00（特急 けごん35号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:10（特急 りょうもう47号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          21:30（特急 きりふり285号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:32（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:40（特急 りょうもう49号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:52（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:00（特急 けごん237号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:20（特急 りょうもう51号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:30（特急 けごん39号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:32（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:42（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          23:02（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          23:22（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          23:57（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          00:23（区間準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東武伊勢崎線-浅草-伊勢崎方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(116本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          05:00（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:20（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:31（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:44（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:59（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:08（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:22（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:31（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:41（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:49（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          07:00（特急 りょうもう1号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:03（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:06（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          07:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:15（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:23（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          07:30（特急 けごん1号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:33（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          07:40（特急 りょうもう3号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:45（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:55（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          08:00（特急 きぬ103号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:06（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:14（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:25（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          08:30（特急 きりふり273号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:33（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          08:40（特急 りょうもう5号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:51（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:56（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          09:00（特急 きぬ105号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:03（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          09:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:22（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:37（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          09:40（特急 りょうもう7号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:00（特急 きぬ109号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:20（特急 りょうもう9号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:27（特急 きりふり275号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:50（特急 りょうもう11号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          11:00（特急 きぬ111号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          11:20（特急 りょうもう13号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          11:30（特急 きぬ113号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          11:50（特急 りょうもう15号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          12:00（特急 きぬ115号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:30（特急 きぬ117号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:50（特急 りょうもう17号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          13:30（特急 きぬ119号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          13:50（特急 りょうもう19号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:10（特急 スカイツリートレイン1号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:50（特急 りょうもう21号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          15:00（特急 きぬ123号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          15:20（特急 りょうもう23号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          15:50（特急 りょうもう25号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:00（特急 きぬ125号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:20（特急 りょうもう27号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:50（特急 りょうもう29号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:00（特急 きぬ127号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:10（特急 りょうもう31号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:40（特急 りょうもう33号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:00（特急 きぬ129号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          18:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:10（特急 りょうもう35号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:30（特急 しもつけ281号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:40（特急 りょうもう37号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:00（特急 きぬ131号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          19:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:10（特急 りょうもう39号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:40（特急 りょうもう41号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:00（特急 けごん33号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          20:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:10（特急 りょうもう43号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:20（特急 スカイツリートレイン3号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:40（特急 りょうもう45号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:00（特急 けごん35号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:10（特急 りょうもう47号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:32（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:40（特急 りょうもう49号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:52（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:00（特急 けごん237号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:20（特急 りょうもう51号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:30（特急 けごん39号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:32（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          22:42（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          23:02（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          23:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          23:36（区間急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東武伊勢崎線-浅草-伊勢崎方面(下り)-休日"></a>
  <dt class="list-title">
    休日(116本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          05:00（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:20（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:31（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:44（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          05:59（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:08（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:20（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:22（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:31（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:41（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          06:49（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          07:00（特急 りょうもう1号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:03（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:06（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          07:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:15（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:23（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          07:30（特急 けごん1号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:33（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          07:40（特急 りょうもう3号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:45（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          07:55（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          08:00（特急 きぬ103号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:06（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:14（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:25（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          08:30（特急 きりふり273号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:33（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          08:40（特急 りょうもう5号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:51（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          08:56（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          09:00（特急 きぬ105号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:03（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:10（快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          09:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:22（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          09:37（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          浅草
        </td>
        <td>
          09:40（特急 りょうもう7号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:00（特急 きぬ109号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:20（特急 りょうもう9号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:27（特急 きりふり275号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          10:50（特急 りょうもう11号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          11:00（特急 きぬ111号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          11:20（特急 りょうもう13号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          11:30（特急 きぬ113号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          11:50（特急 りょうもう15号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          12:00（特急 きぬ115号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:30（特急 きぬ117号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          12:50（特急 りょうもう17号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          13:30（特急 きぬ119号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          13:50（特急 りょうもう19号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:10（特急 スカイツリートレイン1号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          14:50（特急 りょうもう21号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          15:00（特急 きぬ123号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          15:20（特急 りょうもう23号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          15:50（特急 りょうもう25号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:00（特急 きぬ125号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:20（特急 りょうもう27号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:40（区間快速）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          16:50（特急 りょうもう29号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:00（特急 きぬ127号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:10（特急 りょうもう31号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:40（特急 りょうもう33号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          17:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:00（特急 きぬ129号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          18:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:10（特急 りょうもう35号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:30（特急 しもつけ281号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:40（特急 りょうもう37号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          18:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:00（特急 きぬ131号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          19:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:10（特急 りょうもう39号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:40（特急 りょうもう41号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          19:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:00（特急 けごん33号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          20:02（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:10（特急 りょうもう43号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:20（特急 スカイツリートレイン3号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:40（特急 りょうもう45号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          20:42（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:00（特急 けごん35号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:10（特急 りょうもう47号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:22（区間準急）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:32（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:40（特急 りょうもう49号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          21:52（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:00（特急 けごん237号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:20（特急 りょうもう51号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:30（特急 けごん39号）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          22:32（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー（経由）
        </td>
        <td>
          22:42（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          23:02（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          23:12（区間急行）
        </td>
      </tr>
      <tr>
        <td>
          浅草
        </td>
        <td>
          とうきょうスカイツリー
        </td>
        <td>
          23:36（区間急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
