<h3>
  大宮駅始発の東武野田線 下り電車(1本)
</h3>
<dl>
  <a name="東武野田線-大宮-船橋方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大宮
        </td>
        <td>
          春日部（経由）
        </td>
        <td>
          12:30（特急 スカイツリートレイン4号）
        </td>
      </tr>
    </table>
  </dd>
</dl>
