<h3>
  森林公園駅始発の東武東上本線 上り電車(163本)
</h3><a href="#東武東上本線-森林公園-池袋方面(上り)-平日">平日(59本)</a>
/ <a href="#東武東上本線-森林公園-池袋方面(上り)-土曜日">土曜日(52本)</a>
/ <a href="#東武東上本線-森林公園-池袋方面(上り)-休日">休日(52本)</a>
<dl>
  <a name="東武東上本線-森林公園-池袋方面(上り)-平日"></a>
  <dt class="list-title">
    平日(59本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:34（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:46（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:55（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          06:11（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          06:14（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          06:25（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          06:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          06:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          06:59（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:10（通勤急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:27（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:33（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:41（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          08:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          08:56（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          09:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          09:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          10:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          10:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          10:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          11:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          11:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          11:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          12:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          12:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          12:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          13:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          13:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          13:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          14:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          14:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          14:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:58（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          17:17（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          17:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          17:58（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:17（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:40（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:58（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:10（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:41（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:32（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:46（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          22:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          22:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          22:37（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          23:10（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東武東上本線-森林公園-池袋方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(52本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:45（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          06:39（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:15（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:29（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:59（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          08:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          08:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          09:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          09:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          09:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          10:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          10:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          11:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          11:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          11:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          12:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          12:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          12:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          13:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          13:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          13:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          14:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          14:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          14:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:50（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:00（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:14（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:34（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          17:00（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          17:30（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:00（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:39（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:00（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:41（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:00（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:37（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:44（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          22:15（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          22:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          22:48（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東武東上本線-森林公園-池袋方面(上り)-休日"></a>
  <dt class="list-title">
    休日(52本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          05:45（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          06:39（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:15（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:29（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          07:59（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          08:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          08:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          09:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          09:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          09:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          10:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          10:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          11:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          11:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          11:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          12:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          12:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          12:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          13:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          13:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          13:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          14:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          14:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          14:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:39（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          15:50（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:00（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:14（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          16:34（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          17:00（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          17:30（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:00（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          18:39（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:00（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          19:41（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:00（快速急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:37（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          20:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          21:44（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          22:15（準急）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          22:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          森林公園
        </td>
        <td>
          池袋
        </td>
        <td>
          22:48（準急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
