<h3>
  久喜駅始発の東武伊勢崎線 上り電車(143本)
</h3><a href="#東武伊勢崎線-久喜-浅草・押上方面(上り)-平日">平日(49本)</a>
/ <a href="#東武伊勢崎線-久喜-浅草・押上方面(上り)-土曜日">土曜日(47本)</a>
/ <a href="#東武伊勢崎線-久喜-浅草・押上方面(上り)-休日">休日(47本)</a>
<dl>
  <a name="東武伊勢崎線-久喜-浅草・押上方面(上り)-平日"></a>
  <dt class="list-title">
    平日(49本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          06:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          07:12（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          07:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          09:10（準急）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          09:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          09:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          16:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          16:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          16:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          17:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          17:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          17:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          18:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          18:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          18:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          19:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          19:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          19:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          20:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          20:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          20:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          21:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          21:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          21:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          22:04（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東武伊勢崎線-久喜-浅草・押上方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(47本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          06:07（準急）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          07:12（準急）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          09:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          09:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          16:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          16:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          16:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          17:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          17:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          17:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          18:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          18:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          18:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          19:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          19:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          19:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          20:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          20:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          20:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          21:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          21:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          21:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          22:04（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東武伊勢崎線-久喜-浅草・押上方面(上り)-休日"></a>
  <dt class="list-title">
    休日(47本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          06:07（準急）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          07:12（準急）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          09:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          09:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          10:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          11:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          12:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          13:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          14:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          15:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          16:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          16:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          16:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          17:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          17:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          17:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          18:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          18:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          18:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          19:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          19:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          19:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          20:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          20:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          20:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          21:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          21:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          21:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          久喜
        </td>
        <td>
          曳舟
        </td>
        <td>
          22:04（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
