<h3>
  川越市駅始発の東武東上本線 上り電車(116本)
</h3><a href="#東武東上本線-川越市-池袋方面(上り)-平日">平日(34本)</a>
/ <a href="#東武東上本線-川越市-池袋方面(上り)-土曜日">土曜日(41本)</a>
/ <a href="#東武東上本線-川越市-池袋方面(上り)-休日">休日(41本)</a>
<dl>
  <a name="東武東上本線-川越市-池袋方面(上り)-平日"></a>
  <dt class="list-title">
    平日(34本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          07:12（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          08:20（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          08:32（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          08:42（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          08:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          09:07（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          10:01（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          10:32（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          11:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          11:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          12:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          12:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          13:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          13:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          14:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          14:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          15:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          15:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          16:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          16:32（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          16:53（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          17:22（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          17:53（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:06（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:23（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:53（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          19:21（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          19:55（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          20:24（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          21:07（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          21:21（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          21:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          21:45（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          23:42（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東武東上本線-川越市-池袋方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(41本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          06:41（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          06:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          07:15（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          08:06（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          08:45（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          09:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          09:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          10:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          10:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          11:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          11:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          12:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          12:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          13:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          13:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          14:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          14:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          15:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          15:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          16:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          16:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          17:08（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          17:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          17:38（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          17:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:09（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:24（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:39（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          19:11（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          19:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          19:48（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          20:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          20:14（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          20:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          20:48（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          21:18（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          21:33（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          21:48（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          22:02（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          22:31（準急）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東武東上本線-川越市-池袋方面(上り)-休日"></a>
  <dt class="list-title">
    休日(41本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          06:41（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          06:52（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          07:15（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          08:06（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          08:45（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          09:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          09:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          10:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          10:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          11:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          11:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          12:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          12:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          13:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          13:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          14:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          14:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          15:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          15:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          16:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          16:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          17:08（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          17:25（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          17:38（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          17:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:09（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:24（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:39（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          18:54（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          19:11（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          19:31（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          19:48（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          20:00（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          20:14（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          20:30（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          20:48（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          21:18（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          21:33（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          21:48（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          22:02（準急）
        </td>
      </tr>
      <tr>
        <td>
          川越市
        </td>
        <td>
          池袋
        </td>
        <td>
          22:31（準急）
        </td>
      </tr>
    </table>
  </dd>
</dl>
