<h3>
  国府津駅始発の東海道線 上り電車(65本)
</h3><a href="#東海道線-国府津-東京方面(上り)-平日">平日(23本)</a>
/ <a href="#東海道線-国府津-東京方面(上り)-土曜日">土曜日(21本)</a>
/ <a href="#東海道線-国府津-東京方面(上り)-休日">休日(21本)</a>
<dl>
  <a name="東海道線-国府津-東京方面(上り)-平日"></a>
  <dt class="list-title">
    平日(23本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          05:28
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          05:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          06:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          06:22
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          06:29
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          06:39（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          06:48
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          07:08
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          07:17
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          07:24
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          07:38
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          07:49
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          10:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          15:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          16:41
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          16:58
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          17:07
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          17:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          18:02
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          19:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          20:42（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          22:15（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東海道線-国府津-東京方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(21本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          05:28
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          05:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          06:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          06:48
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          07:10
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          07:53
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          09:00
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          09:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          10:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          10:40
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          15:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          16:41
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          16:58
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          16:58
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          17:07
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          17:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          18:02
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          19:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          21:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          22:15（快速）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東海道線-国府津-東京方面(上り)-休日"></a>
  <dt class="list-title">
    休日(21本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          05:28
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          05:40（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          06:13（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          06:48
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          07:10
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          07:53
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          09:00
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          09:33（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          10:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          10:40
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          15:32（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          16:41
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          16:58
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          16:58
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          17:07
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          17:55（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          東京
        </td>
        <td>
          18:02
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          19:15（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          21:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          国府津
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          22:15（快速）
        </td>
      </tr>
    </table>
  </dd>
</dl>
