<h3>
  二宮駅始発の東海道線 上り電車(2本)
</h3>
<dl>
  <a name="東海道線-二宮-東京方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          二宮
        </td>
        <td>
          東京
        </td>
        <td>
          07:03
        </td>
      </tr>
      <tr>
        <td>
          二宮
        </td>
        <td>
          東京
        </td>
        <td>
          07:34
        </td>
      </tr>
    </table>
  </dd>
</dl>
