<h3>
  熱海駅始発の東海道線 上り電車(141本)
</h3><a href="#東海道線-熱海-東京方面(上り)-平日">平日(47本)</a>
/ <a href="#東海道線-熱海-東京方面(上り)-土曜日">土曜日(47本)</a>
/ <a href="#東海道線-熱海-東京方面(上り)-休日">休日(47本)</a>
<dl>
  <a name="東海道線-熱海-東京方面(上り)-平日"></a>
  <dt class="list-title">
    平日(47本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          04:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          05:19
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          05:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          06:04
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          06:45
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          08:08
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          08:23
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          09:09
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          09:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          10:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          10:19
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          10:39
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:19
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:49
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          12:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          12:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          12:45
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          13:04（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          13:17
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          13:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:35
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:57（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          15:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          15:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          15:49（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          16:04
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          16:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          16:44（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:04
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:32（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:48
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          18:23
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          18:59
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          19:41
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          19:56
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          20:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          21:25
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          21:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          22:08
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          品川
        </td>
        <td>
          22:33
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          小田原
        </td>
        <td>
          23:08
        </td>
      </tr>
    </table>
  </dd>
  <a name="東海道線-熱海-東京方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(47本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          04:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          05:19
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          05:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          06:04
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          06:45
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          08:08
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          08:23
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          09:09
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          09:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          10:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          10:19
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          10:39
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:19
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:49
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          12:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          12:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          12:45
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          13:04（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          13:17
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          13:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:35
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:57（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          15:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          15:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          15:49（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          16:04
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          16:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          16:44（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:04
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:32（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:48
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          18:23
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          18:59
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          19:41
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          19:56
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          20:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          21:25
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          21:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          22:08
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          品川
        </td>
        <td>
          22:33
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          小田原
        </td>
        <td>
          23:08
        </td>
      </tr>
    </table>
  </dd>
  <a name="東海道線-熱海-東京方面(上り)-休日"></a>
  <dt class="list-title">
    休日(47本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          04:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          05:19
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          05:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          06:04
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          06:45
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          08:08
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          08:23
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          09:09
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          09:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          10:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          10:19
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          10:39
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:19
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          11:49
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          12:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          12:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          12:45
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          13:04（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          13:17
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          13:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:02（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:35
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          14:57（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          15:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          15:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          15:49（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          16:04
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          16:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          16:44（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:04
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:32（快速 アクティー）
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          17:48
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          18:23
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          18:59
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          19:41
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          19:56
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          20:18
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          21:25
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          21:40
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          東京
        </td>
        <td>
          22:08
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          品川
        </td>
        <td>
          22:33
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          小田原
        </td>
        <td>
          23:08
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  熱海駅始発の東海道線 下り電車(135本)
</h3><a href="#東海道線-熱海-美濃赤坂・米原方面(下り)-平日">平日(45本)</a>
/ <a href="#東海道線-熱海-美濃赤坂・米原方面(下り)-土曜日">土曜日(45本)</a>
/ <a href="#東海道線-熱海-美濃赤坂・米原方面(下り)-休日">休日(45本)</a>
<dl>
  <a name="東海道線-熱海-美濃赤坂・米原方面(下り)-平日"></a>
  <dt class="list-title">
    平日(45本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          05:32
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          06:20
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          06:49
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          07:27
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          08:47
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          09:06
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          富士
        </td>
        <td>
          09:17
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          09:37
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          09:58
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田（経由）
        </td>
        <td>
          10:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          10:35
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          10:59
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          11:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          11:38
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          11:47
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          12:11
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          12:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          12:57
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          13:12
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          13:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          13:55
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          14:13
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          14:37
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          14:52
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          15:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          15:56
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          16:17
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          16:38
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          16:56
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          17:09
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          17:38
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          17:52
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松（経由）
        </td>
        <td>
          18:11
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          18:36
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          18:54
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          19:11
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          19:24
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          19:49
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松（経由）
        </td>
        <td>
          20:29
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          20:51
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          21:32
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津（経由）
        </td>
        <td>
          22:34
        </td>
      </tr>
    </table>
  </dd>
  <a name="東海道線-熱海-美濃赤坂・米原方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(45本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          05:32
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          06:20
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          06:49
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          07:27
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          08:47
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          09:06
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          富士
        </td>
        <td>
          09:17
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          09:37
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          09:58
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          10:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          10:35
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津（経由）
        </td>
        <td>
          10:59
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          11:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          11:38
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          11:47
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          12:11
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          12:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          12:57
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          13:12
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          13:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          13:55
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          14:13
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          14:37
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          14:52
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          15:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          15:56
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          16:17
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          16:38
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          16:56
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          17:09
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          17:38
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          17:52
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          18:11
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          18:36
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          18:54
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          19:11
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          19:24
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          19:49
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          20:29
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          20:51
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          21:32
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          22:34
        </td>
      </tr>
    </table>
  </dd>
  <a name="東海道線-熱海-美濃赤坂・米原方面(下り)-休日"></a>
  <dt class="list-title">
    休日(45本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          05:32
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          06:20
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          06:49
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          07:27
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          08:47
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          09:06
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          富士
        </td>
        <td>
          09:17
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          09:37
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          09:58
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          10:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          10:35
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津（経由）
        </td>
        <td>
          10:59
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          11:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          11:38
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          11:47
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          12:11
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          12:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          12:57
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          13:12
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          13:34
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          13:55
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          14:13
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          14:37
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          14:52
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          15:16
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          15:41
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          15:56
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          16:17
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          16:38
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          16:56
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          17:09
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          17:38
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          17:52
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          18:11
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          18:36
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          18:54
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          19:11
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          19:24
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          19:49
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          島田
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          浜松
        </td>
        <td>
          20:29
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          20:51
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          静岡
        </td>
        <td>
          21:32
        </td>
      </tr>
      <tr>
        <td>
          熱海
        </td>
        <td>
          沼津
        </td>
        <td>
          22:34
        </td>
      </tr>
    </table>
  </dd>
</dl>
