<h3>
  中央林間駅始発の東急田園都市線 上り電車(252本)
</h3><a href="#東急田園都市線-中央林間-渋谷方面(上り)-平日">平日(90本)</a>
/ <a href="#東急田園都市線-中央林間-渋谷方面(上り)-土曜日">土曜日(81本)</a>
/ <a href="#東急田園都市線-中央林間-渋谷方面(上り)-休日">休日(81本)</a>
<dl>
  <a name="東急田園都市線-中央林間-渋谷方面(上り)-平日"></a>
  <dt class="list-title">
    平日(90本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          05:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          05:56（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:53（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:02（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:11（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:26（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:42（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:59（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          20:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          20:24（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          20:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          20:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          21:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          21:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          21:42（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          22:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          22:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          22:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          23:13（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷
        </td>
        <td>
          23:38（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急田園都市線-中央林間-渋谷方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(81本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          05:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷
        </td>
        <td>
          05:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          溝の口（経由）
        </td>
        <td>
          09:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          溝の口（経由）
        </td>
        <td>
          09:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          20:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          20:27（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          20:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          21:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          21:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          21:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          22:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          22:51（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急田園都市線-中央林間-渋谷方面(上り)-休日"></a>
  <dt class="list-title">
    休日(81本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          05:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷
        </td>
        <td>
          05:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:48（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          08:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          溝の口（経由）
        </td>
        <td>
          09:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          09:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          溝の口（経由）
        </td>
        <td>
          09:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          10:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          11:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          12:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          13:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          14:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:13（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:43（準急）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          15:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          16:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          17:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          18:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          19:54（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          20:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          20:27（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          20:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          21:02（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          21:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          21:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          22:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          中央林間
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          22:51（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
