<h3>
  武蔵小杉駅始発の東急東横線 上り電車(6本)
</h3><a href="#東急東横線-武蔵小杉-渋谷方面(上り)-平日">平日(2本)</a>
/ <a href="#東急東横線-武蔵小杉-渋谷方面(上り)-土曜日">土曜日(2本)</a>
/ <a href="#東急東横線-武蔵小杉-渋谷方面(上り)-休日">休日(2本)</a>
<dl>
  <a name="東急東横線-武蔵小杉-渋谷方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          渋谷
        </td>
        <td>
          05:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:11（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-武蔵小杉-渋谷方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          23:34（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-武蔵小杉-渋谷方面(上り)-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:14（急行）
        </td>
      </tr>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          23:34（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  武蔵小杉駅始発の東急東横線 下り電車(3本)
</h3><a href="#東急東横線-武蔵小杉-横浜方面(下り)-平日">平日(1本)</a>
/ <a href="#東急東横線-武蔵小杉-横浜方面(下り)-土曜日">土曜日(1本)</a>
/ <a href="#東急東横線-武蔵小杉-横浜方面(下り)-休日">休日(1本)</a>
<dl>
  <a name="東急東横線-武蔵小杉-横浜方面(下り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:29（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-武蔵小杉-横浜方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:31（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-武蔵小杉-横浜方面(下り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:31（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  武蔵小杉駅始発の東急目黒線 上り電車(5本)
</h3><a href="#東急目黒線-武蔵小杉-目黒方面(上り)-平日">平日(3本)</a>
/ <a href="#東急目黒線-武蔵小杉-目黒方面(上り)-土曜日">土曜日(1本)</a>
/ <a href="#東急目黒線-武蔵小杉-目黒方面(上り)-休日">休日(1本)</a>
<dl>
  <a name="東急目黒線-武蔵小杉-目黒方面(上り)-平日"></a>
  <dt class="list-title">
    平日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:01（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急目黒線-武蔵小杉-目黒方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          20:34（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急目黒線-武蔵小杉-目黒方面(上り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          武蔵小杉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          20:34（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
