<h3>
  横浜駅始発の東急東横線 上り電車(4本)
</h3><a href="#東急東横線-横浜-渋谷方面(上り)-平日">平日(2本)</a>
/ <a href="#東急東横線-横浜-渋谷方面(上り)-土曜日">土曜日(1本)</a>
/ <a href="#東急東横線-横浜-渋谷方面(上り)-休日">休日(1本)</a>
<dl>
  <a name="東急東横線-横浜-渋谷方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          武蔵小杉
        </td>
        <td>
          00:43（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-横浜-渋谷方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          武蔵小杉
        </td>
        <td>
          23:57（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-横浜-渋谷方面(上り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          武蔵小杉
        </td>
        <td>
          23:57（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
