<h3>
  渋谷駅始発の東急東横線 下り電車(20本)
</h3><a href="#東急東横線-渋谷-横浜方面(下り)-平日">平日(6本)</a>
/ <a href="#東急東横線-渋谷-横浜方面(下り)-土曜日">土曜日(7本)</a>
/ <a href="#東急東横線-渋谷-横浜方面(下り)-休日">休日(7本)</a>
<dl>
  <a name="東急東横線-渋谷-横浜方面(下り)-平日"></a>
  <dt class="list-title">
    平日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          菊名
        </td>
        <td>
          22:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          22:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          菊名
        </td>
        <td>
          23:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          菊名
        </td>
        <td>
          23:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          武蔵小杉
        </td>
        <td>
          00:35（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-渋谷-横浜方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(7本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:09（特急）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:35（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-渋谷-横浜方面(下り)-休日"></a>
  <dt class="list-title">
    休日(7本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:09（特急）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          19:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          20:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          21:35（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  渋谷駅始発の東急田園都市線 下り電車(8本)
</h3><a href="#東急田園都市線-渋谷-中央林間方面(下り)-土曜日">土曜日(4本)</a>
/ <a href="#東急田園都市線-渋谷-中央林間方面(下り)-休日">休日(4本)</a>
<dl>
  <a name="東急田園都市線-渋谷-中央林間方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          中央林間
        </td>
        <td>
          06:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          中央林間
        </td>
        <td>
          06:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          中央林間
        </td>
        <td>
          17:26（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          中央林間
        </td>
        <td>
          18:26（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急田園都市線-渋谷-中央林間方面(下り)-休日"></a>
  <dt class="list-title">
    休日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          中央林間
        </td>
        <td>
          06:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          中央林間
        </td>
        <td>
          06:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          中央林間
        </td>
        <td>
          17:26（急行）
        </td>
      </tr>
      <tr>
        <td>
          渋谷
        </td>
        <td>
          中央林間
        </td>
        <td>
          18:26（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
