<h3>
  菊名駅始発の東急東横線 上り電車(14本)
</h3><a href="#東急東横線-菊名-渋谷方面(上り)-平日">平日(2本)</a>
/ <a href="#東急東横線-菊名-渋谷方面(上り)-土曜日">土曜日(6本)</a>
/ <a href="#東急東横線-菊名-渋谷方面(上り)-休日">休日(6本)</a>
<dl>
  <a name="東急東横線-菊名-渋谷方面(上り)-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          05:47（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:35（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-菊名-渋谷方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          05:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:40（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-菊名-渋谷方面(上り)-休日"></a>
  <dt class="list-title">
    休日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          05:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:43（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          06:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          菊名
        </td>
        <td>
          渋谷（経由）
        </td>
        <td>
          07:40（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
