<h3>
  日吉駅始発の東急東横線 下り電車(17本)
</h3><a href="#東急東横線-日吉-横浜方面(下り)-平日">平日(9本)</a>
/ <a href="#東急東横線-日吉-横浜方面(下り)-土曜日">土曜日(4本)</a>
/ <a href="#東急東横線-日吉-横浜方面(下り)-休日">休日(4本)</a>
<dl>
  <a name="東急東横線-日吉-横浜方面(下り)-平日"></a>
  <dt class="list-title">
    平日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          06:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:08（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:23（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:44（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          11:18（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          12:03（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-日吉-横浜方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:18（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急東横線-日吉-横浜方面(下り)-休日"></a>
  <dt class="list-title">
    休日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          05:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          07:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          08:03（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          横浜（経由）
        </td>
        <td>
          10:18（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  日吉駅始発の東急目黒線 上り電車(154本)
</h3><a href="#東急目黒線-日吉-目黒方面(上り)-平日">平日(62本)</a>
/ <a href="#東急目黒線-日吉-目黒方面(上り)-土曜日">土曜日(46本)</a>
/ <a href="#東急目黒線-日吉-目黒方面(上り)-休日">休日(46本)</a>
<dl>
  <a name="東急目黒線-日吉-目黒方面(上り)-平日"></a>
  <dt class="list-title">
    平日(62本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:28（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:11（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:50（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:21（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:33（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          19:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          19:20（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          19:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          19:55（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          20:10（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          20:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          20:58（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          21:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          22:00（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急目黒線-日吉-目黒方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(46本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          19:10（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急目黒線-日吉-目黒方面(上り)-休日"></a>
  <dt class="list-title">
    休日(46本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:38（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          07:52（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:07（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:37（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          08:51（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          09:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          10:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          11:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          12:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          13:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          14:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          15:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          16:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          17:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          18:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          日吉
        </td>
        <td>
          目黒（経由）
        </td>
        <td>
          19:10（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
