<h3>
  溝の口駅始発の東急大井町線 上り電車(118本)
</h3><a href="#東急大井町線-溝の口-大井町方面(上り)-平日">平日(66本)</a>
/ <a href="#東急大井町線-溝の口-大井町方面(上り)-土曜日">土曜日(26本)</a>
/ <a href="#東急大井町線-溝の口-大井町方面(上り)-休日">休日(26本)</a>
<dl>
  <a name="東急大井町線-溝の口-大井町方面(上り)-平日"></a>
  <dt class="list-title">
    平日(66本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          06:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          06:40（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          06:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          07:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          07:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          07:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          07:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          07:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          08:05（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          08:17（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          08:29（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          08:41（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          08:53（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          09:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          09:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          09:32（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          09:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          10:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          10:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          10:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          10:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          11:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          11:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          11:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          11:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          12:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          12:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          12:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          12:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          13:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          13:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          13:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          13:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          14:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          14:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          14:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          14:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          15:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          15:15（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          15:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          15:45（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          15:57（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          16:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          16:22（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          16:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          16:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          19:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          19:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          19:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          19:49（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          20:04（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          20:19（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          20:34（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          21:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          21:30（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          22:00（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          22:25（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          22:43（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急大井町線-溝の口-大井町方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(26本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          09:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          09:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          10:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          10:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          11:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          11:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          12:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          12:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          13:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          13:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          14:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          14:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          15:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          15:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          16:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          16:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          19:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          19:16（急行）
        </td>
      </tr>
    </table>
  </dd>
  <a name="東急大井町線-溝の口-大井町方面(上り)-休日"></a>
  <dt class="list-title">
    休日(26本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          09:09（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          09:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          10:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          10:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          11:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          11:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          12:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          12:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          13:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          13:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          14:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          14:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          15:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          15:36（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          16:06（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          16:35（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          17:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:16（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:31（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          18:46（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          19:01（急行）
        </td>
      </tr>
      <tr>
        <td>
          溝の口
        </td>
        <td>
          大井町
        </td>
        <td>
          19:16（急行）
        </td>
      </tr>
    </table>
  </dd>
</dl>
