<h3>
  大宮駅始発の東北本線(宇都宮線) 下り電車(3本)
</h3><a href="#東北本線(宇都宮線)-大宮-黒磯方面(下り)-平日">平日(1本)</a>
/ <a href="#東北本線(宇都宮線)-大宮-黒磯方面(下り)-土曜日">土曜日(1本)</a>
/ <a href="#東北本線(宇都宮線)-大宮-黒磯方面(下り)-休日">休日(1本)</a>
<dl>
  <a name="東北本線(宇都宮線)-大宮-黒磯方面(下り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大宮
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:54
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-大宮-黒磯方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大宮
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:54
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-大宮-黒磯方面(下り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大宮
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:54
        </td>
      </tr>
    </table>
  </dd>
</dl>
