<h3>
  小金井駅始発の東北本線(宇都宮線) 上り電車(117本)
</h3><a href="#東北本線(宇都宮線)-小金井-上野方面(上り)-平日">平日(43本)</a>
/ <a href="#東北本線(宇都宮線)-小金井-上野方面(上り)-土曜日">土曜日(37本)</a>
/ <a href="#東北本線(宇都宮線)-小金井-上野方面(上り)-休日">休日(37本)</a>
<dl>
  <a name="東北本線(宇都宮線)-小金井-上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(43本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:13
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:24
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:37
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:51
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          06:00
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          06:18
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:28
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          06:32
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          06:58
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          07:03
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          07:08
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          07:16
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          07:25
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          07:35
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:14
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          09:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:16
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          11:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          11:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          12:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          12:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          13:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          14:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          15:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          15:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:09
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:24
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          17:06
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          17:26
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          17:40
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          17:46
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          18:42
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          19:37
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          19:56
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          20:30
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          20:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          21:28
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          21:47
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-小金井-上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(37本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:13
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:24
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:37
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:51
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          06:00
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          06:31
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:45
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          07:07
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          07:21
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          07:31
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          07:38
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:16
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          09:10
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          09:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:16
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          11:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          12:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          12:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          14:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          15:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          15:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:08
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:26
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:38
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          17:44
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          18:42
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          19:17
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          19:37
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          19:56
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          20:32
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          20:47
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          21:28
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          21:47
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-小金井-上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(37本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:13
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:24
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:37
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          05:51
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          06:00
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          06:31
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:45
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          07:07
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          07:21
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          07:31
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          07:38
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:16
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          09:10
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          09:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:16
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          11:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          12:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          12:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          14:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          15:05
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          15:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:08
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:26
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:38
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          16:50
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          17:44
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          18:42
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          19:17
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          19:37
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          19:56
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          20:32
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          20:47
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          21:28
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          上野
        </td>
        <td>
          21:47
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  小金井駅始発の東北本線(宇都宮線) 下り電車(13本)
</h3><a href="#東北本線(宇都宮線)-小金井-黒磯方面(下り)-平日">平日(5本)</a>
/ <a href="#東北本線(宇都宮線)-小金井-黒磯方面(下り)-土曜日">土曜日(4本)</a>
/ <a href="#東北本線(宇都宮線)-小金井-黒磯方面(下り)-休日">休日(4本)</a>
<dl>
  <a name="東北本線(宇都宮線)-小金井-黒磯方面(下り)-平日"></a>
  <dt class="list-title">
    平日(5本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小金井
        </td>
        <td>
          宇都宮（経由）
        </td>
        <td>
          06:02
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          黒磯
        </td>
        <td>
          14:15
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:46
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          黒磯
        </td>
        <td>
          17:14
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          黒磯
        </td>
        <td>
          21:08
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-小金井-黒磯方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小金井
        </td>
        <td>
          宇都宮（経由）
        </td>
        <td>
          06:02
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          黒磯
        </td>
        <td>
          14:03
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          黒磯
        </td>
        <td>
          17:18
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:02
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-小金井-黒磯方面(下り)-休日"></a>
  <dt class="list-title">
    休日(4本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小金井
        </td>
        <td>
          宇都宮（経由）
        </td>
        <td>
          06:02
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          黒磯
        </td>
        <td>
          14:03
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          黒磯
        </td>
        <td>
          17:18
        </td>
      </tr>
      <tr>
        <td>
          小金井
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:02
        </td>
      </tr>
    </table>
  </dd>
</dl>
