<h3>
  宇都宮駅始発の東北本線(宇都宮線) 上り電車(179本)
</h3><a href="#東北本線(宇都宮線)-宇都宮-上野方面(上り)-平日">平日(59本)</a>
/ <a href="#東北本線(宇都宮線)-宇都宮-上野方面(上り)-土曜日">土曜日(60本)</a>
/ <a href="#東北本線(宇都宮線)-宇都宮-上野方面(上り)-休日">休日(60本)</a>
<dl>
  <a name="東北本線(宇都宮線)-宇都宮-上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(59本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          04:42
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:42
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          05:59
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          06:13
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:31
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          06:46
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          07:00
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          07:35
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:26
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          08:35
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          09:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          09:22
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          09:48
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          10:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          10:28
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:56
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          11:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          11:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          11:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          12:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          12:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          12:56
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          13:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          13:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          13:51
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          14:14
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          14:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          14:53
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          15:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          15:34（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          15:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          16:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          16:25
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          16:36（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          16:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          小山（経由）
        </td>
        <td>
          17:13
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          17:39
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          17:54
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          18:04
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          18:14
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          18:41（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          18:49
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          19:07
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          19:30
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          19:42（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          19:54
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          20:24
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          20:36（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          20:44
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          21:15（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          21:36
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          21:47
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          22:20
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮
        </td>
        <td>
          22:42
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-宇都宮-上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(60本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          04:42
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:59
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          06:14
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          07:06
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          07:34
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          08:26
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:38（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          09:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          09:22
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          09:47
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          10:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          10:28
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          10:46
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:56
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          11:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          11:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          11:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          12:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          12:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          12:44
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          12:56
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          13:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          13:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          13:51
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          14:14
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          14:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          14:53
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          15:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          15:38（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          15:53
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          16:14
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          16:22
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          16:33（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          16:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          17:03
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          小山（経由）
        </td>
        <td>
          17:13
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          17:39
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          17:57
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          18:14
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          18:41（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          19:07
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          19:30
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          19:40（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          19:54
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          20:16
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          20:37（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          20:49
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          21:15（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          21:36
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          21:47
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          22:20
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮
        </td>
        <td>
          22:42
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-宇都宮-上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(60本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          04:42
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          05:59
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          06:14
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          07:06
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          07:34
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:25（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          08:26
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:38（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          09:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          09:22
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          09:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          09:47
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          10:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          10:28
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          10:46
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          10:56
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          11:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          11:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          11:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          12:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          12:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          12:44
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          12:56
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          13:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          13:37（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          13:51
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          14:14
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          14:36（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          14:53
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          15:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          15:38（快速）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          15:53
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          16:14
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          16:22
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          16:33（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          16:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          17:03
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          小山（経由）
        </td>
        <td>
          17:13
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          17:39
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          17:57
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          18:14
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          18:41（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          19:07
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          19:30
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          19:40（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          19:54
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          20:16
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          20:37（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          20:49
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          21:15（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          21:36
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          21:47
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          上野
        </td>
        <td>
          22:20
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          大宮
        </td>
        <td>
          22:42
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  宇都宮駅始発の東北本線(宇都宮線) 下り電車(128本)
</h3><a href="#東北本線(宇都宮線)-宇都宮-黒磯方面(下り)-平日">平日(42本)</a>
/ <a href="#東北本線(宇都宮線)-宇都宮-黒磯方面(下り)-土曜日">土曜日(43本)</a>
/ <a href="#東北本線(宇都宮線)-宇都宮-黒磯方面(下り)-休日">休日(43本)</a>
<dl>
  <a name="東北本線(宇都宮線)-宇都宮-黒磯方面(下り)-平日"></a>
  <dt class="list-title">
    平日(42本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          05:18
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          06:56
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          07:09
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          07:16
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          07:37
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          08:20
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          08:44
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          09:09
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          09:32
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          10:03
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          10:23
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          11:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          11:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          12:08
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          12:29
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          13:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          13:40
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          14:21
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          14:52
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          15:07
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          15:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          16:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          16:35
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          16:51
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          17:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          17:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          17:30
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          18:05
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          18:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          18:34
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          18:50
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          19:09
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          19:22
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          19:52
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:32
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:58
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          22:05
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-宇都宮-黒磯方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(43本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          05:18
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          06:56
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          07:09
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          07:16
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          07:37
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          08:20
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          08:44
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          09:09
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          09:32
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          10:03
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          10:23
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          11:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          11:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          12:08
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          12:29
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          13:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          13:40
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          13:54
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          14:21
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          14:52
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          15:07
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          15:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          16:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          16:35
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          16:51
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          17:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          17:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          17:30
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          18:05
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          18:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          18:34
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          18:50
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          19:09
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          19:22
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          19:52
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:32
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:58
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          21:32
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          22:05
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-宇都宮-黒磯方面(下り)-休日"></a>
  <dt class="list-title">
    休日(43本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          05:18
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          05:48
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          06:56
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          07:09
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          07:16
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          07:37
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          08:20
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          08:44
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          09:09
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          09:32
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          10:03
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          10:23
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          11:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          11:55
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          12:08
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          12:29
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          13:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          13:40
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          13:54
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          14:21
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          14:52
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          15:07
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          15:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          16:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          16:35
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          16:51
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          17:11
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          17:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          17:30
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          18:05
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          18:15
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          18:34
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          18:50
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          宝積寺（経由）
        </td>
        <td>
          19:09
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          19:22
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          19:52
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:10
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:32
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:58
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          21:32
        </td>
      </tr>
      <tr>
        <td>
          宇都宮
        </td>
        <td>
          黒磯
        </td>
        <td>
          22:05
        </td>
      </tr>
    </table>
  </dd>
</dl>
