<h3>
  黒磯駅始発の東北本線(宇都宮線) 上り電車(117本)
</h3><a href="#東北本線(宇都宮線)-黒磯-上野方面(上り)-平日">平日(39本)</a>
/ <a href="#東北本線(宇都宮線)-黒磯-上野方面(上り)-土曜日">土曜日(39本)</a>
/ <a href="#東北本線(宇都宮線)-黒磯-上野方面(上り)-休日">休日(39本)</a>
<dl>
  <a name="東北本線(宇都宮線)-黒磯-上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(39本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          05:27
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          05:53
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          06:17
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:32
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:08
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          07:29
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:58
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:49
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          小金井
        </td>
        <td>
          09:15
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          小山（経由）
        </td>
        <td>
          09:23
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          09:41
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          10:15
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          10:50
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          11:22
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:09
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:54
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          13:26
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          14:10
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          14:56
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:16
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:33
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:52
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:13
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          16:36（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:53
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:12
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          17:33
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:48
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:10
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:38
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:59
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          19:31
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          19:52
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:20
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:52
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:27
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:53
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-黒磯-上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(39本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          05:27
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          05:53
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          06:17
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:32
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:08
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          07:29
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:58
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:49
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          小金井
        </td>
        <td>
          09:15
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          小山（経由）
        </td>
        <td>
          09:23
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          09:41
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          10:15
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          10:50
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          11:22
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:09
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:54
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          13:26
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          14:10
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          14:56
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:16
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:33
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:52
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:13
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          16:36（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:53
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:12
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          17:33
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:48
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:10
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:38
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:59
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          19:31
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          19:52
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:20
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:52
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:27
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:53
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-黒磯-上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(39本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          05:27
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          05:53
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          06:17
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:32
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:08
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          07:29
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:58
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:18
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:49
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          小金井
        </td>
        <td>
          09:15
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          小山（経由）
        </td>
        <td>
          09:23
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          09:41
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          10:15
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          10:50
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          11:22
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:09
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:54
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          13:26
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          14:10
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          14:56
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:16
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:33
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:52
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:13
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          16:36（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:53
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:12
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          上野
        </td>
        <td>
          17:33
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:48
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:10
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:38
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:59
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          19:31
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          19:52
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:20
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:52
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:27
        </td>
      </tr>
      <tr>
        <td>
          黒磯
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:53
        </td>
      </tr>
    </table>
  </dd>
</dl>
