<h3>
  上野駅始発の東北本線(宇都宮線) 下り電車(240本)
</h3><a href="#東北本線(宇都宮線)-上野-黒磯方面(下り)-平日">平日(85本)</a>
/ <a href="#東北本線(宇都宮線)-上野-黒磯方面(下り)-土曜日">土曜日(77本)</a>
/ <a href="#東北本線(宇都宮線)-上野-黒磯方面(下り)-休日">休日(78本)</a>
<dl>
  <a name="東北本線(宇都宮線)-上野-黒磯方面(下り)-平日"></a>
  <dt class="list-title">
    平日(85本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          05:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          05:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          05:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:08
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          06:36
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:49（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:59
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:16
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          07:38
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          07:48
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:57（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:00
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          08:27
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          09:07
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          09:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          09:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          09:42
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          10:08
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          10:25
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          10:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          10:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          11:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          11:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          11:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          11:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          12:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          12:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          12:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          13:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          黒磯
        </td>
        <td>
          13:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          13:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          14:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          14:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          14:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          15:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          15:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          15:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:06
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮（経由）
        </td>
        <td>
          16:20（寝台特急 カシオペア）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          16:23
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:36
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          17:00
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          17:14
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:25
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          17:36
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          17:57
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:12
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:21（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:26
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:39
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮（経由）
        </td>
        <td>
          19:03（寝台特急 北斗星）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:09
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          19:20（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:26
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:34
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:09
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:20（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:24
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          20:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          21:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          21:11
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:20（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          21:23
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:47
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          22:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          22:20（通勤快速）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          22:27
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          22:44
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          23:14
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          23:27
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          23:38
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-上野-黒磯方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(77本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          05:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          05:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          05:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:08
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          06:36
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:49（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:59
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:13
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          07:38
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:48
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:58（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:08
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:51
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          09:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          09:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          09:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          09:48
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          10:08
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          10:25
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          10:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          10:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          11:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          11:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          11:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          11:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          12:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          12:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          13:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          黒磯
        </td>
        <td>
          13:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          13:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          14:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          14:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          14:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          15:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          15:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          15:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          16:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          16:23
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:36
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          17:14
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          17:25
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:36
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:25（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:39
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮（経由）
        </td>
        <td>
          19:03（寝台特急 北斗星）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          19:20（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:30
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:22（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:30
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          20:41
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          21:09
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:20（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          21:26
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:49
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          22:06
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          22:20（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          22:30
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          22:44
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          23:14
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          23:27
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          23:38
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-上野-黒磯方面(下り)-休日"></a>
  <dt class="list-title">
    休日(78本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          05:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          05:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          05:46
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:08
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          06:36
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:49（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          06:59
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:13
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          07:38
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:48
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          07:58（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:08
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:33
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          08:51
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          09:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          09:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          09:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          09:48
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          10:08
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          10:25
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          10:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          10:52
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          11:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          11:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          11:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          11:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          12:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          12:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          12:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          13:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          黒磯
        </td>
        <td>
          13:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          13:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          13:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          14:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          14:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          古河
        </td>
        <td>
          14:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          15:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          15:20
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          15:35
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          15:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          16:05
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮（経由）
        </td>
        <td>
          16:20（寝台特急 カシオペア）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          16:23
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:36
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          16:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          17:14
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          17:25
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:36
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          17:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          18:25（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:32
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:39
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          18:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮（経由）
        </td>
        <td>
          19:03（寝台特急 北斗星）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:10
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          19:20（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:30
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          19:50
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:03
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:22（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          20:30
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          20:41
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          黒磯
        </td>
        <td>
          20:55
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          21:09
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:20（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          21:26
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          21:49
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          22:06
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          22:20（快速 ラビット）
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          22:30
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          22:44
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          23:14
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          小金井
        </td>
        <td>
          23:27
        </td>
      </tr>
      <tr>
        <td>
          上野
        </td>
        <td>
          宇都宮
        </td>
        <td>
          23:38
        </td>
      </tr>
    </table>
  </dd>
</dl>
