<h3>
  古河駅始発の東北本線(宇都宮線) 上り電車(21本)
</h3><a href="#東北本線(宇都宮線)-古河-上野方面(上り)-平日">平日(9本)</a>
/ <a href="#東北本線(宇都宮線)-古河-上野方面(上り)-土曜日">土曜日(6本)</a>
/ <a href="#東北本線(宇都宮線)-古河-上野方面(上り)-休日">休日(6本)</a>
<dl>
  <a name="東北本線(宇都宮線)-古河-上野方面(上り)-平日"></a>
  <dt class="list-title">
    平日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          07:17
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          大宮（経由）
        </td>
        <td>
          08:20
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          11:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          12:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          13:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          14:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          15:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          16:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          17:01
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-古河-上野方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          11:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          12:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          13:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          14:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          15:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          16:00
        </td>
      </tr>
    </table>
  </dd>
  <a name="東北本線(宇都宮線)-古河-上野方面(上り)-休日"></a>
  <dt class="list-title">
    休日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          11:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          12:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          13:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          14:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          15:00
        </td>
      </tr>
      <tr>
        <td>
          古河
        </td>
        <td>
          上野
        </td>
        <td>
          16:00
        </td>
      </tr>
    </table>
  </dd>
</dl>
