<h3>
  鎌倉駅始発の横須賀線 上り電車(2本)
</h3><a href="#横須賀線-鎌倉-東京方面(上り)-土曜日">土曜日(1本)</a>
/ <a href="#横須賀線-鎌倉-東京方面(上り)-休日">休日(1本)</a>
<dl>
  <a name="横須賀線-鎌倉-東京方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          鎌倉
        </td>
        <td>
          北鎌倉（経由）
        </td>
        <td>
          17:05（急行 ぶらりお座敷鎌倉号）
        </td>
      </tr>
    </table>
  </dd>
  <a name="横須賀線-鎌倉-東京方面(上り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          鎌倉
        </td>
        <td>
          大船（経由）
        </td>
        <td>
          17:18（ホリデー快速鎌倉）
        </td>
      </tr>
    </table>
  </dd>
</dl>
