<h3>
  小机駅始発の横浜線 下り電車(9本)
</h3><a href="#横浜線-小机-八王子方面(下り)-平日">平日(3本)</a>
/ <a href="#横浜線-小机-八王子方面(下り)-土曜日">土曜日(3本)</a>
/ <a href="#横浜線-小机-八王子方面(下り)-休日">休日(3本)</a>
<dl>
  <a name="横浜線-小机-八王子方面(下り)-平日"></a>
  <dt class="list-title">
    平日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小机
        </td>
        <td>
          八王子
        </td>
        <td>
          05:13
        </td>
      </tr>
      <tr>
        <td>
          小机
        </td>
        <td>
          八王子
        </td>
        <td>
          05:36
        </td>
      </tr>
      <tr>
        <td>
          小机
        </td>
        <td>
          八王子
        </td>
        <td>
          06:28
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜線-小机-八王子方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小机
        </td>
        <td>
          八王子
        </td>
        <td>
          05:14
        </td>
      </tr>
      <tr>
        <td>
          小机
        </td>
        <td>
          八王子
        </td>
        <td>
          05:36
        </td>
      </tr>
      <tr>
        <td>
          小机
        </td>
        <td>
          橋本
        </td>
        <td>
          07:17
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜線-小机-八王子方面(下り)-休日"></a>
  <dt class="list-title">
    休日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          小机
        </td>
        <td>
          八王子
        </td>
        <td>
          05:14
        </td>
      </tr>
      <tr>
        <td>
          小机
        </td>
        <td>
          八王子
        </td>
        <td>
          05:36
        </td>
      </tr>
      <tr>
        <td>
          小机
        </td>
        <td>
          橋本
        </td>
        <td>
          07:17
        </td>
      </tr>
    </table>
  </dd>
</dl>
