<h3>
  東京駅始発の横須賀線 下り電車(24本)
</h3><a href="#横須賀線-東京-久里浜方面(下り)-平日">平日(6本)</a>
/ <a href="#横須賀線-東京-久里浜方面(下り)-土曜日">土曜日(9本)</a>
/ <a href="#横須賀線-東京-久里浜方面(下り)-休日">休日(9本)</a>
<dl>
  <a name="横須賀線-東京-久里浜方面(下り)-平日"></a>
  <dt class="list-title">
    平日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東京
        </td>
        <td>
          久里浜
        </td>
        <td>
          04:55
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          久里浜
        </td>
        <td>
          06:01
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          久里浜
        </td>
        <td>
          06:44
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          大船
        </td>
        <td>
          07:42
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          19:25
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          20:30（ホームライナー逗子）
        </td>
      </tr>
    </table>
  </dd>
  <a name="横須賀線-東京-久里浜方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東京
        </td>
        <td>
          久里浜
        </td>
        <td>
          04:55
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          横須賀
        </td>
        <td>
          06:01
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          07:01
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          09:49
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          13:21
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          15:13
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          久里浜
        </td>
        <td>
          18:00
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          横須賀
        </td>
        <td>
          19:35
        </td>
      </tr>
    </table>
  </dd>
  <a name="横須賀線-東京-久里浜方面(下り)-休日"></a>
  <dt class="list-title">
    休日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          東京
        </td>
        <td>
          久里浜
        </td>
        <td>
          04:55
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          横須賀
        </td>
        <td>
          06:01
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          07:01
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          09:49
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          13:21
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          逗子
        </td>
        <td>
          15:13
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          久里浜
        </td>
        <td>
          18:00
        </td>
      </tr>
      <tr>
        <td>
          東京
        </td>
        <td>
          横須賀
        </td>
        <td>
          19:35
        </td>
      </tr>
    </table>
  </dd>
</dl>
