<h3>
  上永谷駅始発の横浜市営ブルーライン あざみ野方面電車(8本)
</h3><a href="#横浜市営ブルーライン-上永谷-あざみ野方面-平日">平日(6本)</a>
/ <a href="#横浜市営ブルーライン-上永谷-あざみ野方面-土曜日">土曜日(1本)</a>
/ <a href="#横浜市営ブルーライン-上永谷-あざみ野方面-休日">休日(1本)</a>
<dl>
  <a name="横浜市営ブルーライン-上永谷-あざみ野方面-平日"></a>
  <dt class="list-title">
    平日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          あざみ野
        </td>
        <td>
          05:14
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          あざみ野
        </td>
        <td>
          06:25
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          あざみ野
        </td>
        <td>
          06:34
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          あざみ野
        </td>
        <td>
          06:47
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          あざみ野
        </td>
        <td>
          07:04
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          あざみ野
        </td>
        <td>
          07:13
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜市営ブルーライン-上永谷-あざみ野方面-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          あざみ野
        </td>
        <td>
          05:14
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜市営ブルーライン-上永谷-あざみ野方面-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          あざみ野
        </td>
        <td>
          05:14
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  上永谷駅始発の横浜市営ブルーライン 湘南台方面電車(21本)
</h3><a href="#横浜市営ブルーライン-上永谷-湘南台方面-平日">平日(9本)</a>
/ <a href="#横浜市営ブルーライン-上永谷-湘南台方面-土曜日">土曜日(6本)</a>
/ <a href="#横浜市営ブルーライン-上永谷-湘南台方面-休日">休日(6本)</a>
<dl>
  <a name="横浜市営ブルーライン-上永谷-湘南台方面-平日"></a>
  <dt class="list-title">
    平日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          05:23
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          05:32
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          06:19
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          06:41
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          06:46
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          06:53
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          06:58
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          07:07
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          07:16
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜市営ブルーライン-上永谷-湘南台方面-土曜日"></a>
  <dt class="list-title">
    土曜日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          05:28
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          09:41
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          10:26
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          10:49
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          11:26
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          15:56
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜市営ブルーライン-上永谷-湘南台方面-休日"></a>
  <dt class="list-title">
    休日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          05:28
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          09:41
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          10:26
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          10:49
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          11:26
        </td>
      </tr>
      <tr>
        <td>
          上永谷
        </td>
        <td>
          湘南台
        </td>
        <td>
          15:56
        </td>
      </tr>
    </table>
  </dd>
</dl>
