<h3>
  上大岡駅始発の横浜市営ブルーライン あざみ野方面電車(1本)
</h3>
<dl>
  <a name="横浜市営ブルーライン-上大岡-あざみ野方面-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          上大岡
        </td>
        <td>
          あざみ野
        </td>
        <td>
          06:22
        </td>
      </tr>
    </table>
  </dd>
</dl>
