<h3>
  大船駅始発の横須賀線 上り電車(17本)
</h3><a href="#横須賀線-大船-東京方面(上り)-平日">平日(5本)</a>
/ <a href="#横須賀線-大船-東京方面(上り)-土曜日">土曜日(6本)</a>
/ <a href="#横須賀線-大船-東京方面(上り)-休日">休日(6本)</a>
<dl>
  <a name="横須賀線-大船-東京方面(上り)-平日"></a>
  <dt class="list-title">
    平日(5本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          07:29
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          08:52
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          16:20（エアポート成田）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          17:37
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          18:29
        </td>
      </tr>
    </table>
  </dd>
  <a name="横須賀線-大船-東京方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          戸塚（経由）
        </td>
        <td>
          07:27（快速 お座敷ぶどう狩り号）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          10:37
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          17:01（エアポート成田）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          17:22（エアポート成田）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          17:22（エアポート成田）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京
        </td>
        <td>
          18:23
        </td>
      </tr>
    </table>
  </dd>
  <a name="横須賀線-大船-東京方面(上り)-休日"></a>
  <dt class="list-title">
    休日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          戸塚（経由）
        </td>
        <td>
          07:27（快速 お座敷ぶどう狩り号）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          10:37
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          17:01（エアポート成田）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          17:22（エアポート成田）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京（経由）
        </td>
        <td>
          17:22（エアポート成田）
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          東京
        </td>
        <td>
          18:23
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  大船駅始発の横須賀線 下り電車(27本)
</h3><a href="#横須賀線-大船-久里浜方面(下り)-平日">平日(9本)</a>
/ <a href="#横須賀線-大船-久里浜方面(下り)-土曜日">土曜日(9本)</a>
/ <a href="#横須賀線-大船-久里浜方面(下り)-休日">休日(9本)</a>
<dl>
  <a name="横須賀線-大船-久里浜方面(下り)-平日"></a>
  <dt class="list-title">
    平日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          05:56
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          逗子
        </td>
        <td>
          06:02
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          06:25
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横須賀
        </td>
        <td>
          06:43
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          07:12
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          逗子
        </td>
        <td>
          07:30
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          15:21
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          15:51
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          16:39
        </td>
      </tr>
    </table>
  </dd>
  <a name="横須賀線-大船-久里浜方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          05:56
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          逗子
        </td>
        <td>
          06:01
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          06:28
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横須賀
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          逗子
        </td>
        <td>
          15:02
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          15:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          15:49
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          17:57
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          逗子
        </td>
        <td>
          18:18
        </td>
      </tr>
    </table>
  </dd>
  <a name="横須賀線-大船-久里浜方面(下り)-休日"></a>
  <dt class="list-title">
    休日(9本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          05:56
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          逗子
        </td>
        <td>
          06:01
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          06:28
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          横須賀
        </td>
        <td>
          14:50
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          逗子
        </td>
        <td>
          15:02
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          15:31
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          15:49
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          久里浜
        </td>
        <td>
          17:57
        </td>
      </tr>
      <tr>
        <td>
          大船
        </td>
        <td>
          逗子
        </td>
        <td>
          18:18
        </td>
      </tr>
    </table>
  </dd>
</dl>
