<h3>
  新羽駅始発の横浜市営ブルーライン あざみ野方面電車(10本)
</h3><a href="#横浜市営ブルーライン-新羽-あざみ野方面-平日">平日(6本)</a>
/ <a href="#横浜市営ブルーライン-新羽-あざみ野方面-土曜日">土曜日(2本)</a>
/ <a href="#横浜市営ブルーライン-新羽-あざみ野方面-休日">休日(2本)</a>
<dl>
  <a name="横浜市営ブルーライン-新羽-あざみ野方面-平日"></a>
  <dt class="list-title">
    平日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新羽
        </td>
        <td>
          あざみ野
        </td>
        <td>
          05:15
        </td>
      </tr>
      <tr>
        <td>
          新羽
        </td>
        <td>
          あざみ野
        </td>
        <td>
          05:29
        </td>
      </tr>
      <tr>
        <td>
          新羽
        </td>
        <td>
          あざみ野
        </td>
        <td>
          05:41
        </td>
      </tr>
      <tr>
        <td>
          新羽
        </td>
        <td>
          あざみ野
        </td>
        <td>
          06:20
        </td>
      </tr>
      <tr>
        <td>
          新羽
        </td>
        <td>
          あざみ野
        </td>
        <td>
          06:33
        </td>
      </tr>
      <tr>
        <td>
          新羽
        </td>
        <td>
          あざみ野
        </td>
        <td>
          06:47
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜市営ブルーライン-新羽-あざみ野方面-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新羽
        </td>
        <td>
          あざみ野
        </td>
        <td>
          05:29
        </td>
      </tr>
      <tr>
        <td>
          新羽
        </td>
        <td>
          あざみ野
        </td>
        <td>
          05:41
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜市営ブルーライン-新羽-あざみ野方面-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新羽
        </td>
        <td>
          あざみ野
        </td>
        <td>
          05:29
        </td>
      </tr>
      <tr>
        <td>
          新羽
        </td>
        <td>
          あざみ野
        </td>
        <td>
          05:41
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  新羽駅始発の横浜市営ブルーライン 湘南台方面電車(3本)
</h3>
<dl>
  <a name="横浜市営ブルーライン-新羽-湘南台方面-平日"></a>
  <dt class="list-title">
    平日(3本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          新羽
        </td>
        <td>
          湘南台
        </td>
        <td>
          06:42
        </td>
      </tr>
      <tr>
        <td>
          新羽
        </td>
        <td>
          湘南台
        </td>
        <td>
          06:55
        </td>
      </tr>
      <tr>
        <td>
          新羽
        </td>
        <td>
          湘南台
        </td>
        <td>
          07:04
        </td>
      </tr>
    </table>
  </dd>
</dl>
