<h3>
  横浜駅始発の横浜市営ブルーライン 湘南台方面電車(3本)
</h3><a href="#横浜市営ブルーライン-横浜-湘南台方面-平日">平日(1本)</a>
/ <a href="#横浜市営ブルーライン-横浜-湘南台方面-土曜日">土曜日(1本)</a>
/ <a href="#横浜市営ブルーライン-横浜-湘南台方面-休日">休日(1本)</a>
<dl>
  <a name="横浜市営ブルーライン-横浜-湘南台方面-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          湘南台
        </td>
        <td>
          05:20
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜市営ブルーライン-横浜-湘南台方面-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          湘南台
        </td>
        <td>
          05:20
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜市営ブルーライン-横浜-湘南台方面-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          湘南台
        </td>
        <td>
          05:20
        </td>
      </tr>
    </table>
  </dd>
</dl>
