<h3>
  川和町駅始発の横浜市営グリーンライン 中山方面電車(6本)
</h3><a href="#横浜市営グリーンライン-川和町-中山方面-平日">平日(2本)</a>
/ <a href="#横浜市営グリーンライン-川和町-中山方面-土曜日">土曜日(2本)</a>
/ <a href="#横浜市営グリーンライン-川和町-中山方面-休日">休日(2本)</a>
<dl>
  <a name="横浜市営グリーンライン-川和町-中山方面-平日"></a>
  <dt class="list-title">
    平日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          川和町
        </td>
        <td>
          中山
        </td>
        <td>
          05:13
        </td>
      </tr>
      <tr>
        <td>
          川和町
        </td>
        <td>
          中山
        </td>
        <td>
          05:24
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜市営グリーンライン-川和町-中山方面-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          川和町
        </td>
        <td>
          中山
        </td>
        <td>
          05:14
        </td>
      </tr>
      <tr>
        <td>
          川和町
        </td>
        <td>
          中山
        </td>
        <td>
          05:25
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜市営グリーンライン-川和町-中山方面-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          川和町
        </td>
        <td>
          中山
        </td>
        <td>
          05:14
        </td>
      </tr>
      <tr>
        <td>
          川和町
        </td>
        <td>
          中山
        </td>
        <td>
          05:25
        </td>
      </tr>
    </table>
  </dd>
</dl>
