<h3>
  町田駅始発の横浜線 上り電車(8本)
</h3><a href="#横浜線-町田-東神奈川方面(上り)-平日">平日(6本)</a>
/ <a href="#横浜線-町田-東神奈川方面(上り)-土曜日">土曜日(1本)</a>
/ <a href="#横浜線-町田-東神奈川方面(上り)-休日">休日(1本)</a>
<dl>
  <a name="横浜線-町田-東神奈川方面(上り)-平日"></a>
  <dt class="list-title">
    平日(6本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          町田
        </td>
        <td>
          東神奈川
        </td>
        <td>
          06:47
        </td>
      </tr>
      <tr>
        <td>
          町田
        </td>
        <td>
          東神奈川（経由）
        </td>
        <td>
          07:52
        </td>
      </tr>
      <tr>
        <td>
          町田
        </td>
        <td>
          東神奈川
        </td>
        <td>
          08:05
        </td>
      </tr>
      <tr>
        <td>
          町田
        </td>
        <td>
          東神奈川
        </td>
        <td>
          08:22
        </td>
      </tr>
      <tr>
        <td>
          町田
        </td>
        <td>
          東神奈川
        </td>
        <td>
          08:33
        </td>
      </tr>
      <tr>
        <td>
          町田
        </td>
        <td>
          東神奈川（経由）
        </td>
        <td>
          09:17
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜線-町田-東神奈川方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          町田
        </td>
        <td>
          東神奈川
        </td>
        <td>
          07:09
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜線-町田-東神奈川方面(上り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          町田
        </td>
        <td>
          東神奈川
        </td>
        <td>
          07:09
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  町田駅始発の横浜線 下り電車(3本)
</h3><a href="#横浜線-町田-八王子方面(下り)-平日">平日(1本)</a>
/ <a href="#横浜線-町田-八王子方面(下り)-土曜日">土曜日(1本)</a>
/ <a href="#横浜線-町田-八王子方面(下り)-休日">休日(1本)</a>
<dl>
  <a name="横浜線-町田-八王子方面(下り)-平日"></a>
  <dt class="list-title">
    平日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          町田
        </td>
        <td>
          八王子
        </td>
        <td>
          04:56
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜線-町田-八王子方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          町田
        </td>
        <td>
          八王子
        </td>
        <td>
          04:56
        </td>
      </tr>
    </table>
  </dd>
  <a name="横浜線-町田-八王子方面(下り)-休日"></a>
  <dt class="list-title">
    休日(1本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          町田
        </td>
        <td>
          八王子
        </td>
        <td>
          04:56
        </td>
      </tr>
    </table>
  </dd>
</dl>
