<h3>
  横浜駅始発のJR横須賀線 上り電車(21本)
</h3><a href="#JR-横須賀線-横浜-東京方面(上り)-平日">平日(7本)</a>
/ <a href="#JR-横須賀線-横浜-東京方面(上り)-土曜日">土曜日(7本)</a>
/ <a href="#JR-横須賀線-横浜-東京方面(上り)-休日">休日(7本)</a>
<dl>
  <a name="JR-横須賀線-横浜-東京方面(上り)-平日"></a>
  <dt class="list-title">
    平日(7本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          11:59 (特急 成田エクスプレス25号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          12:59 (特急 成田エクスプレス29号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          13:59 (特急 成田エクスプレス33号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          14:59 (特急 成田エクスプレス37号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          15:59 (特急 成田エクスプレス41号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          16:59 (特急 成田エクスプレス45号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          17:59 (特急 成田エクスプレス49号)
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-横須賀線-横浜-東京方面(上り)-土曜日"></a>
  <dt class="list-title">
    土曜日(7本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          11:59 (特急 成田エクスプレス25号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          12:59 (特急 成田エクスプレス29号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          13:59 (特急 成田エクスプレス33号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          14:59 (特急 成田エクスプレス37号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          15:59 (特急 成田エクスプレス41号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          16:59 (特急 成田エクスプレス45号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          17:59 (特急 成田エクスプレス49号)
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-横須賀線-横浜-東京方面(上り)-休日"></a>
  <dt class="list-title">
    休日(7本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          11:59 (特急 成田エクスプレス25号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          12:59 (特急 成田エクスプレス29号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          13:59 (特急 成田エクスプレス33号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          14:59 (特急 成田エクスプレス37号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          15:59 (特急 成田エクスプレス41号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          16:59 (特急 成田エクスプレス45号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          東京
        </td>
        <td>
          17:59 (特急 成田エクスプレス49号)
        </td>
      </tr>
    </table>
  </dd>
</dl><h3>
  横浜駅始発のJR横須賀線 下り電車(4本)
</h3><a href="#JR-横須賀線-横浜-久里浜方面(下り)-土曜日">土曜日(2本)</a>
/ <a href="#JR-横須賀線-横浜-久里浜方面(下り)-休日">休日(2本)</a>
<dl>
  <a name="JR-横須賀線-横浜-久里浜方面(下り)-土曜日"></a>
  <dt class="list-title">
    土曜日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          横須賀
        </td>
        <td>
          11:16 (特急 成田エクスプレス12号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          横須賀
        </td>
        <td>
          15:16 (特急 成田エクスプレス26号)
        </td>
      </tr>
    </table>
  </dd>
  <a name="JR-横須賀線-横浜-久里浜方面(下り)-休日"></a>
  <dt class="list-title">
    休日(2本)
  </dt>
  <dd>
    <table class="table table-striped">
      <thead>
        <th>
          始発駅
        </th>
        <th>
          方面
        </th>
        <th>
          発車時刻
        </th>
      </thead>
      <tr>
        <td>
          横浜
        </td>
        <td>
          横須賀
        </td>
        <td>
          11:16 (特急 成田エクスプレス12号)
        </td>
      </tr>
      <tr>
        <td>
          横浜
        </td>
        <td>
          横須賀
        </td>
        <td>
          15:16 (特急 成田エクスプレス26号)
        </td>
      </tr>
    </table>
  </dd>
</dl>
