{% assign page_params = site.data.pages[page.url] %}

{% if page_params %}
  {% assign page_title = page_params["title"] %}
  {% assign page_description = page_params["description"] %}
{% else %}
  {% assign page_title = page.title %}
  {% assign page_description = page.description %}
{% endif %}

{% capture title %}{{ page.category_title }}{% if page.category_title %}（第{{ page.order_in_category }}回）：{% endif %}{{ page_title }}{% endcapture %}

{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
<ul class="sns-buttons-count">
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{url}}" data-text="{{title}}" data-via="{{site.twitter_username}}" data-count="" data-lang="ja">ツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!-- data-count="none/vertical" -->
  </li>

  <li>
    <div class="fb-share-button" href="{{url}}" data-layout="button_count" data-href="http://blog.enogineer.com/"></div>
    <!-- data-action="like" data-share-"true" -->
    <!-- standard/box_count/button_count/button -->
  </li>

  <li>
    <a href="http://b.hatena.ne.jp/entry/{{ url }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ page.title }}" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    <!-- data-hatena-bookmark-layout="standard/standard-balloon/simple/simple-balloon/vertical" -->
  </li>

  <li>
    <div class="g-plusone" data-size="standard"></div>
    <!-- data-size="small/medium/standard/tall"-->
  </li>

  <li>
    <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="ja"></a>
    <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
    <!-- data-pocket-count="none/horizontal/vertical" -->
  </li>
</ul>
