{% assign active_navigation_index = 0 %}

<section class="top-navigation mt8 mb8">
  <ul class="nav nav-tabs" role="tablist">
    {% if page_primary_path == "backnumber" %}
      {% assign active_index = 3 %}
    {% elsif page_primary_path == "genres" %}
      {% assign active_index = 2 %}
    {% elsif page_primary_path == "genre" %}
      {% assign active_index = 2 %}
    {% elsif page_primary_path == "tags" %}
      {% assign active_index = 2 %}
    {% elsif page_primary_path == "categories" %}
      {% assign active_index = 1 %}
    {% else %}
      {% assign active_index = 0 %}
    {% endif %}
    {% for nav in site.data.category_navigations %}
      {% if forloop.index0 == active_index %}
        <li class="active"><a href="#">{{ nav["name"] }}</a></li>
      {% else %}
        <li><a href="{{ nav["url"] }}">{{ nav["name"] }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
