<div class="layout-header">
  <header class="post-header mv8">
    <h1><a href="{{page.url}}">{{site.data["category_params"][page.category]["h1"]}}</a></h1>
  </header>
  {% include sns-buttons.html %}
</div>

<div class="layout-center mt8">
  <div class="mb20">
    <p class="category-description">{{page.description}}</p>
  </div>

  <dl class="nav-box">
    <dt>{{ page.title }}</dt>
    <dd>
      <ul class="clearfix">
        {% for post in page.posts reversed %}
        {% include category-post-link.html %}
        {% endfor %}
      </ul>
    </dd>
  </dl>
</div>

<div class="layout-sidebar">
  {% include sidebar-contents.html %}
</div>
