{% capture post_thumbnail %}/img/240/{{ post.image }}{% endcapture %}
{% capture post_main_image %}/img/600/{{ post.image }}{% endcapture %}
{% capture page_thumbnail %}/img/240/{{ page.image }}{% endcapture %}
{% capture page_main_image %}/img/600/{{ page.image }}{% endcapture %}

{% assign post_category = post.categories | join %}
{% assign post_category_params = site.data.category_params[post_category] %}

{% assign post_order_in_category = nil %}
{% for i_post in site.categories[post_category] %}{% if i_post.url == post.url %}
{% assign post_order_in_category = forloop.rindex %}
{% endif %}{% endfor %}

{% assign parent_post = nil %}
{% if post_category %}
  {% for i_parent_post in site.categories['category-posts-index'] %}
    {% if i_parent_post.sub_category == post_category %}{% assign parent_post = i_parent_post %}{% endif %}
  {% endfor %}
{% endif %}
