<div class="feed-buttons mb10 inline float-right">
  <a class="btn btn-twitter" href="https://twitter.com/intent/follow?screen_name={{ site.twitter_username}}">{% include twitter-icon.html %}</a>
  <a class="btn btn-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">RSS</a>
  <a class="btn btn-feedly" href='http://cloud.feedly.com/#subscription%2Ffeed%2F{{ site.url }}'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-logo-white_2x.png' alt='Feedlyでフォローする' width='18' height='18'></a>
  <!--a class="btn btn-feedly" href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fblog.enogineer.com%2F" target="_blank">Feedly</a-->
</div>

