{% assign page_params = site.data["params"][page.url] %}

{% if page_params %}
  {% assign page_title = page_params["title"] %}
  {% assign page_description = page_params["description"] %}
{% else %}
  {% assign page_title = page.title %}
  {% assign page_description = page.description %}
{% endif %}

{% capture title %}{{ page.category_title }}{% if page.category_title %}（第{{ page.order_in_category }}回）：{% endif %}{{ page_title }}{% endcapture %}

{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
<ul class="sns-buttons-flat">
  <li>
    <a class="btn btn-twitter" href="http://twitter.com/share?url={{url}}&text={{title}}">t</a>
  </li>
  <!--li>
    <a class="btn btn-facebook" href="http://www.facebook.com/plugins/like.php?href={{url}}" onclick="javascript:window.open('http://www.facebook.com/plugins/like.php?href={{url}}' ,null ,'width=650 ,height=450'); return false;" rel="nofollow">いいね！</a>
  </li-->
  <li>
    <a class="btn btn-facebook" href="http://www.facebook.com/share.php?u={{url}}" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">シェア</a>
  </li>
  <li>
    <a class="btn btn-hatena" href="http://b.hatena.ne.jp/add?mode=confirm&url={{url}}&title={{title}}">B!</a>
  </li>
  <li>
    <a class="btn btn-google" href="https://plus.google.com/share?url={{url}}" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">g+</a>
  </li>
  <li>
    <a class="btn btn-pocket" href="http://getpocket.com/edit?url={{url}}&title={{title}}" onclick="window.open(this.href, 'FBwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">Pocket</a>
  </li>
</ul>
