<footer class="site-footer mt14">
  <div class="ft-content">
    <dl class="ft-box">
      <dt class="ft-title">話題ワード</dt>
      <dd>
        <ul class="hlist">
      {% for tag_category in site.data.tag_categories %}{% for tag_name in tag_category["tag_names"] %}{% assign tag_url = site.data.tag_urls[tag_name] %}{% if tag_url %}
        <li class="ft-link"><a href="{{tag_url}}">{{tag_name}}</a></li>
      {% endif %}{% endfor %}{% endfor %}
        </ul>
      </dd>
    </dl>
    <div class="center mt14">
      <a href="{{site.url}}">{{site.title}}</a> by <a href="http://twitter.com/{{site.twitter_username}}">@{{site.twitter_username}}</a>
    </div>
  </div>
</footer>
