{% if site.google_adsense %}
<script>document.write('<div style="margin-bottom: 10px; width:336px;"><p style="text-align:center; color: #888;">[広告]<p>');</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- rectangle -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-7168540472042077"
     data-ad-slot="9192015946"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script>document.write('</div>');</script>
{% endif %}
