{% if site.google_adsense %}
<script>document.write('<div style="margin-bottom: 10px;"><p style="color: #888;"><p>');</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- big-banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7168540472042077"
     data-ad-slot="6238549549"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script>document.write('</div>');</script>
{% endif %}
