{% if page.description %}{% assign description = page.description %}{% else %}{% assign description = site.description %}{% endif %}
{% assign canonical_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.params[page.url]["h1"] }}{{ description }}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | replace: ' ', ','}},{% endif %}{{ site.keywords }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="blog">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:description" content="{{ site.params[page.url]["h1"] }}{{ description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}{{ page.main_image }}">
    {% elsif page.thumbnail %}
    <meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}">
    {% endif %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
{% include tracking.html %}
</head>
