{% assign post = page %}
{% include decorate-post.html %}

{% assign page_params = site.data["params"][page.url] %}

{% if page_params %}
  {% assign page_title = page_params["title"] %}
  {% assign page_description = page_params["description"] %}
{% else %}
  {% assign page_title = page.title %}
  {% assign page_description = page.description %}
{% endif %}

{% if page.keywords %}
  {% assign keywords = page.keywords %}
{% else %}
  {% assign keywords = site.keywords %}
{% endif %}

{% capture description %}{% if page_description %}{{ page_description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}

{% capture title %}{{ parent_post.title }}{% if parent_post %}：{% endif %}{{ page_title }}{% if page_title %}｜{% endif %}{{ site.title }}{% endcapture %}

{% include decorate-post.html %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords  | replace: ' ', ',' }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ "/atom.xml" | prepend: site.baseurl }}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS2.0" href="{{ "/feed.xml" | prepend: site.baseurl }}"/>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="blog">
    <meta property="og:url" content="{{ site.url }}{{page.url}}">
    <meta property="og:description" content="{{ site.params[page.url]["h1"] }}{{ description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="{{ site.url }}{{ page_main_image }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
{% include tracking.html %}
</head>
