{% assign post = page %}
{% include decorate-post.html %}

{% assign page_params = site.data.pages[page.url] %}

{% if page_params %}
  {% assign page_title = page_params["title"] %}
  {% assign page_description = page_params["description"] %}
{% else %}
  {% assign page_title = page.title %}
  {% assign page_description = page.description %}
{% endif %}

{% if page.keywords %}
  {% assign keywords = page.keywords %}
{% else %}
  {% assign keywords = site.keywords %}
{% endif %}

{% capture description %}{% if page_description %}{{ page_description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}

{% capture title %}{{ parent_post.title }}{% if parent_post %}：{% endif %}{{ page_title }}{% if page_title %}｜{% endif %}{{ site.title }}{% if site.sub_title %} 〜{{ site.sub_title }}〜{% endif %}{% endcapture %}

{% include decorate-post.html %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords  | replace: ' ', ',' }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ "/atom.xml" | prepend: site.baseurl }}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS2.0" href="{{ "/feed.xml" | prepend: site.baseurl }}"/>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:description" content="{{ site.params[page.url]["h1"] }}{{ description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:image" content="{{ site.url }}{{ page_main_image }}">
    {% if page.youtube %}
    <meta property="og:type" content="video">
        <meta property="og:video:url" content="https://www.youtube.com/embed/{{ page.youtube }}">
        <meta property="og:video:secure_url" content="https://www.youtube.com/embed/{{ page.youtube }}">
        <meta property="og:video:type" content="text/html">
        <meta property="og:video:width" content="1280">
        <meta property="og:video:height" content="720">
        <meta property="og:video:url" content="http://www.youtube.com/v/{{ page.youtube }}?version=3&amp;autohide=1">
        <meta property="og:video:secure_url" content="https://www.youtube.com/v/{{ page.youtube }}?version=3&amp;autohide=1">
        <meta property="og:video:type" content="application/x-shockwave-flash">
        <meta property="og:video:width" content="1280">
        <meta property="og:video:height" content="720">

    <meta name="twitter:card" content="player">
      <meta name="twitter:player" content="https://www.youtube.com/embed/TVc-ThM0Zho">
      <meta name="twitter:player:width" content="1280">
      <meta name="twitter:player:height" content="720">
    {% else %}
      <meta property="og:type" content="blog">
    <meta name="twitter:card" content="summary" />
    {% endif %}

    <meta name="twitter:site" content="@{{site.twitter_username}}" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ site.url }}{{ page_main_image }}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
{% include tracking.html %}
</head>
