<header class="post-header">
  <div class="post-tags">
    {% for tag_name in post.tags %}{% assign tag_url = site.data.tag_urls[tag_name] %}{% if tag_url %}
      <a href="{{ tag_url }}">{{ tag_name }}</a>
    {% endif %}{% endfor %}
  </div>

  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="meta">
    {{ post.date | date: "%Y/%m/%d" }}
    {% if post.author %}<a href="http://twitter.com/{{ post.author }}/">@{{ post.author }}</a>{% endif %}
    {% if post.meta %} • {{ post.meta }}{% endif %}
  </p>
</header>
