{% if site.post_summary_sidebar %}
  {% assign wrap_class = '' %}
  {% assign layout_center_class = 'layout-center' %}
{% else %}
  {% assign wrap_class = 'wrap' %}
  {% assign layout_center_class = 'layout-center-sp' %}
{% endif %}
<div class="{{wrap_class}}">
  <div class="layout-header">
    <header class="index-header">
      <h1>{{ site.data["params"][page.url]["h1"] }}</h1>
    </header>
  </div>

  <div class="{{layout_center_class}} clearfix">
    {% for post in posts %}
      {% if false %}
        {% include post-banner.html %}
      {% else %}
        {% include post-summary.html %}
      {% endif %}
    {% endfor %}

    {% if posts.size != site.posts.size %}
      <div>
        <!--a href="/page{{ paginator.next_page }}" class="next btn btn-primary">もっと見る</a-->
        <a href="/backnumber.html" class="next btn btn-primary w240 ph0">もっと見る</a>
      </div>
    {% endif %}
  </div>

  {% if site.post_summary_sidebar %}
    <div class="layout-sidebar">
      {% include sidebar-contents.html %}
    </div>
  {% endif %}
</div>

