{% assign post = page %}
<article class="post post-content border-box padding-box">
  <header class="post-header">
    {% include post-tags.html %}

    <h2>{% include post-title.html %}</a></h2>
    <p class="meta">
      {{ post.date | date: "%Y/%m/%d" }}
      {% if post.author %} • {{ post.author }}{% endif %}
      {% if post.meta %} • {{ post.meta }}{% endif %}
    </p>
  </header>

  {% if post.main_image %}<img src="{{ post.main_image }}" alt="{{ post.title }}">{% endif %}
  <p>{{ post.description }}</p>
  <p> <a href="{{post.url}}" class="btn btn-primary">続きを読む</a></p>
</article>
