<div class="post">

  <header class="post-header">
    <div class="post-tags">
    {% for tag in page.tags %}{% for tag_category in site.tag_categories %}{% for site_tag in tag_category[2] %}{% if site_tag == tag %}
    <a href="{{ tag_category[0] }}#{{ tag }}">{{ tag }}</a>
    {% endif %}{% endfor %}{% endfor %}{% endfor %}
  </div>

    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="meta">
    {{ page.date | date: "%b %-d, %Y" }}
    {% if page.author %} • {{ page.author }}{% endif %}
    {% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </header>

  <article class="post-content">
    {% if content %}{{ content }}{% else %}{{ page.content }}{% endif %}
    {% include sns-buttons.html %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="next">次のページ</a>
    {% endif %}
  </div>

  </article>

  <div class="post-sidebar">
    {% include recent-posts.html %}

    {% include related-posts.html %}

    <div class="side-box"><p class="text">{{ site.description }}</p></div>

    {% include site-info.html %}
  </div>


</div>
