<article class="post post-content border-box padding-content">
  <header class="post-header">
  <div class="post-tags">
    {% for tag in page.tags %}{% for tag_category in site.data.tag_categories %}{% for site_tag in tag_category["tags"] %}{% if site_tag == tag %}
      <a href="{{ site.data.tag_urls[tag] }}">{{ tag }}</a>
    {% endif %}{% endfor %}{% endfor %}{% endfor %}
  </div>

  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <p class="meta">
    {{ page.date | date: "%Y/%m/%d" }}
    {% if post.author %} • {{ post.author }}{% endif %}
    {% if post.meta %} • {{ post.meta }}{% endif %}
  </p>
  </header>

  {% if content %}{{ content }}{% else %}{{ page.content }}{% endif %}
  {% include sns-buttons.html %}
</article>
