<div class="wrap">

<div class="top-navigation">
<ul class="nav nav-tabs" role="tablist">
  <li><a href="/">トップ</a></li>
  <li class="active"><a href="#">ジャンル</a></li>
</ul>
</div>

<div class="tags-navigation">

<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
  {% for tag_type in site.tag_types %}{% if tag_type[0] == page.url %}
  <li class="active"><a href="{{ tag_type[0] }}">{{ tag_type[1] }}</a></li>
  {% else %}
  <li><a href="{{ tag_type[0] }}">{{ tag_type[1] }}</a></li>
  {% endif %}{% endfor %}
    </ul>
  </div><!-- /.container-fluid -->
</nav>
</div>

</div>
