<div class="tags-navigation">
  <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
        {% for tag_category in site.data.tag_categories %}{% if tag_category["url"] == page.url %}
          <li class="active"><a href="{{ tag_category["url"] }}">{{ tag_category["name"] }}</a></li>
        {% else %}
          <li><a href="{{ tag_category["url"] }}">{{ tag_category["name"] }}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </div><!-- /.container -->
  </nav>
</div>
