<div class="layout-header">
  <header class="index-header">
    <h1>
      {{ site.params[page.url]["h1"] }}
      <!--{% include nav-tags.html %}-->
    </h1>
  </header>
</div>

<div class="layout-center">
  <dl class="border-box padding-content nav-box">
    {% for tag_category in site.data.tag_categories %}{% if tag_category["url"] == page.url %}{% for tag_name in tag_category["tag_names"] %}{% assign tag_url = site.data.tag_urls[tag_name] %}{% if tag_url %}{% for tag in site.tags %}{% if tag[0] == tag_name %}
    {% include tag-posts.html %}
    {% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}
  </dl>
</div>

<div class="layout-sidebar">
  {% include sidebar-contents.html %}
</div>
