body {
  font-family: "メイリオ", Helvetica, Arial, sans-serif;
}

.post-header h1 { font-size: 32px; }

.post pre,
.post code {
  overflow: auto;
}

.recent-posts {
  margin-bottom: 20px;
}

.site-footer {
  border: none;
}

.footer-col-1.column,
.footer-col-2.column,
.footer-col-3.column {
  margin-top: 10px;
}

.recent-posts {
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  padding: 0px 10px;
}

.recent-posts-title { line-height: 36px; }

.site-header {
	height: 56px;
}
