body {
  font-family: "メイリオ", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.page-content {
  margin: 0px;
  padding: 0px;
}

.site-header { padding: 0px 2%; }

.site-footer {
  border: none;
  color: #828282;
}

.footer-col-1.column,
.footer-col-2.column,
.footer-col-3.column {
  margin-top: 10px;
}

dl dt {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -1px;
}

table th {
  white-space: nowrap;
}