.post-content img { width: 600px; }
.index-image { width: 400px; }
.thumbnail { width: 120px; }

@media screen and (max-width: 1080px) {
  .post-content img { width: 480px; }
}

@media screen and (max-width: 850px) {
  .post-content img { width: 400px; }
}

@media screen and (max-width: 700px) {
  .post-content img { width: 320px; }
}

@media screen and (max-width: 340px) {
  .post-content img { width: 100%; }
}
