.layout-header {
  margin: 0px 2%;
}

.layout-center {
   width: 64%;
   margin: 10px 0px 10px 2%;
   padding: 0px;
   float: left;
 }

.post-content {
  padding: 10px 30px;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
}

.pagination {
  margin-bottom: 12px;
  padding: 0px 30px;
}

.layout-sidebar {
  width: 28%;
  margin: 10px 2% 10px 2%;
  padding: 0px;
  float: left;
}

@media screen and (max-width: 620px) {
  .layout-center, .layout-sidebar {
    width: 96%;
    margin: 10px 2%;
    padding: 0px;
    float: none;
  }
}
