.post-header {
  margin: 0px;
  padding: 0px;
}
.post-header h1 { font-size: 32px; }

.post pre,
.post code {
  overflow: auto;
}

.post-content {
  padding: 10px 4%;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
}
