.post-header {
  margin: 0px;
  padding: 0px;
}
.post-header h1 { font-size: 32px; }

.post pre,
.post code {
  overflow: auto;
}

.post h3 {
  font-size: 22px;
  border-left: solid 6px #aaf;
  border-bottom: solid 1px #aaf;
  padding: 2px 0px 2px 6px;
}

.post-title-meta {
  font-size: 12px;
  color: #818181;
}

.post dl dt,
.post dl dd
{
  font-size: 16px;
}
.post dl dd {
  margin-left: 16px;
}
