.post-header {
  margin: 0px;
  padding: 0px;
}
.post-header h1 { font-size: 32px; }

.post pre,
.post code {
  overflow: auto;
}

.post h3 {
  font-size: 22px;
  border-bottom: dotted 1px #aaf;
  padding: 0px 0px 8px;
  margin: 32px 0px 16px;
}

.post-title-meta {
  font-size: 12px;
  color: #818181;
}

.post > dl > dt,
.post > dl > dd
{
  font-size: 16px;
}
.post > dl > dd {
  margin-left: 16px;
}

.post ul,
.post li {
  margin: 0px;
  padding: 0px;
}