.fb_iframe_widget > span,
.hatena-bookmark-button > img {
  vertical-align: baseline !important;
}

.sns-buttons {
  margin: 0px;
  overflow: hidden;
  float: none;
}
.sns-buttons li {
  float: left;
  margin-right: 4px;
  list-style: none;
}

