.post-tags {
  margin: 0px 0px 8px 0px;
  padding: 0px;
}

.post-tags a {
  color: #fff;
  background-color: #bbb;
  border-radius: 4px;
  line-height: 32px;
  margin: 2px;
  padding: 2px;
}

.post-tags a:hover {
  background-color: #888;
}

.tags-title { font-size: 20px; padding: 0px; }
.tags-posts { list-style-type: none; }
.tags-posts li { margin: 10px; }
.tags-content { padding: 10px 4%; }
.tags-thumbnail { width: 120px; }
