{% if site.google_adsense %}
{% if page.hide_google_adsense_side %}
{% else %}
<script>document.write('<dl class="announce-box"><dt><span class="announce-title">広告</span></dt><dd>');</script>
<div class="mb10 clearfix">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive-side -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7168540472042077"
     data-ad-slot="8399183144"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<script>document.write('</dd></dl>');</script>
{% endif %}
{% endif %}
