{% include decorate-post.html %}

<article class="post">
  <p class="post-content-description mv10 mh0">
    {{ post.description }}
    <span style="font-size: 14px">({{ post.date | date: "%Y/%m/%d" }})</span>
  </p>

  {% if post.image %}<img class="w{{site.styles.post.image_size}}" src="{{post_main_image}}" alt="{{post.title}}">{% endif %}

  {% if content %}{{ content }}{% else %}{{ post.content }}{% endif %}

  {% if post.sub_category %}{% include sub-category-posts.html %}{% endif %}
</article>
{% include post/next.html %}
{% include sns-buttons/vertical.html %}
{% include post/amazon-associate.html %}
{% include category-posts.html %}
{% include post-related-posts.html %}
