<section class="post-summary mb28" data-url="{{ post.url }}">
  <header class="mb10">
    <div class="post-summary-date mb10 dotted-border-bottom">{{ post.date  | date: "%Y年%m月%d日" }}</div>
    <h2>{% include post/title.html %}</h2>
  </header>

  <article class="post-summary-content clearfix">
    {% if post.image %}<div class="pr10 mb2" style="float: left;"><a href="{{ post.url }}"><img class="{{site.styles.summary.image_class}}" src="{{ post_main_image }}" alt="{{ post.title }}"></a></div>{% endif %}
    <div>
      <p>{{ post.description }}
        <a href="{{post.url}}" class="btn btn-primary" style="padding: 2px 4px;">続きを読む</a></p>
    </div>
  </article>
</section>
