<!DOCTYPE html>
{% include decorate-page.html %}
<html>

  {% include head.html %}

  <body>
    {% include body-first.html %}
    <div id="page">
      {% include mmenu/header.html %}
      <div class="page-content clearfix">
        {% include top-navigation.html %}

        {% include category-layout.html %}
      </div>
      {% include footer.html %}
      <nav id="menu">
        {% include mmenu-category-navigation.html %}
      </nav>
    </div>

    {% include body-last.html %}
  </body>
</html>
