{% include decorate-page.html %}
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="{{ page.body_id }}">
    {% include body-first.html %}
    <div id="page">
      {% include mmenu/header.html %}
      <div class="page-content">
        {% include top-navigation.html %}

        {{ content }}

        {% include footer.html %}
      </div>
      <nav id="menu">
        {% include mmenu-category-navigation.html %}
      </nav>
    </div>

    {% include body-last.html %}
  </body>
</html>
