---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-description">
      {{ page.description}}
    </div>
  <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}

      <div class="post-sns-buttons">
        <a
          href="https://twitter.com/share?ref_src=twsrc%5Etfw"
          class="twitter-share-button"
          data-show-count="false"
          >Tweet</a
        ><script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>

        <div style="display: inline-block;">
          <a
        href="http://b.hatena.ne.jp/entry/"
        class="hatena-bookmark-button"
        data-hatena-bookmark-layout="basic-label"
        data-hatena-bookmark-lang="ja"
        title="このエントリーをはてなブックマークに追加"
        ><img
          src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
          alt="このエントリーをはてなブックマークに追加"
          width="20"
          height="20"
          style="border: none;"/></a
        ><script
          type="text/javascript"
          src="https://b.st-hatena.com/js/bookmark_button.js"
          charset="utf-8"
          async="async"
        ></script>
        </div>

        <div style="display: inline-block;position:relative;top:-6px;">
          <div class="fb-share-button" data-href="" data-layout="button" data-size="">
          </div>
          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v17.0" nonce="ne9v4ZE4"></script>
        </div>
      </div>
    </p>
  </header>

  
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
