---
layout: default
---
{% assign active_navigation_index = 0 %}
{% assign post = page %}
{% include decorate-post.html %}

<div class="layout-header">
  <!--img src="{{ post.main_image }}" class="w320" style="float:left;"-->
</div>

{% include layout-left.html %}

{% if post.ad_count >= 3 %}
{% assign main_class = 'layout-middle' %}
{% else %}
{% assign main_class = 'layout-center' %}
{% endif %}

<div class="{{ main_class }}">
  {% if post.ad_count >= 3 %}
  {% include google-adsence-responsive.html %}
  {% endif %}
  {% include post/header.html %}
  {% include post/content.html %}
  {% include google-adsence-responsive-ad.html %}
</div>

{% include layout-right.html %}
