---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}

      <div class="sns-buttons">
        <a class="btn-mr" href="http://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{page.title}}" target="_blank">
          <div class="btn btn-twitter" >
            <img width="14" height="14" src="{{ site.baseurl }}/assets/images/icons/twitter.svg" alt="Twitter"/>
          </div>
        </a>

        <a
          class="btn-mr"
          href="http://www.facebook.com/share.php?u={{ site.url }}{{ page.url }}"
          onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">
          <div class="btn btn-facebook">シェア</div>
        </a>

        <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ site.url }}{{ page.url }}" target="_blank">
          <div class="btn btn-hatena" >B!</div>
        </a>
      </div>
    </p>
  </header>

  
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
